//layout
.footer {
  padding:25px 0;
  text-align: center;
  .f_logo {
    margin-bottom:22px;
  }
  .desc {
    font-weight: 500;
    font-size:12px;
    line-height:16px;
    color:#2B2B2B;
    + .desc {
      margin-top:8px;
    }
  }
}
.nav-wrap {
  position: fixed;
  right:-100%;
  top:0;
  width:100%;
  height:100%;
  background-color:rgba($color: #000000, $alpha: .36);
  .inner {
    position: relative;
    right:-100%;
    height:100%;
    margin-left:50px;
    background-color:#FFFFFF;
    transition: all ease-in-out .5s;
    .nav-header {
      padding:16px 20px;
      font-size:16px;
      color:#093687;
      font-weight: 700;
      border-bottom:1px solid #093687;
    }
    .direct-wrap {
      padding:10px 0;
      text-align: center;
      border-bottom:1px solid #707070;
      a{
        display:inline-block;
        padding-top:35px;
        font-size:14px;
        line-height:16px;
        font-weight: 500;
        color:$black;
        @each $obj in link1 , link2 ,link3 {
          &.#{$obj}{
            @include bg(btn/btn_#{$obj},$pos:center top);
            background-size:26px;
          }
        }
        + a {
          margin-left:26px;
        }
      }
    }
    .my-info {
      background-color:#E9E9E9;
      .box {
        padding:16px 10px;
        p {
          display:flex;
          font-size:14px;
          line-height:16px;
          + p {
            margin-top:6px;
          }
          span {
            margin-left:auto;
          }
        }
      }
      .bottom {
        display:flex;
        border-top:1px solid #fff;
        p {
          display:flex;
          width:50%;
          font-size:16px;
          line-height:18px;
          padding:16px 10px;
          + p {
            border-left:1px solid #fff;
          }
          span {
            margin-left:auto;
            color:#093687;
            font-weight: 500;
          }
        }
      }
    }
  }
  ul {
    li {
      border-bottom:1px solid #707070;
      a {
        display:block;
        padding:14px 18px;
        font-size:15px;
        line-height:20px;
        color:#000000;
      }
    }
  }
  &.active {
    right:0;
    .inner {
      right:0;
    }
  }
}
//tab
.tab-cont {
  display:none;
  &.active{
    display:block;
  }
}
.tab {
  display:flex;
  padding: 12px 16px;
  button {
    width: 33.33%;
    line-height: 28px;
    font-size: 16px;
    border: 1px solid #eee;
    &.active {
      color:#093687;
      border-color:#093687;
      border-left:1px solid #093687;
      font-weight: 500;
    }
    + button {
      border-left: none;
    }
  }
  &.center {
    justify-content:center;
    button {
      width:auto;
      padding:0 20px;
    }
  }
  &.type1 {
    border-bottom: 1px solid #707070;
    padding: 0 40px;
    button {
      display: block;
      width: 25%;
      text-align: center;
      font-size: 14px;
      line-height: 34px;
      border:none;
      &.active {
        position: relative;
        font-weight: 700;
        color: #093687;
  
        &::after {
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 1px;
          background-color: #093687;
          content: "";
          display: block;
        }
      }
    }
  }
  &.type2 {
      display: flex;
      width: 100%;
      margin-bottom: 0;
      padding: 0;
      button {
        display: block;
        width: 100%;
        height: 34px;
        width: 33.333%;
        height: 34px;
        border:none;
        border-left: 1px solid #fff;
        background-color: #f4f4f4;
        line-height: 34px;
        color: #000000;
        font-size: 14px;
        text-align: center;
        &.active {
          font-weight: 700;
          color: #093687;
          background-color: #fff;
          font-weight: 600;
        }
      }
      &.ty01 {
        .on {
          background: #fff;
          color: #c4291c;
        }
      }
  }
}

//serach
.search {
  position:relative;
  border-bottom: 2px solid #415f9c;
  input {
    width: 100%;
    padding: 16px 10px 16px 53px;
    font-size: 16px;
    color: #000000;
    @include bg(bg/bg_search, $pos: left 20px center);
  }
  &.type1 {
    padding-right:100px;
    button {
      position:absolute;
      right:10px;
      top:50%;
      width:60px;
      height:30px;
      font-size:14px;
      line-height:30px;
      transform: translateY(-50%);
      color:$white;
      background-color:#3F5DC2;
    }
  }
}

//table
.table-base {
  width: 100%;
  background-color: #fff;
  td {
    border-bottom: 1px solid #eeeeee;

    &.tit {
      strong {
        display: block;
        min-height: 12px;
        margin-bottom: 4px;
        line-height: 12px;
        color: #27282a;
        font-size: 14px;
        font-weight: 500;
        word-break: break-all;
      }

      em {
        display: block;
        line-height: 16px;
        color: #333;
        font-size: 11px;
      }
    }

    &.price {
      position: relative;
      padding-bottom: 0;
      text-align: right;

      strong {
        display: block;
        height: 12px;
        margin-bottom: 4px;
        line-height: 12px;
        font-size: 14px;
        font-weight: 500;
      }
      em {
        display: block;
        color: #999;
        font-size: 11px;
      }
    }

    &.percent {
      text-align: right;

      p {
        height: 12px;
        line-height: 12px;
        font-size: 14px;
        font-weight: 500;
      }

      em {
        font-size: 11px;
      }
    }

    &.tradecost {
      padding-right: 12px;
      text-align: right;

      p {
        height: 12px;
        line-height: 12px;
        color: #333;
        font-size: 14px;
        font-weight: 500;

        i {
          color: #999;
          font-size: 10px;
        }
      }
    }
  }
}
