html, body, header, nav, main, aside, section, article, div, p, input, button, h1, h2, h3, h4, h5, h6, address { margin: 0; padding: 0; font-size: 100%; font-family: "Roboto", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue"; font-weight: 400; line-height: 1; -webkit-box-sizing: border-box; box-sizing: border-box; }

ul, ol, dl, li, dt, dd { margin: 0; padding: 0; list-style: none; -webkit-box-sizing: border-box; box-sizing: border-box; }

input, button, textarea { background: none; border: none; font-size: 100%; -webkit-box-sizing: border-box; box-sizing: border-box; border: none; outline: none; }

input:active, input:focus, button:active, button:focus, textarea:active, textarea:focus { color: inherit; }

input { -webkit-appearance: none; -webkit-border-radius: 0; }

input[type="password"] { font-family: sans-serif; }

address { font-style: normal; }

textarea { resize: none; }

table { width: 100%; border-collapse: collapse; }

caption { overflow: hidden; position: absolute; width: 0; height: 0; -webkit-transform: scale(0); transform: scale(0); }

a { color: inherit; text-decoration: none; }

a:active, a:focus { border: none; outline: none; }

img { vertical-align: top; }

@font-face { font-family: "Roboto"; src: url("../fonts/Roboto-Ligth.ttf") format("ttf"), url("../fonts/Roboto-Ligth.ttf") format("ttf"); font-weight: 300; font-style: normal; }

@font-face { font-family: "Roboto"; src: url("../fonts/Roboto-Regular.ttf") format("ttf"), url("../fonts/Roboto-Regular.ttf") format("ttf"); font-weight: 400; font-style: normal; }

@font-face { font-family: "Roboto"; src: url("../fonts/Roboto-Medium.ttf") format("ttf"), url("../fonts/Roboto-Medium.ttf") format("ttf"); font-weight: 500; font-style: normal; }

@font-face { font-family: "Roboto"; src: url("../fonts/Roboto-Bold.ttf") format("ttf"), url("../fonts/Roboto-Bold.ttf") format("ttf"); font-weight: 700; font-style: normal; }

@font-face { font-family: "Roboto"; src: url("../fonts/Roboto-Black.ttf") format("ttf"), url("../fonts/Roboto-Black.ttf") format("ttf"); font-weight: 900; font-style: normal; }

.footer { padding: 25px 0; text-align: center; }

.footer .f_logo { margin-bottom: 22px; }

.footer .desc { font-weight: 500; font-size: 12px; line-height: 16px; color: #2B2B2B; }

.footer .desc + .desc { margin-top: 8px; }

.nav-wrap { position: fixed; right: -100%; top: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.36); }

.nav-wrap .inner { position: relative; right: -100%; height: 100%; margin-left: 50px; background-color: #FFFFFF; -webkit-transition: all ease-in-out .5s; transition: all ease-in-out .5s; }

.nav-wrap .inner .nav-header { padding: 16px 20px; font-size: 16px; color: #093687; font-weight: 700; border-bottom: 1px solid #093687; }

.nav-wrap .inner .direct-wrap { padding: 10px 0; text-align: center; border-bottom: 1px solid #707070; }

.nav-wrap .inner .direct-wrap a { display: inline-block; padding-top: 35px; font-size: 14px; line-height: 16px; font-weight: 500; color: #000; }

.nav-wrap .inner .direct-wrap a.link1 { background: url("../images/btn/btn_link1.png") no-repeat center top transparent; background-size: 26px; }

.nav-wrap .inner .direct-wrap a.link2 { background: url("../images/btn/btn_link2.png") no-repeat center top transparent; background-size: 26px; }

.nav-wrap .inner .direct-wrap a.link3 { background: url("../images/btn/btn_link3.png") no-repeat center top transparent; background-size: 26px; }

.nav-wrap .inner .direct-wrap a + a { margin-left: 26px; }

.nav-wrap .inner .my-info { background-color: #E9E9E9; }

.nav-wrap .inner .my-info .box { padding: 16px 10px; }

.nav-wrap .inner .my-info .box p { display: -webkit-box; display: -ms-flexbox; display: flex; font-size: 14px; line-height: 16px; }

.nav-wrap .inner .my-info .box p + p { margin-top: 6px; }

.nav-wrap .inner .my-info .box p span { margin-left: auto; }

.nav-wrap .inner .my-info .bottom { display: -webkit-box; display: -ms-flexbox; display: flex; border-top: 1px solid #fff; }

.nav-wrap .inner .my-info .bottom p { display: -webkit-box; display: -ms-flexbox; display: flex; width: 50%; font-size: 16px; line-height: 18px; padding: 16px 10px; }

.nav-wrap .inner .my-info .bottom p + p { border-left: 1px solid #fff; }

.nav-wrap .inner .my-info .bottom p span { margin-left: auto; color: #093687; font-weight: 500; }

.nav-wrap ul li { border-bottom: 1px solid #707070; }

.nav-wrap ul li a { display: block; padding: 14px 18px; font-size: 15px; line-height: 20px; color: #000000; }

.nav-wrap.active { right: 0; }

.nav-wrap.active .inner { right: 0; }

.tab-cont { display: none; }

.tab-cont.active { display: block; }

.tab { display: -webkit-box; display: -ms-flexbox; display: flex; padding: 12px 16px; }

.tab button { width: 33.33%; line-height: 28px; font-size: 16px; border: 1px solid #eee; }

.tab button.active { color: #093687; border-color: #093687; border-left: 1px solid #093687; font-weight: 500; }

.tab button + button { border-left: none; }

.tab.center { -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.tab.center button { width: auto; padding: 0 20px; }

.tab.type1 { border-bottom: 1px solid #707070; padding: 0 40px; }

.tab.type1 button { display: block; width: 25%; text-align: center; font-size: 14px; line-height: 34px; border: none; }

.tab.type1 button.active { position: relative; font-weight: 700; color: #093687; }

.tab.type1 button.active::after { position: absolute; left: 0; bottom: 0; width: 100%; height: 1px; background-color: #093687; content: ""; display: block; }

.tab.type2 { display: -webkit-box; display: -ms-flexbox; display: flex; width: 100%; margin-bottom: 0; padding: 0; }

.tab.type2 button { display: block; width: 100%; height: 34px; width: 33.333%; height: 34px; border: none; border-left: 1px solid #fff; background-color: #f4f4f4; line-height: 34px; color: #000000; font-size: 14px; text-align: center; }

.tab.type2 button.active { font-weight: 700; color: #093687; background-color: #fff; font-weight: 600; }

.tab.type2.ty01 .on { background: #fff; color: #c4291c; }

.search { position: relative; border-bottom: 2px solid #415f9c; }

.search input { width: 100%; padding: 16px 10px 16px 53px; font-size: 16px; color: #000000; background: url("../images/bg/bg_search.png") no-repeat left 20px center transparent; }

.search.type1 { padding-right: 100px; }

.search.type1 button { position: absolute; right: 10px; top: 50%; width: 60px; height: 30px; font-size: 14px; line-height: 30px; -webkit-transform: translateY(-50%); transform: translateY(-50%); color: #fff; background-color: #3F5DC2; }

.table-base { width: 100%; background-color: #fff; }

.table-base td { border-bottom: 1px solid #eeeeee; }

.table-base td.tit strong { display: block; min-height: 12px; margin-bottom: 4px; line-height: 12px; color: #27282a; font-size: 14px; font-weight: 500; word-break: break-all; }

.table-base td.tit em { display: block; line-height: 16px; color: #333; font-size: 11px; }

.table-base td.price { position: relative; padding-bottom: 0; text-align: right; }

.table-base td.price strong { display: block; height: 12px; margin-bottom: 4px; line-height: 12px; font-size: 14px; font-weight: 500; }

.table-base td.price em { display: block; color: #999; font-size: 11px; }

.table-base td.percent { text-align: right; }

.table-base td.percent p { height: 12px; line-height: 12px; font-size: 14px; font-weight: 500; }

.table-base td.percent em { font-size: 11px; }

.table-base td.tradecost { padding-right: 12px; text-align: right; }

.table-base td.tradecost p { height: 12px; line-height: 12px; color: #333; font-size: 14px; font-weight: 500; }

.table-base td.tradecost p i { color: #999; font-size: 10px; }

html, body { height: 100%; }

.wrap { min-height: 100%; }

.wrap.type01 { min-height: auto; height: 100%; }

.wrap.type01 .contents { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; height: calc(100% - 53px); }

header { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: 14px 16px; border-bottom: 1px solid #f2f2f2; }

header h1 .logo { display: block; margin-right: auto; }

header h1 .logo img { height: 20px; }

header h2 { font-size: 15px; font-weight: 700; }

header h2.title { color: #122461; }

header .right { margin-right: auto; }

header .right .home { display: block; }

header .right .home img { width: 24px; height: auto; }

header .left { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin-left: auto; }

header .left .btnLogin { margin-right: 18px; font-size: 16px; }

header .left .nav { position: relative; cursor: pointer; width: 18px; height: 15px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; z-index: 100; }

header .left .nav i { background-color: #093687; border-radius: 0; content: ""; display: block; width: 100%; height: 1px; }

header .left .nav i + i { margin-top: 5px; }

header .left .nav.active { background: url("../images/btn/btn_close_nav.png") no-repeat center transparent; }

header .left .nav.active i { display: none; }

tbody .up { color: #c4291c !important; }

tbody .down { color: #093687 !important; }

tbody tr { cursor: pointer; }

tbody td { padding-top: 10px; padding-bottom: 10px; line-height: 16px; vertical-align: top; }

tbody td.bar { padding-left: 12px; text-align: left; vertical-align: inherit; }

tbody td.bar div { position: relative; width: 7px; height: 25px; background-color: #eee; overflow: hidden; }

thead { height: 28px; border-top: 1px solid #bbb; border-bottom: 1px solid #bbb; font-size: 14px; font-weight: 500; }

thead th { padding: 4px 0; }

thead th a { display: inline-block; padding-right: 16px; font-size: 12px; line-height: 16px; color: #666; }

thead th.tit a { background: url("../images/btn/btn_change_lan.png") no-repeat right center transparent; background-size: auto 100%; }

thead th.price a, thead th.percent a, thead th.tradecost a { background: url("../images/btn/btn_sort.png") no-repeat right center transparent; background-size: auto 100%; }

thead th.price a.up, thead th.percent a.up, thead th.tradecost a.up { background: url("../images/btn/btn_sort_up.png") no-repeat right center transparent; }

thead th.price a.down, thead th.percent a.down, thead th.tradecost a.down { background: url("../images/btn/btn_sort_down.png") no-repeat right center transparent; }

.coinInfo { display: -webkit-box; display: -ms-flexbox; display: flex; padding: 10px 12px 10px 12px; }

.coinInfo .price span strong { font-size: 20px; font-weight: 500; }

.coinInfo .price .change { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin-top: 6px; }

.coinInfo .price .change .upDown { margin-left: 16px; padding-left: 14px; font-size: 11px; }

.coinInfo .price .change .upDown.up { background: url("../images/bg/bg_updown_up.png") no-repeat left center transparent; background-size: auto 8px; }

.coinInfo .price .change .upDown.down { background: url("../images/bg/bg_updown_down.png") no-repeat left center transparent; background-size: auto 8px; }

.coinInfo .price p { margin-right: 2px; color: #000; font-size: 11px; }

.coinInfo .price i { font-size: 11px; }

.coinInfo .graph { margin-left: auto; width: 100px; height: 30px; background-color: red; }

.coinInfo.up { color: #c4291c !important; }

.coinInfo.down { color: #093687 !important; }

.ask-wrap { position: relative; height: calc(100% - 93px); }

.ask-wrap > .inner { position: relative; width: 40%; padding-bottom: 30px; height: 100%; }

.ask-wrap > .inner.full { width: 100%; }

.ask-wrap > .inner .select { position: absolute; left: 0; bottom: 0; height: 30px; font-size: 12px; line-height: 30px; width: 100%; border-top: 1px solid #fff; text-align: center; color: #000; background: url("../images/bg/bg_btc.png") no-repeat right bottom transparent; background-color: #eeeff4; background-size: 8px auto; font-weight: 500; }

.ask-wrap > .inner .scroll { height: 100%; overflow-y: auto; overflow-x: hidden; }

.askprice-table tr td { border-bottom: 1px solid #fff; border-left: 1px solid #fff; text-align: left; height: 36px; padding: 0; vertical-align: middle; }

.askprice-table tr td strong { display: block; font-size: 14px; font-weight: 500; }

.askprice-table tr td:first-child { padding-right: 4px; border-left: 0; text-align: right; }

.askprice-table tr td .num { display: block; word-break: break-all; font-size: 12px; padding-right: 4px; color: #333; }

.askprice-table tr.up-section td { background-color: #ffefef; }

.askprice-table tr.down-section td { background-color: #eef7ff; }

.oder-section { position: absolute; right: 0; top: 0; width: 60%; }

.oder-section p.total { float: left; width: 100%; margin-bottom: 10px; margin-top: -5px; color: #666; font-size: 12px; text-align: right; padding: 0 12px; -webkit-box-sizing: border-box; box-sizing: border-box; }

.oder-section ul.price { margin: 0 12px; border-bottom: 0 solid #eee; overflow: hidden; }

.oder-section ul.price li { position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; width: 100%; height: 32px; margin-bottom: 5px; }

.oder-section ul.price li > a { display: block; width: 32px; height: 32px; overflow: hidden; text-indent: -999px; }

.oder-section ul.price li > a.minus { margin-right: 1px; background: url("../images/bg/bg_mius.png") no-repeat center transparent; background-size: 10px auto; background-color: #d9d9d9; }

.oder-section ul.price li > a.plus { margin-left: 3px; background: url("../images/bg/bg_plus.png") no-repeat center transparent; background-size: 10px auto; background-color: #d9d9d9; }

.oder-section ul.price li.last { margin-bottom: 10px; }

.oder-section ul.price li .inputB { width: 100%; height: 30px; -webkit-box-sizing: border-box; box-sizing: border-box; }

.oder-section ul.price li .inputB .inner { position: relative; display: block; width: 100%; height: 30px; border: 1px solid #ddd; }

.oder-section ul.price li .inputB .inner p { position: absolute; top: 0; left: 5px; display: block; height: 30px; line-height: 32px; color: #333; font-size: 13px; }

.oder-section ul.price li .inputB .inner input { width: 100%; height: 30px; padding: 0 5px 0 30px; border: 0; line-height: 30px; color: #333; font-size: 14px; text-align: right; -webkit-box-sizing: border-box; box-sizing: border-box; }

.oder-section ul.price li .selectB { position: absolute; top: 0; right: 0; width: 59px; height: 32px; }

.oder-section ul.price li .selectB select { width: 100%; height: 32px; padding: 2px 14px 0 10px; background: url("../images/btn/btn_lan.png") no-repeat right 6px center transparent; background-size: 8px auto; background-color: #d9d9d9; border: 0; border-radius: 0; line-height: 30px; font-size: 12px; -webkit-appearance: none; -moz-appearance: none; appearance: none; }

.oder-section ul.price li .selectB select::-ms-expand { display: none; }

.oder-section ul.price li .current { width: 100%; height: 32px; overflow: hidden; -webkit-box-sizing: border-box; box-sizing: border-box; }

.oder-section ul.price li .current .selectB { position: inherit; width: 100%; }

.oder-section .check-wrap { display: block; padding: 0 12px; }

.oder-section .check-wrap .checkbox { display: inline-block; position: relative; width: auto; height: 32px; margin-right: 15px; }

.oder-section .check-wrap .checkbox input { position: absolute; left: 0; top: 0; width: 100%; height: 100%; opacity: 0; }

.oder-section .check-wrap .checkbox input:checked + label { background: url("../images/btn/btn_radio_on.png") no-repeat left center transparent; background-size: 16px auto; }

.oder-section .check-wrap .checkbox label { display: block; height: 32px; padding-left: 22px; background: url("../images/btn/btn_radio.png") no-repeat left center transparent; background-size: 16px auto; line-height: 33px; color: #333; font-size: 10px; }

.oder-section dl { width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; padding: 10px 12px; -webkit-box-sizing: border-box; box-sizing: border-box; }

.oder-section dl dt { width: 30%; font-size: 14px; line-height: 16px; margin-right: auto; }

.oder-section dl dd { text-align: right; }

.oder-section dl dd strong { font-size: 14px; }

.oder-section dl dd p { font-size: 14px; text-align: right; }

.oder-section dl.ty01.total { padding-bottom: 5px; }

.oder-section div.total { width: auto; margin: 0 12px 10px; -webkit-box-sizing: border-box; box-sizing: border-box; position: relative; }

.oder-section div.total span.inputTotal { height: 32px; line-height: 32px; width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-sizing: border-box; box-sizing: border-box; }

.oder-section div.total span.inputTotal label { color: #333; width: auto; display: inline-block; height: 30px; text-align: left; word-break: keep-all; margin: 0 6px; font-size: 13px; }

.oder-section div.total span.inputTotal input { border: 0; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; width: inherit; text-align: right; height: 32px; font-size: 14px; background-color: transparent; }

.oder-section div.total em { color: #333; font-size: 14px; height: 30px; padding: 0 5px; }

.oder-section div.total p { font-size: 12px; color: #666; text-align: right; }

.oder-section ul.btnB { width: 100%; padding: 0 10px; -webkit-box-sizing: border-box; box-sizing: border-box; margin-top: 5px; }

.oder-section ul.btnB li { display: -webkit-box; display: -ms-flexbox; display: flex; padding: 0 2px; -webkit-box-sizing: border-box; box-sizing: border-box; }

.oder-section ul.btnB li a { display: block; width: 100%; height: 35px; background-color: #777; line-height: 36px; color: #fff; font-size: 16px; text-align: center; }

.oder-section ul.btnB li a + a { margin-left: 4px; }

.oder-section ul.btnB li a.btnBuy { background-color: #c4291c; }

.oder-section ul.btnB li a.btnSell { background-color: #093687; }

.oder-section ul.btnB li a.login { width: 100%; color: #fff; font-size: 15px; line-height: 36px; height: 36px; padding: 0; text-align: center; display: block; margin: 10px auto 0; -webkit-box-sizing: border-box; box-sizing: border-box; background-color: #3f5dc2; border: 1px solid #0062df; text-decoration: none; }

.oder-section ul.btnB li.all { width: 100%; }

.hoga-wrap { position: relative; padding-right: 33.333%; }

.hoga-wrap.right { padding-left: 33.333%; padding-right: 0; }

.hoga-wrap .up { color: #c4291c !important; }

.hoga-wrap .down { color: #093687 !important; }

.hoga-wrap .askprice-table .down-section a { display: -webkit-box; display: -ms-flexbox; display: flex; background-color: #eef7ff; border-right: 1px solid #fff; border-bottom: 1px solid #fff; }

.hoga-wrap .askprice-table .down-section a > span { display: block; width: 50%; padding: 10px 5px 10px 0; text-align: right; font-size: 14px; }

.hoga-wrap .askprice-table .down-section a > span strong, .hoga-wrap .askprice-table .down-section a > span i { font-size: 12px; }

.hoga-wrap .askprice-table .down-section a > span i { margin-left: 4px; }

.hoga-wrap .askprice-table .up-section a { display: -webkit-box; display: -ms-flexbox; display: flex; background-color: #ffefef; border-left: 1px solid #fff; border-bottom: 1px solid #fff; }

.hoga-wrap .askprice-table .up-section a > span { display: block; width: 50%; padding: 10px 5px 10px 5px; text-align: left; font-size: 14px; }

.hoga-wrap .askprice-table .up-section a > span strong, .hoga-wrap .askprice-table .up-section a > span i { font-size: 12px; }

.hoga-wrap .askprice-table .up-section a > span i { margin-left: 4px; }

.hoga-wrap .left-info { position: absolute; left: 0; top: 0; width: 33.3333%; padding: 5px; }

.hoga-wrap .left-info li p { display: -webkit-box; display: -ms-flexbox; display: flex; }

.hoga-wrap .left-info li p span { font-size: 12px; line-height: 14px; }

.hoga-wrap .left-info li p span + span { margin-left: auto; }

.hoga-wrap .left-info li + li { margin-top: 3px; }

.hoga-wrap .right-info { position: absolute; right: 0; bottom: 0; width: 33.3333%; }

.hoga-wrap .right-info ul li { padding: 4px; }

.hoga-wrap .right-info ul li .time { text-align: right; color: #7a7676; font-size: 12px; line-height: 20px; }

.hoga-wrap .right-info ul li .info { display: -webkit-box; display: -ms-flexbox; display: flex; }

.hoga-wrap .right-info ul li .info span { font-size: 12px; line-height: 20px; }

.hoga-wrap .right-info ul li .info span + span { margin-left: auto; }

.hoga-wrap .right-info ul li + li { border-top: 1px solid #9b9898; }

.bottom-select { display: -webkit-box; display: -ms-flexbox; display: flex; position: absolute; left: 0; bottom: 0; width: 100%; height: 30px; }

.bottom-select p { height: 30px; font-size: 12px; line-height: 30px; width: 33.333%; border-top: 1px solid #fff; text-align: center; color: #000; background-color: #eeeff4; background-size: 8px auto; font-weight: 500; }

.bottom-select .select { width: 33.333% !important; position: static !important; }

.quote-table tr:first-child td { border-bottom: 1px solid #cdcdcd; }

.quote-table tr td:first-child { text-align: center; }

.quote-table tr + tr th, .quote-table tr + tr td { border-bottom: 1px solid #cbcbcb; }

.quote-table th { padding: 8px 8px; font-size: 14px; line-height: 16px; color: #656565; }

.quote-table th + th { border-left: 1px solid #cbcbcb; }

.quote-table td { padding: 8px 8px; font-size: 14px; color: #656565; text-align: right; font-weight: 700; vertical-align: middle; }

.quote-table td + td { border-left: 1px solid #cbcbcb; }

.quote-table td.percent p { font-size: 12px; font-weight: 700; }

.quote-table td.percent em { font-size: 12px; }

.quote-table.type01 tr td, .quote-table.type01 tr th { font-size: 10px; }

.bord-list ul li { border-bottom: 1px solid #F1F1F1; }

.bord-list ul li a { display: block; padding: 14px 16px; }

.bord-list ul li a p { margin-bottom: 6px; font-size: 16px; line-height: 20px; color: #000; }

.bord-list ul li a .date { font-size: 14px; line-height: 20px; color: #8B8B8B; }

.bord-list .paging { padding: 48px 0 34px 0; text-align: center; border-bottom: 1px solid #F1F1F1; }

.bord-list .paging button { position: relative; padding-right: 14px; color: #3B4273; font-size: 16px; line-height: 34px; }

.bord-list .paging button::after { display: block; position: absolute; right: 0; top: 50%; -webkit-transform: translateY(-50%) rotate(45deg); transform: translateY(-50%) rotate(45deg); width: 10px; height: 10px; border-top: 1px solid #093687; border-right: 1px solid #093687; content: ""; }

.history-list li { position: relative; padding: 22px 0 22px 50px; border-bottom: 1px solid #F1F1F1; background: url("../images/bg/bg_star_coin.png") no-repeat left 20px center transparent; background-size: 20px; margin-bottom: 6px; font-size: 16px; line-height: 20px; color: #000; }

.history-list li span { position: absolute; right: 20px; top: 50%; text-align: right; -webkit-transform: translateY(-50%); transform: translateY(-50%); }

.history-list li.won { background: url("../images/bg/bg_won.png") no-repeat left 20px center transparent; background-size: 20px; }

.my-list li { padding: 18px 20px; border-bottom: 1px solid #707070; }

.my-list li input { border: none; font-size: 16px; line-height: 20px; color: #000000; font-weight: 500; }

.my-list li input::-webkit-input-placeholder { opacity: .9; }

.my-list li input:-ms-input-placeholder { opacity: .9; }

.my-list li input::-ms-input-placeholder { opacity: .9; }

.my-list li input::placeholder { opacity: .9; }

.my-list li .title { margin-top: 4px; color: #B4B4B4; font-size: 16px; line-height: 20px; font-weight: 500; }

.my-list .secession { padding: 20px 0; border-bottom: 1px solid #F1F1F1; text-align: center; }

.my-list .secession a { color: #333333; font-size: 16px; }

.my-list .secession a span { color: #093687; text-decoration: underline; }
/*# sourceMappingURL=mobile.css.map */