html, body, header, nav, main, aside, section, article, div, p, input, button, h1, h2, h3, h4, h5, h6, address { margin: 0; padding: 0; font-size: 100%; font-family: "Roboto", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue"; font-weight: 400; line-height: 1; -webkit-box-sizing: border-box; box-sizing: border-box; }

ul, ol, dl, li, dt, dd { margin: 0; padding: 0; list-style: none; -webkit-box-sizing: border-box; box-sizing: border-box; }

input, button, textarea { background: none; border: none; font-size: 100%; -webkit-box-sizing: border-box; box-sizing: border-box; border: none; outline: none; }

input:active, input:focus, button:active, button:focus, textarea:active, textarea:focus { color: inherit; }

input { -webkit-appearance: none; -webkit-border-radius: 0; }

input[type="password"] { font-family: sans-serif; }

address { font-style: normal; }

textarea { resize: none; }

table { width: 100%; border-collapse: collapse; }

caption { overflow: hidden; position: absolute; width: 0; height: 0; -webkit-transform: scale(0); transform: scale(0); }

a { color: inherit; text-decoration: none; }

a:active, a:focus { border: none; outline: none; }

img { vertical-align: top; }

@font-face { font-family: "Roboto"; src: url("../fonts/Roboto-Ligth.ttf") format("ttf"), url("../fonts/Roboto-Ligth.ttf") format("ttf"); font-weight: 300; font-style: normal; }

@font-face { font-family: "Roboto"; src: url("../fonts/Roboto-Regular.ttf") format("ttf"), url("../fonts/Roboto-Regular.ttf") format("ttf"); font-weight: 400; font-style: normal; }

@font-face { font-family: "Roboto"; src: url("../fonts/Roboto-Medium.ttf") format("ttf"), url("../fonts/Roboto-Medium.ttf") format("ttf"); font-weight: 500; font-style: normal; }

@font-face { font-family: "Roboto"; src: url("../fonts/Roboto-Bold.ttf") format("ttf"), url("../fonts/Roboto-Bold.ttf") format("ttf"); font-weight: 700; font-style: normal; }

@font-face { font-family: "Roboto"; src: url("../fonts/Roboto-Black.ttf") format("ttf"), url("../fonts/Roboto-Black.ttf") format("ttf"); font-weight: 900; font-style: normal; }

html, body { height: 100%; }

.wrap { height: 100%; }

.wrap .contents { height: 100%; }

.wrap .contents .inner { height: 100%; }

.header-wrap { position: absolute; left: 0; top: 0; width: 100%; padding: 0 288px 0 120px; background-color: #fff; z-index: 5; }

.header-wrap .header { display: -webkit-box; display: -ms-flexbox; display: flex; position: relative; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: 22px 0; padding-left: 286px; }

.header-wrap .header .logo { position: absolute; left: 0; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); }

.header-wrap .nav { display: -webkit-box; display: -ms-flexbox; display: flex; margin-right: auto; }

.header-wrap .nav li a { font-size: 16px; line-height: 18px; color: rgba(0, 0, 0, 0.8); font-weight: 500; }

.header-wrap .nav li a:hover { color: #000; font-weight: 700; }

.header-wrap .nav li + li { margin-left: 30px; }

.header-wrap .util { display: -webkit-box; display: -ms-flexbox; display: flex; }

.header-wrap .util li a { font-size: 16px; line-height: 18px; color: #000; font-weight: 500; }

.header-wrap .util li + li { margin-left: 20px; }

.header-wrap .util .language-box > button { padding-right: 12px; background: url("../images/btn/btn_lan.png") no-repeat right center transparent; cursor: pointer; }

.header-wrap .util .language-box .list { display: none; }

.contents { background-color: #EAECF0; }

.contents .inner { position: relative; max-width: 1400px; margin: 0 auto; padding: 90px 410px 0 0; }

.contents .tab-cont { display: none; }

.contents .tab-cont.active { display: block; }

.contents .tab-btn { display: -webkit-box; display: -ms-flexbox; display: flex; border-bottom: 1px solid #D2D2D2; }

.contents .tab-btn button { -webkit-box-flex: 1; -ms-flex: 1 1 auto; flex: 1 1 auto; font-size: 18px; font-weight: 500; padding: 12px 0; }

.contents .tab-btn button.active { position: relative; font-weight: 700; }

.contents .tab-btn button.active::after { display: block; position: absolute; left: 0; bottom: 0; width: 100%; height: 3px; content: ''; background-color: #2D60BD; }

.left-section .coin-top { margin-bottom: 10px; background-color: #fff; -webkit-box-shadow: 2px 2px 4px #dee1e7; box-shadow: 2px 2px 4px #dee1e7; }

.left-section .coin-top .coin-header { position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; height: 44px; padding: 0 16px; border-bottom: 1px solid #d4d6dc; padding-right: 54px; }

.left-section .coin-top .coin-header .setting { position: absolute; right: 0; top: 0; width: 54px; height: 100%; border-left: 1px solid #d4d6dc; }

.left-section .coin-top .coin-header .select { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: 42px; padding-right: 16px; background: url("../images/btn/btn_down_on.png") no-repeat right center transparent; }

.left-section .coin-top .coin-header .select strong { color: #000; font-size: 20px; font-weight: 700; }

.left-section .coin-top .coin-header .select p { margin-left: 4px; color: #666; font-size: 12px; }

.left-section .coin-top .coin-header .tab { position: relative; width: 142px; color: #2D60BD; margin-left: auto; font-size: 18px; line-height: 42px; text-align: center; }

.left-section .coin-top .coin-header .tab::after { display: block; position: absolute; left: 0; bottom: 0; width: 100%; height: 2px; background-color: #2D60BD; content: ""; }

.coin-price { position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; padding: 18px 20px 14px; }

.coin-price .left > div { display: -webkit-box; display: -ms-flexbox; display: flex; }

.coin-price .left > div.top { -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; }

.coin-price .left > div.bottom { -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.coin-price .left > div.bottom p { font-size: 10px; }

.coin-price .left > div.bottom strong { display: inline-block; font-weight: 500; margin: 0 9px 0 10px; font-size: 16px; }

.coin-price .left > div.up { color: #C4291C; }

.coin-price .left > div.up .upDown { padding-left: 16px; background: url("../images/bg/bg_updown_up.png") no-repeat left center transparent; background-size: 10px auto; }

.coin-price .left > div.down { color: #2D60BD; }

.coin-price .left > div.down .upDown { padding-left: 16px; background: url("../images/bg/bg_updown_down.png") no-repeat left center transparent; background-size: 10px auto; }

.coin-price .left > div > strong { display: inline-block; font-size: 36px; font-weight: 700; letter-spacing: 1px; }

.coin-price .left > div .krw { display: inline-block; font-size: 20px; line-height: 24px; font-weight: 700; margin-left: 4px; }

.coin-price .left > div p { font-size: 10px; color: inherit; }

.coin-price .right { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; margin-left: auto; width: 440px; }

.coin-price .right ul { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; width: calc(50% - 10px); }

.coin-price .right ul li { display: -webkit-box; display: -ms-flexbox; display: flex; width: 100%; }

.coin-price .right ul li .tit { display: inline-block; margin-right: auto; font-size: 12px; line-height: 14px; color: #000000; }

.coin-price .right ul li strong { font-size: 16px; font-weight: 500; }

.coin-price .right ul li strong i { display: inline-block; margin-left: 4px; font-size: 14px; }

.coin-price .right ul li strong.up { color: #C4291C; }

.coin-price .right ul li strong.down { color: #2D60BD; }

.coin-price .right ul li + li { border-top: 1px solid #E3E5EB; margin-top: 6px; padding-top: 6px; }

.coin-price .right ul + ul { margin-left: 20px; }

.middle { display: -webkit-box; display: -ms-flexbox; display: flex; padding: 8px 30px; background-color: #F9FAFC; }

.middle > div { width: 33.33%; display: -webkit-box; display: -ms-flexbox; display: flex; }

.middle > div .name { font-size: 16px; line-height: 20px; color: #2D60BD; }

.middle > div .price { margin-left: 14px; font-size: 16px; color: #000; }

.middle > div .price i { margin-left: 4px; font-size: 12px; color: #000; }

.graph-sectoin { width: 100%; height: 500px; background-color: #eee; }

.coinDeal-section { width: 490px; background-color: #fff; -webkit-box-shadow: 2px 2px 4px #dee1e7; box-shadow: 2px 2px 4px #dee1e7; }

.coinDeal-section .table-wrap { height: 500px; padding-bottom: 46px; }

.coinDeal-section .table-wrap .scroll { height: 100%; overflow-y: auto; }

.coinDeal-section .table-wrap .scoll-bottom { display: -webkit-box; display: -ms-flexbox; display: flex; padding-right: 16px; }

.coinDeal-section .table-wrap .scoll-bottom > div { width: 33.33%; height: 46px; font-size: 14px; line-height: 46px; text-align: center; }

.coinDeal-section .table-wrap .scoll-bottom > div + div { border-left: 1px solid #F2F3F6; }

.coinDeal-section .table-wrap .scoll-bottom > div.left { text-align: right; padding-right: 20px; }

.coinDeal-section .table-wrap .scoll-bottom > div.right { text-align: left; padding-left: 20px; }

.coinDeal-section .table { border-right: 1px solid #F2F3F6; }

.coinDeal-section .table .up { color: #C4291C; }

.coinDeal-section .table .down { color: #2D60BD; }

.coinDeal-section .table tr.down td.box { background-color: #EBF1FC; }

.coinDeal-section .table tr.up td.box { background-color: #FEF7F7; }

.coinDeal-section .table tr td { height: 42px; vertical-align: middle; border-bottom: 1px solid #F2F3F6; }

.coinDeal-section .table tr td.last { text-align: left; padding: 0 4px; font-size: 14px; color: #333; }

.coinDeal-section .table tr td.last .bar { position: relative; z-index: 10; }

.coinDeal-section .table tr td.last .bar p { position: relative; z-index: 10; }

.coinDeal-section .table tr td.last .bar span { display: block; position: absolute; left: 0; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); height: 30px; background-color: rgba(254, 247, 247, 0.9); }

.coinDeal-section .table tr td.first { padding: 0 4px; text-align: right; font-size: 14px; color: #333; }

.coinDeal-section .table tr td.first .bar { position: relative; z-index: 10; }

.coinDeal-section .table tr td.first .bar p { position: relative; z-index: 10; }

.coinDeal-section .table tr td.first .bar span { display: block; position: absolute; right: 0; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); height: 30px; background-color: rgba(235, 241, 252, 0.9); }

.coinDeal-section .table tr td.box:hover { background-color: rgba(45, 96, 189, 0.2); }

.coinDeal-section .table tr td.box > div { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; padding-right: 13px; text-align: right; }

.coinDeal-section .table tr td.box .percent { margin-left: 10px; font-size: 12px; line-height: 14px; }

.coinDeal-section .down-table { position: relative; padding-right: 33.33%; }

.coinDeal-section .down-table .info { position: absolute; right: 0; bottom: 0; width: 33.33%; }

.coinDeal-section .down-table .info .up { color: #C4291C; }

.coinDeal-section .down-table .info .down { color: #2D60BD; }

.coinDeal-section .down-table .info dl { padding: 0 10px; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.coinDeal-section .down-table .info dl dt { width: 40%; font-size: 12px; line-height: 1.8em; margin-right: auto; color: #000; }

.coinDeal-section .down-table .info dl dd { width: 60%; text-align: right; font-size: 11px; line-height: 1.8em; color: #000; }

.coinDeal-section .down-table .info dl dd p { color: #7A7676; font-size: 10px; }

.coinDeal-section .down-table .info dl + dl { border-top: 1px solid #DEDEDE; margin-top: 18px; padding-top: 18px; }

.coinDeal-section .up-table { position: relative; padding-left: 33.33%; }

.coinDeal-section .up-table .info { position: absolute; left: 0; top: 0; width: 33.33%; }

.coinDeal-section .up-table .info .up { color: #C4291C; }

.coinDeal-section .up-table .info .down { color: #2D60BD; }

.coinDeal-section .up-table .info dl { padding: 0 10px; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.coinDeal-section .up-table .info dl dt { width: 40%; font-size: 12px; line-height: 1.8em; margin-right: auto; color: #000; }

.coinDeal-section .up-table .info dl dd { width: 60%; text-align: right; font-size: 11px; line-height: 1.8em; color: #000; }

.coinDeal-section .up-table .info dl dd p { color: #7A7676; font-size: 10px; }

.coinDeal-section .up-table .info dl + dl { border-top: 1px solid #DEDEDE; margin-top: 18px; padding-top: 18px; }

.coinDeal-section .up-table .info table th { font-size: 11px; background: #f9fafc; height: 30px; border-top: 1px solid #f1f1f4; border-bottom: 1px solid #f1f1f4; text-align: center; }

.coinDeal-section .up-table .info table td { height: 20px; padding: 0; border: 0; color: #595959; font-size: 11px; text-align: right; padding-right: 10px; }

.coinDeal-section .up-table .info table td:first-child { padding-right: 4px; }

.coinDeal-section .up-table .info table td.up { color: #C4291C; }

.coinDeal-section .up-table .info table td.down { color: #2D60BD; }

.coinDeal-section .up-table .info dl { margin: 0 10px; padding: 10px 0; border-top: 1px solid #f1f1f4; overflow: hidden; }

.coinDeal-section .up-table .info dl dt { float: left; width: 40%; color: #84868c; line-height: 1.8em; font-size: 11px; font-family: Dotum, Noto Sans KR, sans-serif; letter-spacing: 0; text-align: left; }

.coinDeal-section .up-table .info dl dd { float: left; width: 60%; line-height: 1.8em; color: #2b2b2b; font-size: 11px; letter-spacing: 1px; text-align: right; }

.coinDeal-section .up-table .info dl dd.up { color: #C4291C; }

.coinDeal-section .up-table .info dl dd.down { color: #2D60BD; }

.time-section table tr:nth-child(2n) { background-color: #f9fafc; }

.time-section table .up { color: #C4291C; }

.time-section table .down { color: #2D60BD; }

.time-section table thead th { height: 30px; background-color: #F9FAFC; color: #000; font-size: 12px; text-align: right; border-bottom: 1px solid #DDDDDD; }

.time-section table thead th:first-child { text-align: center; }

.time-section table thead th:last-child { padding-right: 16px; }

.time-section table tbody td { text-align: right; font-size: 12px; height: 27px; border-bottom: 1px solid #DDDDDD; }

.time-section table tbody td p { color: #000; }

.time-section table tbody td:first-child { text-align: center; }

.time-section table tbody td:last-child { padding-right: 16px; }

.time-section table tbody td p { font-size: 12px; }
/*# sourceMappingURL=style.css.map */