//mixin
@mixin bg($url, $type: png, $repeat: no-repeat, $pos: center, $color: transparent) {
	background: url("../images/#{$url}.#{$type}") $repeat $pos $color;
}

//color
$white: #fff;
$black: #000;
$blue :#2D60BD;
$red : #C4291C;

//import
@import 'reset';

html,
body {
	height: 100%;
}

.wrap {
	height: 100%;

	.contents {
		height: 100%;

		.inner {
			height: 100%;
		}
	}
}

//header
.header-wrap {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	padding: 0 288px 0 120px;
	background-color: $white;
	z-index: 5;

	.header {
		display: flex;
		position: relative;
		align-items: center;
		padding: 22px 0;
		padding-left: 286px;

		.logo {
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
		}
	}

	.nav {
		display: flex;
		margin-right: auto;

		li {
			a {
				font-size: 16px;
				line-height: 18px;
				color: rgba($color: $black, $alpha: .8);
				font-weight: 500;

				&:hover {
					color: $black;
					font-weight: 700;
				}
			}

			+li {
				margin-left: 30px;
			}
		}
	}

	.util {
		display: flex;

		li {
			a {
				font-size: 16px;
				line-height: 18px;
				color: $black;
				font-weight: 500;
			}

			+li {
				margin-left: 20px;
			}
		}

		.language-box {
			>button {
				padding-right: 12px;
				@include bg(btn/btn_lan, $pos : right center);
				cursor: pointer;
			}

			.list {
				display: none;
			}
		}
	}
}

.contents {
	background-color: #EAECF0;

	.inner {
		position: relative;
		max-width: 1400px;
		margin: 0 auto;
		padding: 90px 410px 0 0;
	}

	.tab-cont {
		display: none;

		&.active {
			display: block;
		}
	}

	.tab-btn {
		display: flex;
		border-bottom: 1px solid #D2D2D2;

		button {
			flex: 1 1 auto;
			font-size: 18px;
			font-weight: 500;
			padding: 12px 0;

			&.active {
				position: relative;
				font-weight: 700;

				&::after {
					display: block;
					position: absolute;
					left: 0;
					bottom: 0;
					width: 100%;
					height: 3px;
					content: '';
					background-color: $blue;
				}
			}
		}
	}
}

.left-section {
	.coin-top {
		margin-bottom: 10px;
		background-color: #fff;
		box-shadow: 2px 2px 4px #dee1e7;

		.coin-header {
			position: relative;
			display: flex;
			height: 44px;
			padding: 0 16px;
			border-bottom: 1px solid #d4d6dc;
			padding-right: 54px;

			.setting {
				position: absolute;
				right: 0;
				top: 0;
				width: 54px;
				height: 100%;
				border-left: 1px solid #d4d6dc;
			}

			.select {
				display: flex;
				align-items: center;
				height: 42px;
				padding-right: 16px;
				@include bg(btn/btn_down_on, $pos:right center);

				strong {
					color: #000;
					font-size: 20px;
					font-weight: 700;
				}

				p {
					margin-left: 4px;
					color: #666;
					font-size: 12px;
				}
			}

			.tab {
				position: relative;
				width: 142px;
				color: #2D60BD;
				margin-left: auto;
				font-size: 18px;
				line-height: 42px;
				text-align: center;

				&::after {
					display: block;
					position: absolute;
					left: 0;
					bottom: 0;
					width: 100%;
					height: 2px;
					background-color: $blue;
					content: "";
				}
			}
		}
	}
}

.coin-price {
	position: relative;
	display: flex;
	padding: 18px 20px 14px;

	.left {
		>div {
			display: flex;

			&.top {
				align-items: flex-end;
			}

			&.bottom {
				align-items: center;

				p {
					font-size: 10px;
				}

				strong {
					display: inline-block;
					font-weight: 500;
					margin: 0 9px 0 10px;
					font-size: 16px;
				}
			}

			&.up {
				color: $red;

				.upDown {
					padding-left: 16px;
					@include bg(bg/bg_updown_up, $pos:left center);
					background-size: 10px auto;
				}
			}

			&.down {
				color: $blue;

				.upDown {
					padding-left: 16px;
					@include bg(bg/bg_updown_down, $pos:left center);
					background-size: 10px auto;
				}
			}

			>strong {
				display: inline-block;
				font-size: 36px;
				font-weight: 700;
				letter-spacing: 1px
			}

			.krw {
				display: inline-block;
				font-size: 20px;
				line-height: 24px;
				font-weight: 700;
				margin-left: 4px;
			}

			p {
				font-size: 10px;
				color: inherit;
			}
		}
	}

	.right {
		display: flex;
		flex-wrap: wrap;
		margin-left: auto;
		width: 440px;

		ul {
			display: flex;
			flex-wrap: wrap;
			width: calc(50% - 10px);

			li {
				display: flex;
				width: 100%;

				.tit {
					display: inline-block;
					margin-right: auto;
					font-size: 12px;
					line-height: 14px;
					color: #000000;
				}

				strong {
					font-size: 16px;
					font-weight: 500;

					i {
						display: inline-block;
						margin-left: 4px;
						font-size: 14px;
					}

					&.up {
						color: $red;
					}

					&.down {
						color: $blue;
					}
				}

				+li {
					border-top: 1px solid #E3E5EB;
					margin-top: 6px;
					padding-top: 6px;
				}
			}

			+ul {
				margin-left: 20px;
			}
		}
	}
}

.middle {
	display: flex;
	padding: 8px 30px;
	background-color: #F9FAFC;

	>div {
		width: 33.33%;
		display: flex;

		.name {
			font-size: 16px;
			line-height: 20px;
			color: $blue;
		}

		.price {
			margin-left: 14px;
			font-size: 16px;
			color: $black;

			i {
				margin-left: 4px;
				font-size: 12px;
				color: $black;
			}
		}
	}
}

.graph-sectoin {
	width: 100%;
	height: 500px;
	background-color: #eee;
}

.coinDeal-section {
	width: 490px;
	background-color: $white;
	box-shadow: 2px 2px 4px #dee1e7;

	.table-wrap {
		height: 500px;
		padding-bottom: 46px;

		.scroll {
			height: 100%;
			overflow-y: auto;
		}

		.scoll-bottom {
			display: flex;
			padding-right: 16px;

			>div {
				width: 33.33%;
				height: 46px;
				font-size: 14px;
				line-height: 46px;
				text-align: center;

				+div {
					border-left: 1px solid #F2F3F6;
				}

				&.left {
					text-align: right;
					padding-right: 20px;
				}

				&.right {
					text-align: left;
					padding-left: 20px;
				}
			}
		}
	}

	.table {
		border-right: 1px solid #F2F3F6;

		.up {
			color: $red;
		}

		.down {
			color: $blue;
		}

		tr {
			&.down {
				td.box {
					background-color: #EBF1FC;
				}
			}

			&.up {
				td.box {
					background-color: #FEF7F7;
				}
			}

			td {
				height: 42px;
				vertical-align: middle;
				border-bottom: 1px solid #F2F3F6;

				&.last {
					text-align: left;
					padding: 0 4px;
					font-size: 14px;
					color: #333;

					.bar {
						position: relative;
						z-index: 10;

						p {
							position: relative;
							z-index: 10;
						}

						span {
							display: block;
							position: absolute;
							left: 0;
							top: 50%;
							transform: translateY(-50%);
							height: 30px;
							background-color: rgba($color: #FEF7F7, $alpha: .9);
						}
					}
				}

				&.first {
					padding: 0 4px;
					text-align: right;
					font-size: 14px;
					color: #333;

					.bar {
						position: relative;
						z-index: 10;

						p {
							position: relative;
							z-index: 10;
						}

						span {
							display: block;
							position: absolute;
							right: 0;
							top: 50%;
							transform: translateY(-50%);
							height: 30px;
							background-color: rgba($color: #EBF1FC, $alpha: .9);
						}
					}
				}

				&.box {
					&:hover {
						background-color: rgba($color: $blue, $alpha: .2)
					}

					>div {
						display: flex;
						justify-content: flex-end;
						padding-right: 13px;
						text-align: right;
					}

					.percent {
						margin-left: 10px;
						font-size: 12px;
						line-height: 14px;
					}

				}
			}
		}
	}

	.down-table {
		position: relative;
		padding-right: 33.33%;

		.info {
			position: absolute;
			right: 0;
			bottom: 0;
			width: 33.33%;

			.up {
				color: $red;
			}

			.down {
				color: $blue;
			}

			dl {
				padding: 0 10px;
				display: flex;
				flex-wrap: wrap;
				;

				dt {
					width: 40%;
					font-size: 12px;
					line-height: 1.8em;
					margin-right: auto;
					color: $black;
				}

				dd {
					width: 60%;
					text-align: right;
					font-size: 11px;
					line-height: 1.8em;
					color: $black;

					p {
						color: #7A7676;
						font-size: 10px;
					}
				}

				+dl {
					border-top: 1px solid #DEDEDE;
					margin-top: 18px;
					padding-top: 18px;
				}
			}
		}
	}

	.up-table {
		position: relative;
		padding-left: 33.33%;

		.info {
			position: absolute;
			left: 0;
			top: 0;
			width: 33.33%;

			.up {
				color: $red;
			}

			.down {
				color: $blue;
			}

			dl {
				padding: 0 10px;
				display: flex;
				flex-wrap: wrap;

				dt {
					width: 40%;
					font-size: 12px;
					line-height: 1.8em;
					margin-right: auto;
					color: $black;
				}

				dd {
					width: 60%;
					text-align: right;
					font-size: 11px;
					line-height: 1.8em;
					color: $black;

					p {
						color: #7A7676;
						font-size: 10px;
					}
				}

				+dl {
					border-top: 1px solid #DEDEDE;
					margin-top: 18px;
					padding-top: 18px;
				}
			}

			table {
				th {
					font-size: 11px;
					background: #f9fafc;
					height: 30px;
					border-top: 1px solid #f1f1f4;
					border-bottom: 1px solid #f1f1f4;
					text-align: center;
				}

				td {
					height: 20px;
					padding: 0;
					border: 0;
					color: #595959;
					font-size: 11px;
					text-align: right;
					padding-right: 10px;

					&:first-child {
						padding-right: 4px;
					}

					&.up {
						color: $red;
					}

					&.down {
						color: $blue;
					}
				}
			}

			dl {
				margin: 0 10px;
				padding: 10px 0;
				border-top: 1px solid #f1f1f4;
				overflow: hidden;

				dt {
					float: left;
					width: 40%;
					color: #84868c;
					line-height: 1.8em;
					font-size: 11px;
					font-family: Dotum, Noto Sans KR, sans-serif;
					letter-spacing: 0;
					text-align: left
				}

				dd {
					float: left;
					width: 60%;
					line-height: 1.8em;
					color: #2b2b2b;
					font-size: 11px;
					letter-spacing: 1px;
					text-align: right;

					&.up {
						color: $red;
					}

					&.down {
						color: $blue;
					}
				}
			}
		}
	}
}


.time-section {
	table {
		tr {
			&:nth-child(2n) {
				background-color: #f9fafc;
			}
		}

		.up {
			color: $red;

		}

		.down {
			color: $blue;

		}

		thead {
			th {
				height: 30px;
				background-color: #F9FAFC;
				color: $black;
				font-size: 12px;
				text-align: right;
				border-bottom: 1px solid #DDDDDD;

				&:first-child {
					text-align: center;
				}

				&:last-child {
					padding-right: 16px;
				}
			}
		}

		tbody {
			td {
				text-align: right;
				font-size: 12px;
				height: 27px;
				border-bottom: 1px solid #DDDDDD;

				p {
					color: $black;
				}

				&:first-child {
					text-align: center;
				}

				&:last-child {
					padding-right: 16px;
				}

				p {
					font-size: 12px;
				}
			}
		}
	}
}