html, body, header, nav, main, aside, section, article, div, p, input, button, h1, h2, h3, h4, h5, h6, address { margin: 0; padding: 0; font-size: 100%; font-family: "Roboto", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue"; font-weight: 400; line-height: 1; -webkit-box-sizing: border-box; box-sizing: border-box; }

ul, ol, dl, li, dt, dd { margin: 0; padding: 0; list-style: none; -webkit-box-sizing: border-box; box-sizing: border-box; }

input, button, textarea { background: none; border: none; font-size: 100%; -webkit-box-sizing: border-box; box-sizing: border-box; border: none; outline: none; }

input:active, input:focus, button:active, button:focus, textarea:active, textarea:focus { color: inherit; }

input { -webkit-appearance: none; -webkit-border-radius: 0; }

input[type="password"] { font-family: sans-serif; }

address { font-style: normal; }

textarea { resize: none; }

table { width: 100%; border-collapse: collapse; }

caption { overflow: hidden; position: absolute; width: 0; height: 0; -webkit-transform: scale(0); transform: scale(0); }

a { color: inherit; text-decoration: none; }

a:active, a:focus { border: none; outline: none; }

img { vertical-align: top; }

@font-face { font-family: "Roboto"; src: url("../fonts/Roboto-Ligth.ttf") format("ttf"), url("../fonts/Roboto-Ligth.ttf") format("ttf"); font-weight: 300; font-style: normal; }

@font-face { font-family: "Roboto"; src: url("../fonts/Roboto-Regular.ttf") format("ttf"), url("../fonts/Roboto-Regular.ttf") format("ttf"); font-weight: 400; font-style: normal; }

@font-face { font-family: "Roboto"; src: url("../fonts/Roboto-Medium.ttf") format("ttf"), url("../fonts/Roboto-Medium.ttf") format("ttf"); font-weight: 500; font-style: normal; }

@font-face { font-family: "Roboto"; src: url("../fonts/Roboto-Bold.ttf") format("ttf"), url("../fonts/Roboto-Bold.ttf") format("ttf"); font-weight: 700; font-style: normal; }

@font-face { font-family: "Roboto"; src: url("../fonts/Roboto-Black.ttf") format("ttf"), url("../fonts/Roboto-Black.ttf") format("ttf"); font-weight: 900; font-style: normal; }

body { overflow-x: hidden; }

.header-wrap { position: absolute; left: 0; top: 0; width: 100%; padding: 0 288px 0 120px; background-color: #fff; z-index: 5; }

.header-wrap .header { display: -webkit-box; display: -ms-flexbox; display: flex; position: relative; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: 22px 0; padding-left: 286px; }

.header-wrap .header .logo { position: absolute; left: 0; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); }

.header-wrap .nav { display: -webkit-box; display: -ms-flexbox; display: flex; margin-right: auto; }

.header-wrap .nav li a { font-size: 16px; line-height: 18px; color: rgba(0, 0, 0, 0.8); font-weight: 500; }

.header-wrap .nav li a:hover { color: #000; font-weight: 700; }

.header-wrap .nav li + li { margin-left: 30px; }

.header-wrap .util { display: -webkit-box; display: -ms-flexbox; display: flex; }

.header-wrap .util li a { font-size: 16px; line-height: 18px; color: #000; font-weight: 500; }

.header-wrap .util li + li { margin-left: 20px; }

.header-wrap .util .language-box > button { padding-right: 12px; background: url("../images/btn/btn_lan.png") no-repeat right center transparent; cursor: pointer; }

.header-wrap .util .language-box .list { display: none; }

.visual-wrap { position: relative; }

.visual-wrap .img img { position: relative; width: 1920px; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); }

.visual-wrap .text-wrap { display: -webkit-box; display: -ms-flexbox; display: flex; position: absolute; left: 0; top: 0; width: 100%; height: 100%; padding-top: 77px; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

.visual-wrap .text-wrap .title { margin-bottom: 83px; font-size: 36px; line-height: 43px; color: #fff; text-align: center; font-weight: 500; }

.visual-wrap .text-wrap .title span { display: block; margin-top: 9px; font-size: 16px; line-height: 19px; color: #fff; font-weight: 500; }

.visual-wrap .text-wrap .link { display: -webkit-box; display: -ms-flexbox; display: flex; }

.visual-wrap .text-wrap .link a { display: inline-block; width: 150px; height: 48px; color: #fff; font-size: 16px; line-height: 48px; text-align: center; background-color: #2960D7; }

.visual-wrap .text-wrap .link a + a { margin-left: 10px; background-color: #173582; }

.banner { background-color: #525774; text-align: center; }

.banner > span { display: inline-block; font-size: 20px; line-height: 27px; color: #fff; padding: 30px 0 30px 170px; background: url("../images/bg/bg_banner.png") no-repeat left center transparent; }

.banner > span span { color: #6B9DDF; }

.chart-list { display: -webkit-box; display: -ms-flexbox; display: flex; max-width: 1230px; margin: 80px auto 60px auto; }

.chart-list .chart { width: calc(33.333% - 24.666666px); }

.chart-list .chart + .chart { margin-left: 74px; }

.chart-list .chart-info { display: -webkit-box; display: -ms-flexbox; display: flex; margin-bottom: 36px; }

.chart-list .chart-info .left { margin-right: auto; }

.chart-list .chart-info .left .name { margin-bottom: 10px; font-size: 28px; line-height: 34px; color: #2B2B2B; }

.chart-list .chart-info .left .eng { font-size: 16px; line-height: 19px; color: #2B2B2B; }

.chart-list .chart-info .right { text-align: right; }

.chart-list .chart-info .right.up .price { color: #C4291C; }

.chart-list .chart-info .right.up .condition { padding-left: 20px; background: url("../images/bg/bg_up.png") no-repeat left center transparent; color: #C4291C; }

.chart-list .chart-info .right.down .price { color: #638FF2; }

.chart-list .chart-info .right.down .condition { padding-left: 20px; background: url("../images/bg/bg_down.png") no-repeat left center transparent; color: #638FF2; }

.chart-list .chart-info .right .price { font-size: 28px; line-height: 34px; }

.chart-list .chart-info .right .condition { margin-top: 7px; font-size: 16px; line-height: 19px; }

.chart-list .chart-graph { margin-bottom: 20px; }

.chart-list .chart-graph img { width: 100%; }

.chart-list .legned { display: -webkit-box; display: -ms-flexbox; display: flex; }

.chart-list .legned span { position: relative; display: inline-block; padding-left: 20px; font-size: 12px; line-height: 14px; color: #2B2B2B; }

.chart-list .legned span.today { background: url("../images/bg/bg_today.png") no-repeat left center transparent; }

.chart-list .legned span.ago { background: url("../images/bg/bg_ago.png") no-repeat left center transparent; }

.chart-list .legned span + span { margin-left: 22px; }

.coin-table { max-width: 1230px; margin: 0 auto; }

.coin-table .tab-cont { display: none; }

.coin-table .tab-cont.active { display: block; }

.coin-table .tab { display: -webkit-box; display: -ms-flexbox; display: flex; margin-bottom: 22px; border-bottom: 1px solid #F2F2F2; }

.coin-table .tab button { position: relative; font-size: 16px; line-height: 17px; color: #333333; padding-bottom: 5px; cursor: pointer; }

.coin-table .tab button.active { font-weight: 700; color: #F3A068; }

.coin-table .tab button.active::after { display: block; position: absolute; left: 0; bottom: 0; width: 100%; height: 2px; background-color: #F3A068; content: ""; }

.coin-table .tab button + button { margin-left: 17px; }

.coin-table .tab button.like { padding-left: 20px; background: url("../images/bg/bg_star.png") no-repeat left bottom 5px transparent; }

.coin-table .tab button.like.active { background: url("../images/bg/bg_star_on.png") no-repeat left bottom 5px transparent; }

.coin-table .filter { display: -webkit-box; display: -ms-flexbox; display: flex; }

.coin-table .filter > div { position: relative; display: block; }

.coin-table .filter > div input { position: absolute; left: 0; top: 0; width: 100%; height: 100%; opacity: 0; cursor: pointer; }

.coin-table .filter > div input:checked + span { background-color: #616161; color: #fff; font-weight: 400; }

.coin-table .filter > div > span { display: inline-block; width: 92px; height: 32px; line-height: 32px; border-radius: 100px; border: 1px solid #A4A4A4; text-align: center; }

.coin-table .filter > div + div { margin-left: 4px; }

.coin-table .filter > div.danger span { width: 124px; background: url("../images/bg/bg_danger.png") no-repeat left 10px center transparent; }

.coin-table .tabel { width: 100%; margin-top: 10px; }

.coin-table .tabel thead th { padding: 12px 0; font-size: 12px; line-height: 14px; color: #616161; font-weight: 400; }

.coin-table .tabel thead th > div { position: relative; display: inline-block; padding-right: 16px; }

.coin-table .tabel thead th > div .btn-group { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; position: absolute; right: 0; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); }

.coin-table .tabel thead th > div .btn-group button.up { cursor: pointer; width: 8px; height: 7px; background: url("../images/btn/btn_up.png") no-repeat center transparent; }

.coin-table .tabel thead th > div .btn-group button.up.on { background: url("../images/btn/btn_up_on.png") no-repeat center transparent; }

.coin-table .tabel thead th > div .btn-group button.down { cursor: pointer; width: 8px; height: 7px; background: url("../images/btn/btn_down.png") no-repeat center transparent; }

.coin-table .tabel thead th > div .btn-group button.down.on { background: url("../images/btn/btn_down_on.png") no-repeat center transparent; }

.coin-table .tabel thead th > div .btn-group button + button { margin-top: 2px; }

.coin-table .tabel thead th.first { padding-left: 24px; }

.coin-table .tabel thead th .select { margin-left: 19px; }

.coin-table .tabel tbody tr td { padding: 16px 0; font-size: 14px; line-height: 14px; color: #616161; border-top: 1px solid #F2F2F2; }

.coin-table .tabel tbody tr td .name { display: inline-block; padding-left: 24px; background: url("../images/bg/bg_star.png") no-repeat left center transparent; }

.coin-table .tabel tbody tr td button { cursor: pointer; }

.coin-table .tabel tbody tr td button.deposit { width: 100%; height: 17px; background: url("../images/btn/btn_deposit.png") no-repeat center transparent; }

.coin-table .tabel tbody tr td button.withdraw { width: 100%; height: 17px; background: url("../images/btn/btn_withdraw.png") no-repeat center transparent; }

.coin-table .tabel tbody tr td button.chart { width: 100%; height: 17px; background: url("../images/btn/btn_chart.png") no-repeat center transparent; }

.coin-table .tabel tbody tr td button.deal { width: 100%; height: 17px; background: url("../images/btn/btn_deal.png") no-repeat center transparent; }

.coin-table .tabel tbody tr td .down { color: #638FF2; }

.coin-table .tabel tbody tr td .up { color: #C4291C; }

.coin-table .tabel tbody tr:last-child td { border-bottom: 1px solid #F2F2F2; }

.coin-table .tabel .text-left { text-align: left; }

.coin-table .tabel .text-right { text-align: right; }

.middle-banner { margin-top: 83px; }

.middle-banner img { position: relative; width: 1920px; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); }

.info-list { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; padding: 100px 0 70px 0; background-color: #F7F9FB; }

.info-list div.info01 .title { background: url("../images/bg/bg_info01.png") no-repeat center top transparent; }

.info-list div.info02 .title { background: url("../images/bg/bg_info02.png") no-repeat center top transparent; }

.info-list div.info03 .title { background: url("../images/bg/bg_info03.png") no-repeat center top transparent; }

.info-list div.info04 .title { background: url("../images/bg/bg_info04.png") no-repeat center top transparent; }

.info-list div.info05 .title { background: url("../images/bg/bg_info05.png") no-repeat center top transparent; }

.info-list div .title { display: block; padding-top: 52px; font-size: 16px; line-height: 19px; color: #2B2B2B; font-weight: 700; text-align: center; }

.info-list div p { margin-top: 18px; font-size: 12px; line-height: 14px; color: #707171; text-align: center; font-weight: 300; }

.info-list div + div { margin-left: 96px; }

.footer { padding: 0 196px; }

.footer .inner { display: -webkit-box; display: -ms-flexbox; display: flex; padding: 66px 0 55px 0; }

.footer .left { position: relative; padding-left: 180px; margin-right: auto; }

.footer .left .logo { position: absolute; left: 0; top: 0; }

.footer .left .desc { font-size: 16px; line-height: 19px; color: #2B2B2B; font-weight: 500; }

.footer .left .desc + .desc { margin-top: 17px; }

.footer .right .call { display: inline-block; padding-left: 60px; margin-bottom: 26px; font-size: 22px; line-height: 51px; color: #2B2B2B; font-weight: 700; background: url("../images/bg/bg_call.png") no-repeat left center transparent; }

.footer .right p { margin-bottom: 22px; font-size: 32px; line-height: 38px; color: #2B2B2B; }

.footer .right p span { margin-left: 18px; font-size: 16px; line-height: 19px; color: #2B2B2B; }

.footer .right .kakao { display: inline-block; padding: 10px 10px 10px 40px; font-size: 16px; line-height: 20px; color: #2B2B2B; border: 1px solid #E5E5E5; background: url("../images/bg/bg_kakao.png") no-repeat left 10px center transparent; }

.select { display: inline-block; width: 94px; height: 27px; border: 1px solid #707070; }

.select select { width: 100%; height: 100%; border: none; }
/*# sourceMappingURL=style.css.map */