//mixin
@mixin bg($url, $type: png, $repeat: no-repeat, $pos: center, $color: transparent) {
	background: url("../images/#{$url}.#{$type}") $repeat $pos $color;
}

//color
$white: #fff;
$black: #000;
$blue: #2d60bd;
$red: #c4291c;

//import
@import "reset";

html,
body {
	height: 100%;
}

.wrap {
	min-height: 100%;

	&.bg {
		background-color: #eaecf0;
	}
}

//header
.header-wrap {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	padding: 0 288px 0 120px;
	background-color: $white;
	z-index: 5;

	.header {
		display: flex;
		position: relative;
		align-items: center;
		padding: 22px 0;
		padding-left: 286px;

		.logo {
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
		}
	}

	.nav {
		display: flex;
		margin-right: auto;

		li {
			a {
				font-size: 16px;
				line-height: 18px;
				color: rgba($color: $black, $alpha: 0.8);
				font-weight: 500;
				&.active,
				&:hover {
					color: $black;
					font-weight: 700;
				}
			}

			+ li {
				margin-left: 30px;
			}
		}
	}

	.util {
		display: flex;

		li {
			a {
				font-size: 16px;
				line-height: 18px;
				color: $black;
				font-weight: 500;
			}

			+ li {
				margin-left: 20px;
			}
		}

		.language-box {
			> button {
				padding-right: 12px;
				@include bg(btn/btn_lan, $pos: right center);
				cursor: pointer;
			}

			.list {
				display: none;
			}
		}
	}
}

//visual
.visual-wrap {
	position: relative;
	overflow: hidden;

	.img {
		img {
			position: relative;
			width: 1920px;
			left: 50%;
			transform: translateX(-50%);
		}
	}

	.text-wrap {
		display: flex;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		padding-top: 77px;
		align-items: center;
		justify-content: center;
		flex-direction: column;

		.title {
			margin-bottom: 83px;
			font-size: 36px;
			line-height: 43px;
			color: $white;
			text-align: center;
			font-weight: 500;

			span {
				display: block;
				margin-top: 9px;
				font-size: 16px;
				line-height: 19px;
				color: $white;
				font-weight: 500;
			}
		}

		.link {
			display: flex;

			a {
				display: inline-block;
				width: 150px;
				height: 48px;
				color: $white;
				font-size: 16px;
				line-height: 48px;
				text-align: center;
				background-color: #2960d7;

				+ a {
					margin-left: 10px;
					background-color: #173582;
				}
			}
		}
	}
}

//banner
.banner {
	background-color: #525774;
	text-align: center;

	> span {
		display: inline-block;
		font-size: 20px;
		line-height: 27px;
		color: $white;
		padding: 30px 0 30px 170px;
		@include bg(bg/bg_banner, $pos: left center);

		span {
			color: #6b9ddf;
		}
	}
}

//chartList
.chart-list {
	display: flex;
	max-width: 1230px;
	margin: 80px auto 60px auto;

	.chart {
		width: calc(33.333% - 24.666666px);

		+ .chart {
			margin-left: 74px;
		}
	}

	.chart-info {
		display: flex;
		margin-bottom: 36px;

		.left {
			margin-right: auto;

			.name {
				margin-bottom: 10px;
				font-size: 28px;
				line-height: 34px;
				color: #2b2b2b;
			}

			.eng {
				font-size: 16px;
				line-height: 19px;
				color: #2b2b2b;
			}
		}

		.right {
			text-align: right;
			$obj: (
				up: #c4291c,
				down: #638ff2,
			);

			@each $condi, $color in $obj {
				&.#{$condi} {
					.price {
						color: $color;
					}

					.condition {
						padding-left: 20px;
						@include bg(bg/bg_#{$condi}, $pos: left center);
						color: $color;
					}
				}
			}

			.price {
				font-size: 28px;
				line-height: 34px;
			}

			.condition {
				margin-top: 7px;
				font-size: 16px;
				line-height: 19px;
			}
		}
	}

	.chart-graph {
		margin-bottom: 20px;

		img {
			width: 100%;
		}
	}

	.legned {
		display: flex;

		span {
			position: relative;
			display: inline-block;
			padding-left: 20px;
			font-size: 12px;
			line-height: 14px;
			color: #2b2b2b;

			@each $obj in today, ago {
				&.#{$obj} {
					@include bg(bg/bg_#{$obj}, $pos: left center);
				}
			}

			+ span {
				margin-left: 22px;
			}
		}
	}
}

.coin-table {
	max-width: 1230px;
	margin: 0 auto;

	.tab-cont {
		display: none;

		&.active {
			display: block;
		}
	}

	.tab {
		display: flex;
		margin-bottom: 22px;
		border-bottom: 1px solid #f2f2f2;

		button {
			position: relative;
			font-size: 16px;
			line-height: 17px;
			color: #333333;
			padding-bottom: 5px;
			cursor: pointer;

			&.active {
				font-weight: 700;
				color: #f3a068;

				&::after {
					display: block;
					position: absolute;
					left: 0;
					bottom: 0;
					width: 100%;
					height: 2px;
					background-color: #f3a068;
					content: "";
				}
			}

			+ button {
				margin-left: 17px;
			}

			&.like {
				padding-left: 20px;
				@include bg(bg/bg_star, $pos: left bottom 5px);

				&.active {
					@include bg(bg/bg_star_on, $pos: left bottom 5px);
				}
			}
		}
	}

	.filter {
		display: flex;

		> div {
			position: relative;
			display: block;

			input {
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				opacity: 0;
				cursor: pointer;

				&:checked {
					+ span {
						background-color: #616161;
						color: $white;
						font-weight: 400;
					}
				}
			}

			> span {
				display: inline-block;
				width: 92px;
				height: 32px;
				line-height: 32px;
				border-radius: 100px;
				border: 1px solid #a4a4a4;
				text-align: center;
			}

			+ div {
				margin-left: 4px;
			}

			&.danger {
				span {
					width: 124px;
					@include bg(bg/bg_danger, $pos: left 10px center);
				}
			}
		}
	}

	.tabel {
		width: 100%;
		margin-top: 10px;

		thead {
			th {
				padding: 12px 0;
				font-size: 12px;
				line-height: 14px;
				color: #616161;
				font-weight: 400;

				> div {
					position: relative;
					display: inline-block;
					padding-right: 16px;

					.btn-group {
						display: flex;
						flex-direction: column;
						position: absolute;
						right: 0;
						top: 50%;
						transform: translateY(-50%);

						@each $obj in up, down {
							button.#{$obj} {
								cursor: pointer;
								width: 8px;
								height: 7px;
								@include bg(btn/btn_#{$obj});

								&.on {
									@include bg(btn/btn_#{$obj}_on);
								}
							}
						}

						button {
							+ button {
								margin-top: 2px;
							}
						}
					}
				}

				&.first {
					padding-left: 24px;
				}

				.select {
					margin-left: 19px;
				}
			}
		}

		tbody {
			tr {
				td {
					padding: 16px 0;
					font-size: 14px;
					line-height: 14px;
					color: #616161;
					border-top: 1px solid #f2f2f2;

					.name {
						display: inline-block;
						padding-left: 24px;
						@include bg(bg/bg_star, $pos: left center);
					}

					button {
						cursor: pointer;

						@each $obj in deposit, withdraw, chart, deal {
							&.#{$obj} {
								width: 100%;
								height: 17px;
								@include bg(btn/btn_#{$obj});
							}
						}
					}

					.down {
						display: inline-block;
						padding-right: 14px;
						color: #638ff2;
						@include bg(bg/bg_down01, $pos: right center);

						&.ty1 {
							@include bg(bg/bg_down02, $pos: right center);
						}
					}

					.up {
						display: inline-block;
						padding-right: 14px;
						color: #c4291c;
						@include bg(bg/bg_up01, $pos: right center);

						&.ty1 {
							@include bg(bg/bg_up02, $pos: right center);
						}
					}
				}

				&:last-child {
					td {
						border-bottom: 1px solid #f2f2f2;
					}
				}
			}
		}

		.text-left {
			text-align: left;
		}

		.text-right {
			text-align: right;
		}
	}
}

//middle-banner
.middle-banner {
	margin-top: 83px;
	overflow: hidden;

	img {
		position: relative;
		width: 1920px;
		left: 50%;
		transform: translateX(-50%);
	}
}

//info-list
.info-list {
	display: flex;
	justify-content: center;
	padding: 100px 0 70px 0;
	background-color: #f7f9fb;

	div {
		@each $obj in info01, info02, info03, info04, info05 {
			&.#{$obj} {
				.title {
					@include bg(bg/bg_#{$obj}, $pos: center top);
				}
			}
		}

		.title {
			display: block;
			padding-top: 52px;
			font-size: 16px;
			line-height: 19px;
			color: #2b2b2b;
			font-weight: 700;
			text-align: center;
		}

		p {
			margin-top: 18px;
			font-size: 12px;
			line-height: 14px;
			color: #707171;
			text-align: center;
			font-weight: 300;
		}

		+ div {
			margin-left: 96px;
		}
	}
}

//footer
.footer {
	padding: 0 196px;
	background-color: #fff;

	.inner {
		display: flex;
		padding: 66px 0 55px 0;
	}

	.left {
		position: relative;
		padding-left: 180px;
		margin-right: auto;

		.logo {
			position: absolute;
			left: 0;
			top: 0;
		}

		.desc {
			font-size: 16px;
			line-height: 19px;
			color: #2b2b2b;
			font-weight: 500;

			+ .desc {
				margin-top: 17px;
			}
		}
	}

	.right {
		.call {
			display: inline-block;
			padding-left: 60px;
			margin-bottom: 26px;
			font-size: 22px;
			line-height: 51px;
			color: #2b2b2b;
			font-weight: 700;
			@include bg(bg/bg_call, $pos: left center);
		}

		p {
			margin-bottom: 22px;
			font-size: 32px;
			line-height: 38px;
			color: #2b2b2b;

			span {
				margin-left: 18px;
				font-size: 16px;
				line-height: 19px;
				color: #2b2b2b;
			}
		}

		.kakao {
			display: inline-block;
			padding: 10px 10px 10px 40px;
			font-size: 16px;
			line-height: 20px;
			color: #2b2b2b;
			border: 1px solid #e5e5e5;
			@include bg(bg/bg_kakao, $pos: left 10px center);
		}
	}
}

.contents {
	background-color: #eaecf0;
	position: relative;
	max-width: 1400px;
	margin: 0 auto;
	padding: 90px 410px 55px 0;
	&.type01 {
		padding: 90px 0 55px 216px;
		min-height: calc(100vh - 90px);
	}
	&.type02 {
		padding: 90px 0 55px 0px;
		min-height: calc(100vh - 90px);
	}
	.notice {
		padding: 22px 24px;
		background-color: #fff;
		box-shadow: 2px 2px 4px #dee1e7;
		p {
			padding-left: 42px;
			font-size: 16px;
			line-height: 28px;
			color: #000000;
			@include bg(bg/bg_notice, $pos: left center);
		}
	}
	.box-list {
		display: flex;
		margin-top: 10px;
		.right-section {
			position: static;
		}
	}
	.side-menu {
		position: absolute;
		left: 0;
		top: 90px;
		width: 192px;
		height: calc(100vh - 236px);
		background-color: $white;
		.title {
			padding: 30px 22px;
			background-color: #535f6e;
			strong {
				color: $white;
				font-size: 16px;
				line-height: 20px;
			}
		}
		ul {
			padding: 16px 0;
			li {
				padding: 8px 16px;
				a {
					display: inline-block;
					color: #333;
					font-size: 16px;
					line-height: 20px;
					font-weight: 700;
					&.new {
						padding-right: 30px;
						@include bg(icon/icon_new, $pos: right center);
					}
				}
				&.active {
					background-color: #f5f6fa;
					a {
						color: $blue;
					}
				}
			}
		}
	}
	.login {
		height: calc(100vh - 236px);
		.login-box {
			display: flex;
			height: 100%;
			align-items: center;
			justify-content: center;
			.inner {
				width: 486px;
				text-align: center;
				.tit {
					display: inline-block;
					margin-bottom: 62px;
					font-size: 60px;
					line-height: 62px;
					color: #2f3982;
					font-weight: 700;
				}
				input {
					width: 100%;
					height: 48px;
					border: 1px solid #a0a0a0;
					color: #333;
					padding: 0 17px;
					background-color: #f3f6ff;
					+ input {
						margin-top: 8px;
					}
				}
				button {
					width: 100%;
					height: 48px;
					margin-top: 43px;
					background-color: #2f3982;
					font-size: 16px;
					line-height: 48px;
					color: #fff;
					text-align: center;
					font-weight: 700;
				}
				.link {
					display: flex;
					margin-top: 44px;
					a {
						display: block;
						width: 33.33%;
						text-align: center;
						font-size: 16px;
						line-height: 18px;
						color: #333;
						font-weight: 700;
						+ a {
							border-left: 1px solid #707070;
						}
					}
				}
			}
		}
	}
	.sub-section {
		padding: 25px 46px;
		background-color: #fff;
		box-shadow: 2px 2px 4px #dee1e7;
		.sub-title {
			display: flex;
			align-items: center;
			margin-bottom: 16px;
			strong {
				font-size: 26px;
				line-height: 34px;
				color: #000;
			}
			.search-wrap {
				position: relative;
				padding-right: 90px;
				margin-left: auto;
				input {
					width: 270px;
					height: 38px;
					padding: 0 10px;
					border: 1px solid #dddee1;
					color: #333;
					font-size: 14px;
					font-weight: 500;
					&::placeholder {
						color: #aeaeae;
					}
				}
				button {
					position: absolute;
					right: 0;
					top: 0;
					width: 80px;
					height: 38px;
					font-size: 14px;
					line-height: 38px;
					color: #fff;
					background-color: #0362df;
				}
			}
		}
	}
	.borad-wrap {
		table {
			.text-left {
				text-align: left;
			}
			.notice {
				padding: 0 20px;
				background-color: #e9eef3;
				p {
					height: 50px;
					padding-left: 40px;
					font-size: 16px;
					line-height: 50px;
					color: $black;
					text-align: left;
					@include bg(bg/bg_notice, $pos: left center);
					span {
						color: $blue;
					}
				}
			}
			tr {
				th {
					height: 45px;
					font-size: 16px;
					line-height: 16px;
					color: #000000;
					border-top: 1px solid #707070;
					border-bottom: 1px solid #707070;
					background-color: #f9fafc;
				}
				td {
					height: 50px;
					padding: 0 20px;
					font-size: 16px;
					line-height: 18px;
					color: #000;
					text-align: center;
					border-bottom: 1px solid #e8e8ec;
				}
			}
		}
	}
	.row-table {
		.table-title {
			margin-bottom: 14px;
			font-size: 16px;
			line-height: 22px;
			color: #000;
			font-weight: 700;
		}
		.text-center {
			text-align: center;
		}
		table {
			thead {
				tr {
					&:first-child {
						th {
							&:first-child {
								border-left: none;
							}
						}
					}
					th {
						border-left: 1px solid #ededf0;
						text-align: center;
					}
				}
			}
			tr {
				&:first-child {
					th,
					td {
						border-top: 1px solid #ededf0;
					}
				}
				th {
					padding: 12px 0 12px 22px;
					text-align: left;
					font-size: 14px;
					line-height: 20px;
					background-color: #f8faff;
					color: #828483;
					border-bottom: 1px solid #ededf0;
				}
				td {
					padding: 0 20px;
					border-bottom: 1px solid #ededf0;
					> span {
						font-size: 12px;
						color: #333;
						font-weight: 700;
					}
					&.receipt {
						span {
							position: relative;
							font-size: 12px;
							font-weight: 700;
							color: #b2b2b2;
							padding-right: 42px;
							button {
								position: absolute;
								right: 0;
								top: 50%;
								width: 36px;
								height: 22px;
								transform: translateY(-50%);
								font-size: 12px;
								line-height: 16px;
								border: 1px solid #dddee1;
							}
						}
					}
					.desc {
						position: relative;
						padding-right: 110px;
						font-size: 14px;
						line-height: 20px;
						color: #828483;
						button {
							position: absolute;
							right: 0;
							top: 50%;
							width: 100px;
							height: 32px;
							transform: translateY(-50%);
							font-size: 14px;
							line-height: 32px;
							color: #fff;
							background-color: #083687;
						}
					}
				}
			}
		}
		.no-text {
			font-size: 14px;
			line-height: 16px;
			padding: 50px 0;
			color: #5d5d5d;
			font-weight: 700;
			text-align: center;
		}
		.event {
			padding: 20px 0;
			p {
				margin-top: 10px;
				font-size: 14px;
				color: #5d5d5d;
				font-weight: 700;
			}
		}
		.noti-list {
			margin-top: 14px;
			li {
				font-size: 14px;
				line-height: 26px;
				color: #999;
				font-weight: 700;
			}
		}
		.name {
			padding: 12px 0;
			.desc {
				margin-top: 8px;
				font-size: 12px;
				line-height: 14px;
				color: #b2b2b2;
				font-weight: 700;
			}
		}
		.input-set {
			position: relative;
			display: inline-block;
			padding-right: 110px;
			input {
				width: 280px;
				height: 32px;
				padding: 0 10px;
				border: 1px solid #eeefef;
				color: #333;
				font-size: 14px;
				font-weight: 500;
				&::placeholder {
					color: #aeaeae;
				}
				&:disabled {
					font-weight: 700;
					border: none;
				}
			}
			button {
				position: absolute;
				right: 0;
				top: 0;
				width: 100px;
				height: 32px;
				font-size: 14px;
				line-height: 32px;
				color: #fff;
				background-color: #083687;
			}
		}
		.btn-wrap {
			display: flex;
			margin-top: 36px;
			button {
				width: 100px;
				height: 32px;
				font-size: 14px;
				line-height: 32px;
				color: #fff;
				background-color: #083687;
				&.right {
					margin-left: auto;
				}
			}
		}
		+ .row-table {
			margin-top: 94px;
		}
	}
	.check-wrap {
		display: block;

		.checkbox {
			display: inline-block;
			position: relative;
			width: auto;
			margin-right: 15px;

			input {
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				opacity: 0;

				&:checked {
					+ label {
						@include bg(btn/btn_radio_on, $pos: left center);
						background-size: 16px auto;
					}
				}
			}

			label {
				display: block;
				padding-left: 22px;
				@include bg(btn/btn_radio, $pos: left center);
				background-size: 16px auto;
				line-height: 40px;
				color: #333;
				font-size: 14px;
			}
		}
	}

	.tab-cont {
		display: none;

		&.active {
			display: block;
		}
	}

	.tab-btn {
		display: flex;
		border-bottom: 1px solid #d2d2d2;

		button {
			width: 33.33%;
			font-size: 18px;
			font-weight: 500;
			padding: 12px 0;

			&.active {
				position: relative;
				font-weight: 700;

				&::after {
					display: block;
					position: absolute;
					left: 0;
					bottom: 0;
					width: 100%;
					height: 3px;
					content: "";
					background-color: $blue;
				}
			}
		}
	}
}

.left-section {
	.coin-top {
		margin-bottom: 10px;
		background-color: #fff;
		box-shadow: 2px 2px 4px #dee1e7;

		.coin-header {
			position: relative;
			display: flex;
			height: 46px;
			padding: 0 16px;
			border-bottom: 1px solid #d4d6dc;
			padding-right: 54px;

			.setting {
				position: absolute;
				right: 0;
				top: 0;
				width: 54px;
				height: 100%;
				border-left: 1px solid #d4d6dc;
			}

			.select {
				display: flex;
				align-items: center;
				height: 42px;
				padding-right: 16px;
				@include bg(btn/btn_down_on, $pos: right center);

				strong {
					color: #000;
					font-size: 20px;
					font-weight: 700;
				}

				p {
					margin-left: 4px;
					color: #666;
					font-size: 12px;
				}
			}

			.tab {
				position: relative;
				width: 142px;
				color: #2d60bd;
				margin-left: auto;
				font-size: 18px;
				line-height: 42px;
				text-align: center;

				&::after {
					display: block;
					position: absolute;
					left: 0;
					bottom: 0;
					width: 100%;
					height: 2px;
					background-color: $blue;
					content: "";
				}
			}
		}
	}
}

.right-section {
	position: absolute;
	right: 0;
	top: 90px;
	width: 400px;
	height: calc(100vh - 100px);
	background-color: #fff;
	box-shadow: 2px 2px 4px #dee1e7;

	.tab-cont {
		height: 100%;
	}

	.search-wrap {
		display: flex;
		border-bottom: 1px solid #e9eaed;

		.search {
			position: relative;
			width: calc(100% - 80px);
			padding: 0 40px 0 10px;

			button {
				position: absolute;
				right: 10px;
				top: 50%;
				width: 16px;
				height: 16px;
				transform: translateY(-50%);
				@include bg(btn/btn_search);
			}

			input {
				width: 100%;
				height: 100%;
				font-size: 16px;
				color: #333;

				&::placeholder {
					color: rgba($color: #333, $alpha: 0.8);
				}
			}
		}

		> button {
			border-left: 1px solid #e9eaed;
			width: 46px;
			height: 46px;

			@each $obj in star, settomg {
				&.#{$obj} {
					@include bg(btn/btn_#{$obj});
				}
			}
		}
	}

	.tab-btn {
		border: none;

		button {
			width: 25%;
			font-weight: 300;
			font-size: 16px;

			&.active {
				font-weight: 700;
				color: $blue;
			}
		}
	}

	.scroll-section {
		height: calc(100% - 137px);
		overflow: auto;
	}
}

.coin-price {
	position: relative;
	display: flex;
	padding: 18px 20px 14px;

	.left {
		> div {
			display: flex;

			&.top {
				align-items: flex-end;
			}

			&.bottom {
				align-items: center;

				p {
					font-size: 10px;
				}

				strong {
					display: inline-block;
					font-weight: 500;
					margin: 0 9px 0 10px;
					font-size: 16px;
				}
			}

			&.up {
				color: $red;

				.upDown {
					padding-left: 16px;
					@include bg(bg/bg_updown_up, $pos: left center);
					background-size: 10px auto;
				}
			}

			&.down {
				color: $blue;

				.upDown {
					padding-left: 16px;
					@include bg(bg/bg_updown_down, $pos: left center);
					background-size: 10px auto;
				}
			}

			> strong {
				display: inline-block;
				font-size: 36px;
				font-weight: 700;
				letter-spacing: 1px;
			}

			.krw {
				display: inline-block;
				font-size: 20px;
				line-height: 24px;
				font-weight: 700;
				margin-left: 4px;
			}

			p {
				font-size: 10px;
				color: inherit;
			}
		}
	}

	.right {
		display: flex;
		flex-wrap: wrap;
		margin-left: auto;
		width: 440px;

		.top {
			background-color: #fff;
			box-shadow: 2px 2px 4px #dee1e7;
		}

		ul {
			display: flex;
			flex-wrap: wrap;
			width: calc(50% - 10px);

			li {
				display: flex;
				width: 100%;

				.tit {
					display: inline-block;
					margin-right: auto;
					font-size: 12px;
					line-height: 14px;
					color: #000000;
				}

				strong {
					font-size: 16px;
					font-weight: 500;

					i {
						display: inline-block;
						margin-left: 4px;
						font-size: 14px;
					}

					&.up {
						color: $red;
					}

					&.down {
						color: $blue;
					}
				}

				+ li {
					border-top: 1px solid #e3e5eb;
					margin-top: 6px;
					padding-top: 6px;
				}
			}

			+ ul {
				margin-left: 20px;
			}
		}
	}
}

.middle {
	display: flex;
	padding: 8px 30px;
	background-color: #f9fafc;

	> div {
		width: 33.33%;
		display: flex;

		.name {
			font-size: 16px;
			line-height: 20px;
			color: $blue;
		}

		.price {
			margin-left: 14px;
			font-size: 16px;
			color: $black;

			i {
				margin-left: 4px;
				font-size: 12px;
				color: $black;
			}
		}
	}
}

.graph-sectoin {
	width: 100%;
	height: 100%;
	background-color: #eee;
}

.coinDeal-section {
	overflow: hidden;

	> .left {
		background-color: #fff;
		box-shadow: 2px 2px 4px #dee1e7;
	}

	> .left,
	> .right {
		float: left;
		width: calc(50% - 5px);
	}

	.right {
		display: flex;
		flex-direction: column;

		.top,
		.bottom {
			width: 100%;
			background-color: #fff;
			box-shadow: 2px 2px 4px #dee1e7;
		}

		.bottom {
			height: 330px;
			margin-top: 10px;

			.tab-btn {
				button {
					width: 50%;
				}
			}
		}
	}

	.accumulate {
		thead {
			th {
				height: 40px;
				background-color: #f9fafc;
				color: #000;
				font-size: 14px;
				font-weight: 500;
				text-align: right;
				border-bottom: 1px solid #dddddd;
			}
		}

		+ .table-wrap {
			padding-bottom: 0;
		}
	}

	.table-wrap {
		position: relative;
		padding-bottom: 46px;

		&.sellBuy {
			padding-bottom: 0;

			.top-util {
				display: flex;
				height: 46px;
				padding: 0 20px 0 160px;

				.check-wrap {
					position: absolute;
					left: 20px;
					top: 0;

					label {
						line-height: 46px;
					}

					span {
						height: 46px;
					}
				}

				.btn-group {
					display: flex;
					align-items: center;
					width: 100%;

					button {
						width: 25%;
						border: 1px solid #f5f6fa;
						font-size: 12px;
						line-height: 30px;
						height: 30px;
						color: #333;

						+ button {
							margin-left: 10px;
						}
					}
				}
			}
		}

		.desc {
			font-size: 14px;
			color: $black;
		}

		.scroll {
			height: 720px;
			overflow-y: auto;
		}

		.scoll-bottom {
			display: flex;
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;

			> div {
				width: 33.33%;
				flex: 1 1 auto;
				height: 46px;
				font-size: 14px;
				line-height: 46px;
				text-align: center;

				+ div {
					border-left: 1px solid #f2f3f6;
				}

				&.toggle {
					a {
						display: inline-block;
						padding-right: 16px;
						@include bg(bg/bg_btc2, $pos: right center);
					}
				}

				&.left {
					text-align: right;
					padding-right: 20px;
				}

				&.right {
					text-align: left;
					padding-left: 20px;
				}
			}
		}
	}

	.table {
		border-right: 1px solid #f2f3f6;

		.text-top {
			vertical-align: top;

			.info {
				.up {
					color: $red;
				}

				.down {
					color: $blue;
				}

				dl {
					padding: 0 10px;
					display: flex;
					flex-wrap: wrap;

					dt {
						width: 40%;
						font-size: 12px;
						line-height: 1.8em;
						margin-right: auto;
						color: $black;
					}

					dd {
						width: 60%;
						text-align: right;
						font-size: 11px;
						line-height: 1.8em;
						color: $black;

						p {
							color: #7a7676;
							font-size: 10px;
						}
					}

					+ dl {
						border-top: 1px solid #dedede;
						margin-top: 18px;
						padding-top: 18px;
					}
				}

				table {
					th {
						font-size: 11px;
						background: #f9fafc;
						height: 30px;
						border-top: 1px solid #f1f1f4;
						border-bottom: 1px solid #f1f1f4;
						text-align: center;
						color: #333;
					}

					td {
						height: 20px;
						padding: 0;
						border: 0;
						color: #595959;
						font-size: 11px;
						text-align: right;
						padding-right: 10px;

						&:first-child {
							padding-right: 4px;
						}

						&.up {
							color: $red;
						}

						&.down {
							color: $blue;
						}
					}
				}

				dl {
					margin: 0 10px;
					padding: 10px 0;
					border-top: 1px solid #f1f1f4;
					overflow: hidden;

					dt {
						float: left;
						width: 40%;
						color: #84868c;
						line-height: 1.8em;
						font-size: 11px;
						font-family: Dotum, Noto Sans KR, sans-serif;
						letter-spacing: 0;
						text-align: left;
					}

					dd {
						float: left;
						width: 60%;
						line-height: 1.8em;
						color: #2b2b2b;
						font-size: 11px;
						letter-spacing: 1px;
						text-align: right;

						&.up {
							color: $red;
						}

						&.down {
							color: $blue;
						}
					}
				}
			}
		}

		.text-bottom {
			vertical-align: bottom;

			.info {
				.up {
					color: $red;
				}

				.down {
					color: $blue;
				}

				dl {
					padding: 0 5px;

					dt {
						font-size: 12px;
						line-height: 1.8em;
						margin-right: auto;
						color: $black;
					}

					dd {
						text-align: right;
						font-size: 11px;
						line-height: 1.8em;
						color: $black;

						p {
							color: #7a7676;
							font-size: 10px;
						}
					}

					+ dl {
						border-top: 1px solid #dedede;
						margin-top: 18px;
						padding-top: 18px;
					}
				}
			}
		}

		.buyCoin {
			display: block;
			width: 100%;
			height: 44px;
			color: rgb(160, 160, 161);
			line-height: 44px;
			text-align: center;
			background: rgb(245, 249, 255);
		}

		.sellCoin {
			display: block;
			width: 100%;
			height: 44px;
			color: rgb(160, 160, 161);
			line-height: 44px;
			text-align: center;
			background: rgb(255, 245, 248);
		}

		.up {
			color: $red;
		}

		.down {
			color: $blue;
		}

		tr {
			&.down {
				.bar {
					span {
						background-color: rgba($color: #ebf1fc, $alpha: 0.9);
					}
				}

				td.box {
					background-color: #ebf1fc;
				}
			}

			&.up {
				.bar {
					span {
						background-color: rgba($color: #fef7f7, $alpha: 0.9);
					}
				}

				td.box {
					background-color: #fef7f7;
				}
			}

			td {
				vertical-align: middle;
				border-bottom: 1px solid #f2f3f6;
				border-left: 1px solid #f2f3f6;

				&:first-child {
					border: none;
				}

				&.last {
					text-align: left;
					font-size: 14px;
					color: #333;

					.bar {
						position: relative;
						z-index: 10;

						p {
							position: relative;
							z-index: 10;
						}

						span {
							display: block;
							position: absolute;
							left: 0;
							top: 50%;
							transform: translateY(-50%);
							height: 30px;
						}
					}
				}

				&.first {
					text-align: right;
					font-size: 14px;
					color: #333;

					.bar {
						position: relative;
						z-index: 10;

						p {
							position: relative;
							z-index: 10;
						}

						span {
							display: block;
							position: absolute;
							right: 0;
							top: 50%;
							transform: translateY(-50%);
							height: 30px;
						}
					}
				}

				&.box {
					&:hover {
						background-color: rgba($color: $blue, $alpha: 0.2);
					}

					> div {
						position: relative;
						display: flex;
						height: 42px;
						line-height: 42px;
						justify-content: flex-end;
						padding-right: 13px;
						text-align: right;

						&.selected {
							&::after {
								position: absolute;
								left: 0;
								top: 0;
								width: 100%;
								height: 100%;
								content: "";
								display: block;
								border: 1px solid #000;
								@include bg(bg/bg_selected, $pos: left -1px center);
							}
						}
					}

					.percent {
						margin-left: 10px;
						font-size: 12px;
						line-height: 42px;
					}
				}
			}
		}
	}

	.down-table {
		position: relative;
		padding-right: 33.33%;

		.info {
			position: absolute;
			right: 0;
			bottom: 0;
			width: 33.33%;

			.up {
				color: $red;
			}

			.down {
				color: $blue;
			}

			dl {
				padding: 0 10px;
				display: flex;
				flex-wrap: wrap;

				dt {
					width: 40%;
					font-size: 12px;
					line-height: 1.8em;
					margin-right: auto;
					color: $black;
				}

				dd {
					width: 60%;
					text-align: right;
					font-size: 11px;
					line-height: 1.8em;
					color: $black;

					p {
						color: #7a7676;
						font-size: 10px;
					}
				}

				+ dl {
					border-top: 1px solid #dedede;
					margin-top: 18px;
					padding-top: 18px;
				}
			}
		}
	}

	.up-table {
		position: relative;
		padding-left: 33.33%;

		.info {
			position: absolute;
			left: 0;
			top: 0;
			width: 33.33%;

			.up {
				color: $red;
			}

			.down {
				color: $blue;
			}

			dl {
				padding: 0 10px;
				display: flex;
				flex-wrap: wrap;

				dt {
					width: 40%;
					font-size: 12px;
					line-height: 1.8em;
					margin-right: auto;
					color: $black;
				}

				dd {
					width: 60%;
					text-align: right;
					font-size: 11px;
					line-height: 1.8em;
					color: $black;

					p {
						color: #7a7676;
						font-size: 10px;
					}
				}

				+ dl {
					border-top: 1px solid #dedede;
					margin-top: 18px;
					padding-top: 18px;
				}
			}

			table {
				th {
					font-size: 11px;
					background: #f9fafc;
					height: 30px;
					border-top: 1px solid #f1f1f4;
					border-bottom: 1px solid #f1f1f4;
					text-align: center;
				}

				td {
					height: 20px;
					padding: 0;
					border: 0;
					color: #595959;
					font-size: 11px;
					text-align: right;
					padding-right: 10px;

					&:first-child {
						padding-right: 4px;
					}

					&.up {
						color: $red;
					}

					&.down {
						color: $blue;
					}
				}
			}

			dl {
				margin: 0 10px;
				padding: 10px 0;
				border-top: 1px solid #f1f1f4;
				overflow: hidden;

				dt {
					float: left;
					width: 40%;
					color: #84868c;
					line-height: 1.8em;
					font-size: 11px;
					font-family: Dotum, Noto Sans KR, sans-serif;
					letter-spacing: 0;
					text-align: left;
				}

				dd {
					float: left;
					width: 60%;
					line-height: 1.8em;
					color: #2b2b2b;
					font-size: 11px;
					letter-spacing: 1px;
					text-align: right;

					&.up {
						color: $red;
					}

					&.down {
						color: $blue;
					}
				}
			}
		}
	}
}

.time-section {
	margin-top: 10px;
	background-color: #fff;
	box-shadow: 2px 2px 4px #dee1e7;

	.tab-btn {
		button {
			width: 50%;
		}
	}

	.scroll {
		height: 260px;
		overflow: auto;
	}

	table {
		tr {
			&:nth-child(2n) {
				background-color: #f9fafc;
			}
		}

		.up {
			color: $red;
		}

		.down {
			color: $blue;
		}

		thead {
			th {
				height: 30px;
				background-color: #f9fafc;
				color: $black;
				font-size: 12px;
				text-align: right;
				border-bottom: 1px solid #dddddd;

				&:first-child {
					text-align: center;
				}

				&:last-child {
					padding-right: 16px;
				}
			}
		}

		tbody {
			td {
				text-align: right;
				font-size: 12px;
				height: 27px;
				border-bottom: 1px solid #dddddd;

				p {
					color: $black;
				}

				&:first-child {
					text-align: center;
				}

				&:last-child {
					padding-right: 16px;
				}

				p {
					font-size: 12px;
				}
			}
		}
	}
}

.oder-section {
	height: 470px;

	.tab-btn {
		button {
			color: $black;

			&::after {
				background-color: $black;
			}

			&.red {
				color: $red;

				&::after {
					background-color: $red;
				}
			}

			&.blue {
				color: $blue;

				&::after {
					background-color: $blue;
				}
			}
		}
	}

	.list {
		padding: 30px 20px 0 20px;

		li {
			position: relative;
			padding-left: 160px;

			.won {
				display: inline-block;
				width: 100%;
				height: 54px;
				text-align: right;
				font-size: 24px;
				line-height: 36px;
				color: #777777;

				p {
					font-size: 12px;
					line-height: 12px;
				}

				span {
					font-weight: 500;
					font-size: 14px;
				}
			}

			.price {
				display: flex;

				input {
					width: 100%;
					height: 36px;

					padding: 0 10px;
					text-align: right;
					border: 1px solid #f5f6fa;
					font-size: 16px;
					color: #333;
					font-weight: 700;
				}

				a {
					width: 34px;
					height: 34px;
					background-color: #f5f6fa;
					border: 1px solid #f5f6fa;
					font-size: 20px;
					line-height: 34px;
					text-align: center;
					display: block;
					font-weight: 700;
				}
			}

			> span {
				display: inline-block;
				position: absolute;
				left: 0;
				top: 0;
				width: 164px;
				font-size: 14px;
				line-height: 36px;
			}

			.input-set {
				.btn-group {
					display: flex;
					margin-top: 10px;

					button {
						width: 25%;
						border: 1px solid #f5f6fa;
						font-size: 12px;
						line-height: 30px;
						color: #333;

						+ button {
							margin-left: 10px;
						}
					}
				}

				input {
					width: 100%;
					height: 36px;

					padding: 0 10px;
					text-align: right;
					border: 1px solid #f5f6fa;
					font-size: 16px;
					color: #333;
					font-weight: 700;
				}
			}

			+ li {
				margin-top: 10px;
			}
		}
	}

	.direct-btn {
		display: flex;
		margin: 50px 0;
		padding: 0 20px;

		a {
			flex: 1 1 auto;
			font-size: 16px;
			height: 40px;
			line-height: 40px;
			background-color: #777;
			text-align: center;
			color: #fff;
			font-weight: 700;

			+ a {
				margin-left: 10px;
			}

			&.login {
				background-color: $blue;
			}

			&.buy {
				background-color: $red;
			}

			&.sell {
				background-color: $blue;
			}
		}
	}
}

.quote-table {
	tr {
		&:first-child {
			td {
				border-bottom: 1px solid #cdcdcd;
			}
		}
	}

	tr {
		td {
			&:first-child {
				text-align: center;
			}
		}
	}

	tr + tr {
		th,
		td {
			border-bottom: 1px solid #cbcbcb;
		}
	}

	th {
		padding: 8px 8px;
		font-size: 14px;
		line-height: 16px;
		color: #656565;
		border-bottom: 1px solid #cbcbcb;

		+ th {
			border-left: 1px solid #cbcbcb;
		}
	}

	td {
		padding: 8px 8px;
		font-size: 14px;
		color: #656565;
		text-align: right;
		font-weight: 700;
		vertical-align: middle;

		+ td {
			border-left: 1px solid #cbcbcb;
		}

		&.percent {
			p {
				font-size: 12px;
				font-weight: 700;
			}

			em {
				font-size: 12px;
			}
		}
	}

	.up {
		color: $red;
	}

	.down {
		color: $blue;
	}
}

//table
.table-base {
	width: 100%;
	background-color: #fff;

	thead {
		height: 28px;
		border-top: 1px solid #bbb;
		border-bottom: 1px solid #bbb;

		th {
			padding: 4px 0;

			a {
				display: inline-block;
				padding-right: 16px;
				font-size: 14px;
				line-height: 34px;
				color: #333333;
			}

			&.tit {
				a {
					@include bg(btn/btn_change_lan, $pos: right center);
				}
			}

			&.price,
			&.percent,
			&.tradecost {
				a {
					@include bg(btn/btn_sort, $pos: right center);

					@each $obj in up, down {
						&.#{$obj} {
							@include bg(btn/btn_sort_#{$obj}, $pos: right center);
						}
					}
				}
			}
		}
	}

	tr {
		&.up {
			color: $red;
		}

		&.down {
			color: $blue;
		}
	}

	td {
		border-bottom: 1px solid #eeeeee;
		height: 44px;

		&.star {
			text-align: center;

			button {
				cursor: pointer;
				width: 12px;
				height: 12px;
				@include bg(btn/btn_star);
				background-size: cover;
				&.active {
					@include bg(btn/btn_star_on);
					background-size: cover;
				}
			}
		}

		&.tit {
			strong {
				display: block;
				min-height: 12px;
				margin-bottom: 4px;
				line-height: 12px;
				color: #27282a;
				font-size: 14px;
				font-weight: 500;
				word-break: break-all;
			}

			em {
				display: block;
				line-height: 16px;
				color: #333;
				font-size: 11px;
			}
		}

		&.price {
			position: relative;
			padding-bottom: 0;
			text-align: right;

			strong {
				display: block;
				height: 12px;
				margin-bottom: 4px;
				line-height: 12px;
				font-size: 14px;
				font-weight: 500;
			}

			em {
				display: block;
				color: #999;
				font-size: 11px;
			}
		}

		&.percent {
			text-align: right;

			p {
				height: 12px;
				line-height: 12px;
				font-size: 14px;
				font-weight: 500;
			}

			em {
				font-size: 11px;
			}
		}

		&.tradecost {
			padding-right: 12px;
			text-align: right;

			p {
				font-size: 12px;
				color: #333;

				span {
					color: #999;
				}
			}
		}
	}
}
