html {
    font-size: 9.5px;
}
.footer {
    padding:8rem 0 25rem 10rem;
    background-color: #3a3a3a;
    .logo {
        width: 50.7%;
        margin-bottom:4rem;
    }
    p {
        font-size:2.5rem;
        line-height: 3.5rem;
        color:#9d9d9d;
        font-family: 'Noto Sans KR';
        font-weight: 300;
        white-space: pre-line;
        a {
            font-size:2.5rem;
            line-height: 3.5rem;
            color:#9d9d9d;
            font-family: 'Noto Sans KR';
            font-weight: 300;
        }
    }
}
.fix-btn {
    position: fixed;
    left:50%;
    bottom:-100%;
    display: block;
    width:100%;
    max-width: 768px;
    transform: translateX(-50%);
    transition: all .5s ease-in-out;
    img {
        width:100%;
    }
    &.active {
        bottom:0;
    }
}
.wrapper {
    margin:0 auto;
    max-width:768px;
    overflow: hidden;
    .top-spot {
        display: flex;
        align-items: flex-start;
        position: absolute;
        left:0;
        top:0;
        padding: 4.1%;
        width:100%;
        .logo {
            width: 33%;
        }
        .call {
            width: 21%;
            margin-left:auto;
        }
    }
}
.section {
    .section-tit {
        img {
            width:100%;
        }
    }
}
.section01 {
    position: relative;
    >img {
        width:100%;
    }
    .link {
        position: absolute;
        left: 4%;
        bottom: 6.7%;
        width: 92%;
        height: 11%;
        display: block;
        border-radius: 50px;
    }
}
.section03 {
    padding:0 3rem;
}
.product-list {
    padding:0 6rem;
    li {
        padding:4rem 14.8rem 4rem 4rem;
        border-radius: 2rem;
        @each $obj in item01 ,item02,item03,item04 {
            &.product-#{$obj}{
                background:url('../img/icon_#{$obj}.png') no-repeat right 2.8rem center;
                background-color: #f2f2f2;
                background-size:12rem auto;
            }
        }
        strong {
            display:inline-block;
            margin-bottom:1.5rem;
            font-size:3.5rem;
            color:#bc391a;
            font-family: GmarketSansBold;
        }
        p {
            color:#373737;
            font-size:3rem;
            line-height:3.8rem;
            white-space: pre-line;
        }
        span {
            font-size:2.5rem;
            color:#373737;
        }
        + li {
            margin-top:2rem;
        }
    }
}
.notice-list {
    margin-bottom:8rem;
    border-bottom:1px solid #81272b;
    li {
        padding:3.7rem 5rem;
        border-top:1px solid #81272b;
        strong {
            display:inline-block;
            margin-bottom:1.5rem;
            font-size:3.5rem;
            color:#bc391a;
            font-family: GmarketSansBold;
        }
        p {
            color:#373737;
            font-size:3rem;
            line-height:3.4rem;
            white-space: pre-line;
        }
        span {
            font-size:2.5rem;
            color:#373737;
            line-height:3.5rem;
            color:#373737;
            white-space: pre-line;
        }
    }
}
.notice-wrap {
    padding:8rem 0 8rem 10rem;
    background-color: #f2f2f2;
    strong {
        display:inline-block;
        margin-bottom:4rem;
        font-size:3.5rem;
        color:#373737;
        font-family:GmarketSansBold;
    }
    p {
        position: relative;
        padding-left:2.5rem;
        white-space: pre-line;
        font-size:2.5rem;
        line-height:3.2rem;
        color:#373737;
        font-family: 'Noto Sans KR';
        font-weight: 300;
        a{
            font-size:2.5rem;
            line-height:3.2rem;
            color:#373737;
            font-family: 'Noto Sans KR';
            font-weight: 300;
        }
        &::after {
            display: block;
            position: absolute;
            left:0;
            top:0;
            content: 'ㆍ';
            font-size:2.5rem;
            line-height:3.5rem;
        }
        + p {
            margin-top:1.5rem;
        }
    }
}

@media screen and (max-width: 684px) {
    html {
        font-size:8px;
    }
}

@media screen and (max-width: 590px) {
    html {
        font-size:6.6px;
    }
}
@media screen and (max-width: 500px) {
    html {
        font-size:6px;
    }
}
@media screen and (max-width: 450px) {
    html {
        font-size:5px;
    }
}


@media screen and (max-width: 384px) {
    html {
        font-size:4px;
    }
}