@charset "UTF-8";
.wrapper { min-width: 800px; margin: 0 auto; }

.header-wrap { position: absolute; left: 0; top: 0; width: 100%; }

.header-wrap .header { display: -webkit-box; display: -ms-flexbox; display: flex; max-width: 1040px; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin: 0 auto; }

.header-wrap .header .shingan-img { margin-left: auto; }

.footer { padding: 40px 0; background-color: #9f9f9f; }

.footer p { max-width: 800px; margin: 0 auto; font-size: 14px; line-height: 22px; color: #fff; white-space: pre-line; font-family: 'AppleSDGothicNeo', 'Noto Sans KR', sans-serif; }

.content-wrap { background: -webkit-gradient(linear, left top, left bottom, from(#004a8f), to(#08062a)); background: linear-gradient(to bottom, #004a8f, #08062a); }

.content-wrap .content-inner { max-width: 800px; padding-top: 142px; margin: 0 auto; }

.content-wrap .content-inner .title { text-align: center; }

.content-wrap .content-inner .title strong { font-size: 60px; line-height: 80px; font-family: "OneShinhanMedium"; color: #fff; }

.content-wrap .content-inner .title span { color: #f9f307; font-family: "OneShinhanMedium"; }

.content-wrap .content-inner .title span i { position: relative; font-family: "OneShinhanMedium"; }

.content-wrap .content-inner .title span i::after { display: block; position: absolute; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); top: -6px; width: 8px; height: 8px; background-color: #f9f307; content: ""; border-radius: 100%; }

.product-info { position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; margin-top: 68px; padding-bottom: 84px; }

.product-info .tit { position: absolute; left: 50%; top: -20px; -webkit-transform: translateX(-50%); transform: translateX(-50%); width: 134px; padding: 10px 0 6px 0; font-size: 22px; line-height: 24px; font-family: 'GmarketSansMedium'; color: #fff; border-radius: 24px; background-color: #027fff; text-align: center; -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3); box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3); z-index: 10; }

.product-info .box { width: 50%; }

.product-info .box .inner { text-align: center; padding: 20px 0 28px 0; background-color: #fff; }

.product-info .box .inner .tit-text { display: inline-block; margin-bottom: 30px; padding-bottom: 5px; font-size: 35px; line-height: 44px; font-family: "OneShinhanBold"; border-bottom: 2px solid; }

.product-info .box .inner ul { display: -webkit-box; display: -ms-flexbox; display: flex; }

.product-info .box .inner ul li { width: 33.33%; }

.product-info .box .inner ul li p { padding-top: 62px; font-size: 12px; line-height: 18px; color: #818181; font-family: 'GmarketSansMedium'; }

.product-info .box .inner ul li p strong { display: inline-block; width: 100%; margin-top: 4px; font-family: "GmarketSansBold"; font-size: 19px; line-height: 22px; white-space: pre-line; }

.product-info .box .inner ul li p strong span { display: inline-block; font-size: 12px; line-height: 12px; font-family: 'GmarketSansMedium'; }

.product-info .box .inner ul li + li { position: relative; }

.product-info .box .inner ul li + li::after { position: absolute; left: 0; top: 20px; width: 2px; height: 84px; content: ""; background-color: #eaeaea; }

.product-info .left-box { position: relative; }

.product-info .left-box::after { display: block; position: absolute; right: -4px; top: 50px; width: 8px; height: 170px; border-radius: 20px; background-color: #112369; content: ""; }

.product-info .left-box .inner { border-radius: 20px 0 0 20px; }

.product-info .left-box .inner .tit-text { color: #027fff; border-color: #027fff; }

.product-info .left-box .inner li.left01 p { background: url(../img/icon_left01.png) no-repeat center top; }

.product-info .left-box .inner li.left02 p { background: url(../img/icon_left02.png) no-repeat center top; }

.product-info .left-box .inner li.left03 p { background: url(../img/icon_left03.png) no-repeat center top; }

.product-info .left-box .inner li strong { color: #027fff; }

.product-info .right-box .inner { border-radius: 0 20px 20px 0; }

.product-info .right-box .inner .tit-text { color: #112369; border-color: #112369; }

.product-info .right-box .inner li.right01 p { background: url(../img/icon_right01.png) no-repeat center top; }

.product-info .right-box .inner li.right02 p { background: url(../img/icon_right02.png) no-repeat center top; }

.product-info .right-box .inner li.right03 p { background: url(../img/icon_right03.png) no-repeat center top; }

.product-info .right-box .inner li strong { color: #112369; }

.product-info .right-box .link { margin-left: 10px; color: #112369; background: url(../img/img_right_arrow.png) no-repeat right 30px center #f9f307; }

.product-info .link { display: inline-block; padding: 18px 0 16px 0; margin-top: 35px; width: calc(100% - 10px); text-align: center; font-size: 28px; line-height: 34px; text-decoration: none; border-radius: 20px; font-family: 'GmarketSansMedium'; color: #fff; background: url(../img/img_left_arrow.png) no-repeat right 30px center #106ddf; }

.product-info .link strong { font-size: 38px; line-height: 40px; font-family: 'GmarketSansBold'; font-weight: bold; }

.notice-wrap { padding: 84px 0 88px 0; background-color: #f2f2f2; }

.notice-wrap .inner-box { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; max-width: 800px; margin: 0 auto; background-color: #fff; border-radius: 20px; }

.notice-wrap .inner-box > .box { width: 50%; padding: 44px 0 54px 36px; }

.notice-wrap .inner-box > .box > strong { display: inline-block; margin-bottom: 32px; padding-bottom: 4px; font-size: 32px; font-family: "OneShinhanMedium"; border-bottom: 2px solid; color: #027fff; border-color: #027fff; font-weight: bold; }

.notice-wrap .inner-box > .box.right { position: relative; }

.notice-wrap .inner-box > .box.right > strong { color: #112369; border-color: #112369; }

.notice-wrap .inner-box > .box.right::after { display: block; position: absolute; left: 0; top: 36px; width: 1px; height: calc(100% - 72px); content: ""; background-color: #b2b2b2; }

.notice-wrap .inner-box .text-box { font-size: 16px; line-height: 24px; color: #000; white-space: pre-line; font-family: 'AppleSDGothicNeo', 'Noto Sans KR', sans-serif; -webkit-transform: skew(-0.1deg); transform: skew(-0.1deg); }

.notice-wrap .inner-box .text-box span { font-family: 'AppleSDGothicNeo', 'Noto Sans KR', sans-serif; }

.notice-wrap .inner-box .text-box strong { display: inline-block; margin-bottom: 6px; font-family: 'AppleSDGothicNeo', 'Noto Sans KR', sans-serif; -webkit-transform: skew(-0.1deg); transform: skew(-0.1deg); width: 100%; font-size: 16px; line-height: 26px; color: #000; font-weight: bold; }

.notice-wrap .inner-box .text-box p { font-size: 14px; line-height: 20px; font-family: 'AppleSDGothicNeo', 'Noto Sans KR', sans-serif; -webkit-transform: skew(-0.1deg); transform: skew(-0.1deg); }

.notice-wrap .inner-box .bottom { position: relative; width: 100%; padding: 50px 0 50px 36px; }

.notice-wrap .inner-box .bottom strong { display: inline-block; margin-bottom: 6px; font-family: 'AppleSDGothicNeo', 'Noto Sans KR', sans-serif; width: 100%; font-size: 16px; line-height: 26px; color: #000; font-weight: bold; }

.notice-wrap .inner-box .bottom p { position: relative; padding-left: 8px; font-size: 16px; line-height: 24px; color: #000; white-space: pre-line; font-family: 'AppleSDGothicNeo', 'Noto Sans KR', sans-serif; }

.notice-wrap .inner-box .bottom p::after { display: block; position: absolute; left: 0; top: 0px; content: "·"; font-size: 16px; line-height: 24px; color: #000; font-family: 'AppleSDGothicNeo', 'Noto Sans KR', sans-serif; }

.notice-wrap .inner-box .bottom::after { display: block; position: absolute; left: 36px; top: 0px; width: calc(100% - 72px); height: 1px; content: ""; background-color: #b2b2b2; }

.notice-wrap .inner-box .bottom .num { margin-top: 50px; }

.notice-wrap .inner-box .bottom .num::after { display: none; }
/*# sourceMappingURL=style.css.map */