$blue : #0084d4;
$black : #000;
$white : #fff;
html {
    font-size: 9.5px;
}

.wrapper {
    margin:0 auto;
    max-width:768px;
    overflow: hidden;
    padding-bottom:13.2rem;
}
.footer {
    padding:4.4rem;
    font-size:2rem;
    line-height:2.2rem;
    text-align: center;
    color:#9d9d9d;
    background:#333;
}
.section02 {
    .section-tit {
        padding:6.3rem 0 10rem 0;
        text-align: center;
        font-size:4rem;
        line-height:5.6rem;
        color:#333;
        strong{
            color:#00358e;
            font-size:4.6rem;
        }
    }
}
.section03 {
    .desc {
        padding:4rem 0;
        text-align: center;
        font-size:3rem;
        line-height:4rem;
        color:#222;
    }
}
.section01 {
    position: relative;
    >img {
        width:100%;
    }
    .link {
        position: absolute;
        left: 7%;
        bottom: 6.8%;
        width: 86%;
        height: 15%;
        display: block;
        border-radius: 50px;
    }
}
.bx-wrapper {
    .bx-controls-direction {
        display: flex;
        position: absolute;
        left:0;
        top:30%;
        padding:0 2.6rem;
        width:100%;
        a {
            display: block;
            position: static;
            width:2.4rem;
            height:4.2rem;
            background: url(../img/btn_prev.png) no-repeat center / 100%;
            + a {
                margin-left:auto;
                background: url(../img/btn_next.png) no-repeat center / 100%;
            }
        }
    }
    .bx-pager  {
        .bx-pager-item {
            a {
                width:1.6rem;
                height:1.6rem;
                margin:0;
                background: #ccc;
                &.active {
                    background-color:#7f7f7f;
                }
            }
            & + .bx-pager-item {
                margin-left:2.2rem;
            }
        }
    }
}
.app-link {
    display:flex;
    padding:0 3.5rem 6.6rem 3.5rem;
    border-bottom:2px solid #cccccc;
    a {
        + a {
            margin-left:2rem;
        }
    }
}
.product-list {
    .product-item {
        .item-box {
            display: flex;
            padding:0 7.6rem;
            .item {
                width:calc(33.33% - 1.4rem);
                padding:2.2rem 0 2.4rem 0;
                text-align: center;
                background-color:#ebebeb;
                border-radius: 20px;
                @each $obj in item01 , item02, item03 {
                    &.#{$obj}{
                        strong {
                            background:url(../img/icon_#{$obj}.png) no-repeat top center;
                            background-size:auto 6.2rem;
                        }
                    }
                }
                p {
                    display:flex;
                    align-items: center;
                    justify-content: center;
                    height:6.4rem;
                    font-size:3rem;
                    line-height:3.2rem;
                    color:#333; 
                }
                strong{
                    position: relative;
                    display: inline-block;
                    width:100%;
                    padding-top:9.4rem;
                    margin-bottom:1.4rem;
                    font-size:3rem;
                    line-height:3.2rem;
                    color:$blue;
                    &::after {
                        display: block;
                        position: absolute;
                        left:50%;
                        transform: translateX(-50%);
                        bottom:5rem;
                        content: '';
                        width:3rem;
                        height:.3rem;
                        background-color: #999;
                    }
                }
                & + .item {
                    margin-left:1.4rem;
                }
            }
        }
        .notice {
            margin-top:4.4rem;
            padding:0 7.6rem;
            font-size: 2.8rem;
            line-height:3.6rem;
            color:#555555;
            white-space: pre-line;
            font-weight: normal;
            .desc {
                position: relative;
                padding-left:7rem;
                white-space: initial;
                font-weight: normal;
                .title {
                    position: absolute;
                    left:0;
                    top:0;
                    font-weight: normal;
                }
                >p {
                    position: relative;
                    padding-left:2rem;
                    font-weight: normal;
                    &::after {
                        position: absolute;
                        left:0;
                        top:0;
                        content: '-';
                    }
                }
            }
        }
        .tit {
            margin-bottom:5.8rem;
            text-align: center;
            font-size:5rem;
            color:$blue;
            line-height:5.2rem;
            font-family: "OneShinhanBold";
        }
    }
}
.notice-wrap {
    padding:5.6rem 5rem 7rem 5rem;
    background-color:#eaeaea;
    .tit {
        display: block;
        width:100%;
        margin-bottom:2.2rem;
        font-size:3rem;
        line-height:4rem;
        letter-spacing: -1px;
        color:$black;
        font-weight: bold;
        font-family: 'Nanum Gothic';
    }
    .sub-tit{
        display:inline-block;
        margin-bottom:1.2rem;
        margin-top:2.8rem;
        font-size:2.8rem;
        line-height:2.4rem;
        color:#666666;
        font-weight: bold;
        font-family: 'Nanum Gothic';
        font-weight: 600;
    }
    .bullet {
        position: relative;
        padding-left:2.2rem;
        color:#666;
        font-size:2.8rem;
        line-height:4.2rem;
        font-family: 'Nanum Gothic';
        font-weight: 400;
        letter-spacing: -1px;
        &::after {
            display:block;
            position: absolute;
            left:0;
            top:0;
            font-size:2.8rem;
            line-height:4.2rem;
            content: "•";
            
        }
        + .bullet {
            margin-top:.8rem;
        }
    }
    .desc {
        color:#666;
        font-size:2.8rem;
        line-height:4.2rem;
        font-family: 'Nanum Gothic';
        font-weight: 400;
        letter-spacing: -1px;
        &.type01 {
            margin:3.3rem 0;
        }
        span {
            font-family: 'Nanum Gothic';
            font-weight: 400;
            color:$blue;
        }
    }
}
.fix-btn {
    position: fixed;
    left:50%;
    bottom:-100%;
    display: block;
    width:100%;
    max-width: 768px;
    transform: translateX(-50%);
    transition: all .5s ease-in-out;
    a {
        position: absolute;
        left:0;
        top:0;
        width:50%;
        height:100%;
        + a {
            left:auto;
            right:0;
        }
    }
    img {
        width:100%;
    }
    &.active {
        bottom:-1px;
    }
}
@media screen and (max-width: 768px) {
    html {
        font-size:10px;
    }
}
@media screen and (max-width: 512px) {
    html {
        font-size:5.5px;
    }
}

@media screen and (max-width: 384px) {
    html {
        font-size:4px;
    }
}

