html,
body {
  height: 100%;
}
.wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  min-height: 100%;
  .content-box {
    margin-top: 80px;
    padding: 0 0 120px 0;
  }
  &.sub {
    padding-top: 0;
    .headerWrapper {
      background-color: transparent;
    }
    .titleSection {
      display: flex;
      align-items: self-end;
      padding-bottom: 16px;
      height: 300px;
      background-color: #eee;
      .title {
        font-size: 36px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.7;
        letter-spacing: normal;
        text-align: left;
        color: #fff;
      }
    }
  }
  &.main {
    padding-top: 0;
    .headerWrapper {
      background-color: transparent;
      z-index: 10;
    }
  }
}
.content {
  width: 100%;
  max-width: 1086px;
  padding: 0 20px;
  margin: 0 auto;
  &.side {
    position: relative;
    padding-left: 490px;
  }
  .sideWrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 372px;
    ul {
      border-bottom: solid 1px #e4e6ea;
      li {
        border-top: solid 1px #e4e6ea;
        a {
          display: flex;
          align-items: center;
          padding: 20px 0;
          font-size: 18px;
          font-style: normal;
          line-height: 1.5;
          text-align: left;
          color: #3b3f4a;
          i {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 32px;
            height: 32px;
            margin-right: 12px;
            border-radius: 10px;
            background-color: #d9f6fc;
          }
        }
      }
    }
  }
}

.headerWrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #02b3d4;
  header {
    display: flex;
    padding: 20px 0;
    align-items: center;
    h1 {
      a {
        font-size: 24px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.7;
        letter-spacing: normal;
        text-align: left;
        color: #f9fafc;
      }
    }
    .login {
      font-size: 20px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: left;
      color: #f9fafc;
    }
  }
  .gnb {
    margin: 0 auto;
    ul {
      display: flex;
      li {
        a {
          font-size: 20px;
          font-weight: 600;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.5;
          letter-spacing: normal;
          text-align: left;
          color: #f9fafc;
        }
        + li {
          margin-left: 60px;
        }
      }
    }
  }
}
.footerWrapper {
  padding: 48px 0;
  margin-top: auto;
  background-color: #eff1f4;
  footer {
    h2 {
      margin-bottom: 20px;
      font-size: 40px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: left;
      color: #9da0a8;
    }
    a {
      display: inline-block;
      margin-bottom: 20px;
      font-size: 16px;
      font-style: normal;
      line-height: 1.5;
      text-align: left;
      color: #9da0a8;
    }
    p {
      font-size: 16px;
      font-style: normal;
      line-height: 1.5;
      text-align: left;
      color: #9da0a8;
    }
  }
}
