html,
body {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  min-height: 100%;
}
.wrapper .content-box {
  margin-top: 80px;
  padding: 0 0 120px 0;
}
.wrapper.sub {
  padding-top: 0;
}
.wrapper.sub .headerWrapper {
  overflow: hidden;
  background-color: transparent;
  z-index: 10;
}
.wrapper.sub .headerWrapper.fixed {
  background-color: #02b3d4;
  transition: all 0.2s;
}
.wrapper.sub .titleSection {
  position: relative;
  display: flex;
  align-items: self-end;
  padding-bottom: 16px;
  height: 300px;
  background-color: #eee;
  overflow: hidden;
}
.wrapper.sub .titleSection img {
  position: absolute;
  left: 50%;
  top: 0;
  width: 2070px;
  transform: translateX(-50%);
}
.wrapper.sub .titleSection .title {
  position: relative;
  z-index: 10;
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}
.wrapper.main {
  padding-top: 0;
}
.wrapper.main .headerWrapper {
  background-color: transparent;
  z-index: 10;
}
.wrapper.main .headerWrapper.fixed {
  background-color: #02b3d4;
  transition: all 0.2s;
}

.content {
  width: 100%;
  max-width: 1086px;
  padding: 0 20px;
  margin: 0 auto;
}
.content.side {
  position: relative;
  padding-left: 490px;
}
.content .sideWrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 372px;
}
.content .sideWrapper ul {
  border-bottom: solid 1px #e4e6ea;
}
.content .sideWrapper ul li {
  border-top: solid 1px #e4e6ea;
}
.content .sideWrapper ul li a {
  display: flex;
  align-items: center;
  padding: 20px 0;
  font-size: 18px;
  font-style: normal;
  line-height: 1.5;
  text-align: left;
  color: #3b3f4a;
}
.content .sideWrapper ul li a i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  margin-right: 12px;
  border-radius: 10px;
  background-color: #d9f6fc;
}

.headerWrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #02b3d4;
  z-index: 10;
}
.headerWrapper header {
  display: flex;
  padding: 20px 0;
  align-items: center;
  position: relative;
}
.headerWrapper header h1 a {
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: normal;
  text-align: left;
  color: #f9fafc;
}
.headerWrapper header .menu {
  display: none;
}
.headerWrapper header .login {
  position: absolute;
  right: 20px;
  top: 50%;
  margin-left: auto;
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #f9fafc;
  transform: translateY(-50%);
}
.headerWrapper .gnb {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}
.headerWrapper .gnb ul {
  display: flex;
}
.headerWrapper .gnb ul li a {
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #f9fafc;
}
.headerWrapper .gnb ul li + li {
  margin-left: 60px;
}

.footerWrapper {
  padding: 48px 0;
  margin-top: auto;
  background-color: #eff1f4;
}
.footerWrapper footer h2 {
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #9da0a8;
}
.footerWrapper footer a {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  text-align: left;
  color: #9da0a8;
}
.footerWrapper footer p {
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  text-align: left;
  color: #9da0a8;
}

@media screen and (max-width: 764px) {
  .wrapper {
    padding-top: 60px;
  }
  .headerWrapper {
    position: fixed;
    width: 100%;
  }
  .headerWrapper h1 {
    position: relative;
    z-index: 10;
  }
  .headerWrapper header {
    padding: 10px 20px;
  }
  .headerWrapper header .menu {
    display: block;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    background: url(../img//Menu@2x.png) no-repeat center;
    background-size: 100%;
  }
  .headerWrapper header .menu.active {
    background: url(../img/Close@2x.png) no-repeat center;
    background-size: 100%;
  }
  .headerWrapper header .login {
    transform: translateY(0);
  }
  .headerWrapper .gnb {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #02b3d4;
    padding: 80px 0 48px 0;
  }
  .headerWrapper .gnb .login {
    display: inline-block;
    width: 100%;
    position: relative;
    left: 0;
    top: 0;
    padding: 42px 0 0 30px;
    margin-top: 42px;
  }
  .headerWrapper .gnb .login::after {
    display: block;
    position: absolute;
    left: 30px;
    top: 0;
    width: calc(100% - 60px);
    height: 1px;
    background-color: #fff;
    content: "";
  }
  .headerWrapper .gnb ul {
    flex-direction: column;
  }
  .headerWrapper .gnb ul li a {
    padding-left: 30px;
  }
  .headerWrapper .gnb ul li + li {
    margin: 52px 0 0 0;
  }
  .headerWrapper .gnb.active {
    display: block;
  }
  .wrapper .content-box {
    margin-top: 40px;
    padding: 0 20px 120px 20px;
  }
  .wrapper.sub .titleSection {
    height: 280px;
  }
  .wrapper .sideWrapper {
    display: none;
  }
}
.registerWrapper {
  position: relative;
  flex: 1;
  padding: 120px 0;
  background-color: #f9fafc;
}
.registerWrapper > .content {
  position: relative;
}
.registerWrapper > .content::after {
  position: absolute;
  right: 0;
  bottom: -190px;
  width: 504px;
  height: 774px;
  display: block;
  content: "";
  background: url(../img/login\ image@2x.png) no-repeat center;
  background-size: 100%;
}
.registerWrapper .inputSection {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.registerWrapper .whiteBox.register {
  width: 414px;
  height: 668px;
  overflow: auto;
}
.registerWrapper .whiteBox.inquiry {
  width: 900px;
  padding: 80px 90px;
}
.registerWrapper .whiteBox.inquiry .tit {
  margin-bottom: 60px;
}
.registerWrapper .utils {
  display: flex;
  margin-top: 12px;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #5a5e6a;
}
.registerWrapper .utils .view {
  margin-left: 8px;
  font-size: 14px;
  line-height: 1.5;
  text-align: left;
  color: #bec1c7;
}
.registerWrapper .utils .checkbox {
  margin-right: auto;
}
.registerWrapper .utils .linkBox {
  display: flex;
}
.registerWrapper .utils .linkBox a + a {
  position: relative;
  display: inline-block;
  padding-left: 8px;
  margin-left: 8px;
}
.registerWrapper .utils .linkBox a + a::after {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 10px;
  background-color: #d5d8dc;
  content: "";
}
.registerWrapper.inquiryWrapper > .content::after {
  display: none;
}

.into {
  margin-top: 60px;
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  color: #5a5e6a;
}
.into a {
  margin-left: 4px;
  color: #02b3d4;
}

@media screen and (max-width: 764px) {
  .registerWrapper {
    padding: 96px 20px 32px 20px;
    background-color: #fff;
  }
  .registerWrapper .content {
    width: 100%;
    padding: 0;
  }
  .registerWrapper .content::after {
    display: none;
  }
  .registerWrapper .whiteBox.register,
.registerWrapper .whiteBox.inquiry {
    width: 100%;
    height: auto;
    padding: 0;
    overflow: visible;
    box-shadow: none;
  }
}
.isMobile {
  display: none;
}

.whiteBox {
  padding: 40px 20px;
  border-radius: 20px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
.whiteBox .tit {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 32px;
  font-weight: bold;
  line-height: 1.5;
  text-align: left;
  color: #000;
}

.textHash {
  display: inline-block;
  position: relative;
  padding-right: 20px;
  margin-right: 20px;
  font-size: 28px;
  font-weight: bold;
  line-height: 1.5;
  text-align: left;
  color: #5a5e6a;
}
.textHash::after {
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  width: 2px;
  height: 32px;
  transform: translateY(-50%);
  content: "";
  background-color: #d9d9d9;
}

.btn {
  width: 100%;
  padding: 12px 0;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
  color: #f9fafc;
  border-radius: 8px;
  background-color: #02b3d4;
}
.btn.inquiry {
  width: 372px;
  margin: 0 auto;
  background-color: #d9f6fc;
  color: #02b3d4;
}

.checkbox {
  position: relative;
  padding-left: 28px;
}
.checkbox input {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  z-index: 10;
}
.checkbox input:checked + span::after {
  background-color: #02b3d4;
}
.checkbox span::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border-radius: 4px;
  border: solid 1px #d5d8dc;
  background-color: rgba(255, 255, 255, 0);
}

.inputSet span {
  display: inline-block;
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  color: #5a5e6a;
}

.textarea {
  width: 100%;
  padding: 13px 16px;
  font-size: 14px;
  line-height: 1.5;
  text-align: left;
  color: #000;
  border-radius: 8px;
  border: solid 1px #e4e6ea;
  outline: none;
  resize: none;
  font-weight: 600;
}
.textarea:disabled {
  color: #bec1c7;
  border: solid 1px #e4e6ea;
  background-color: #eff1f4;
}
.textarea::-moz-placeholder {
  font-weight: 400;
  color: #9da0a8;
}
.textarea:-ms-input-placeholder {
  font-weight: 400;
  color: #9da0a8;
}
.textarea::placeholder {
  font-weight: 400;
  color: #9da0a8;
}

.input {
  width: 100%;
  height: 48px;
  padding: 0 16px;
  font-size: 14px;
  line-height: 1.5;
  text-align: left;
  color: #000;
  border-radius: 8px;
  border: solid 1px #e4e6ea;
  outline: none;
  font-weight: 600;
}
.input:disabled {
  color: #bec1c7;
  background-color: #eff1f4;
  background-color: #eff1f4;
}
.input::-moz-placeholder {
  font-weight: 400;
  color: #9da0a8;
}
.input:-ms-input-placeholder {
  font-weight: 400;
  color: #9da0a8;
}
.input::placeholder {
  font-weight: 400;
  color: #9da0a8;
}
.input.login {
  background-color: #f9fafc;
}

.toggleWrapper {
  position: relative;
}
.toggleWrapper.side {
  padding-left: 98px;
}
.toggleWrapper .fillter {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 0;
  gap: 20px;
}
.toggleWrapper .fillter button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  line-height: 1.5;
  text-align: left;
  color: #5a5e6a;
  background-color: transparent;
}
.toggleWrapper .fillter button.active {
  color: #02b3d4;
}

.toggleBox {
  display: flex;
  position: relative;
  padding: 19px 76px 19px 32px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: #f9fafc;
  cursor: pointer;
}
.toggleBox strong {
  font-size: 28px;
  font-weight: bold;
  line-height: 1.5;
  text-align: left;
  color: #000;
}
.toggleBox strong.null {
  color: #d5d8dc;
}
.toggleBox::after {
  display: block;
  position: absolute;
  right: 32px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  background: url(../img//toggleArrow.svg) no-repeat center;
  content: "";
}
.toggleBox.disabled::after {
  display: none;
}
.toggleBox .apply {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  color: #fff;
  background-color: #02b3d4;
  border-radius: 0 10px 10px 0;
}

.toggleCont {
  display: flex;
  padding: 20px 40px;
  font-size: 16px;
  line-height: 1.7;
  text-align: left;
  color: #000;
}
.toggleCont img {
  width: 80px;
  height: 108px;
  margin-right: 34px;
  background-color: #eff1f4;
}

.searchBox {
  display: flex;
  padding: 20px 0;
  border-bottom: solid 1px #e4e6ea;
  border-radius: 10px;
}
.searchBox input {
  width: 100%;
  font-size: 28px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}
.searchBox input::-moz-placeholder {
  color: #bec1c7;
  font-weight: 500;
}
.searchBox input:-ms-input-placeholder {
  color: #bec1c7;
  font-weight: 500;
}
.searchBox input::placeholder {
  color: #bec1c7;
  font-weight: 500;
}
.searchBox button {
  width: 41px;
  height: 41px;
  margin-right: 12px;
  background: url(../img//Search.svg) no-repeat center;
}

.tabWrapper {
  display: flex;
  flex-wrap: wrap;
  margin: -20px 0 0 -20px;
}
.tabWrapper button {
  width: calc(25% - 20px);
  padding: 15px 0;
  margin: 20px 0 0 20px;
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #000;
  border-radius: 10px;
  border: solid 1px #e4e6ea;
}
.tabWrapper button.active {
  border-color: #02b3d4;
  color: #02b3d4;
}

.tabCont .tabTit {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
  font-size: 32px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}
.tabCont .tabTit .icon {
  display: inline-block;
  width: 46px;
  height: 46px;
  margin-right: 12px;
}
.tabCont .tabTit .icon.library {
  background: url(../img//LibraryBold.svg) no-repeat center;
}
.tabCont .desc {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
  text-align: left;
  color: #000;
}
.tabCont .desc a {
  display: inline-block;
  margin-left: 20px;
  font-size: 18px;
  line-height: 1.7;
  text-align: center;
  color: #02b3d4;
}
.tabCont .desc + .desc {
  margin-top: 16px;
}

.textWrapper .tit {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: bold;
  line-height: 1.7;
  text-align: left;
  color: #000;
}
.textWrapper .txt {
  font-size: 16px;
  font-style: normal;
  line-height: 1.7;
  text-align: left;
  color: #000;
}
.textWrapper .txt strong {
  font-weight: 600;
}
.textWrapper img {
  margin-top: 20px;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  height: 200px;
  background-color: #000;
}
.textWrapper + .textWrapper {
  margin-top: 60px;
}

@media screen and (max-width: 764px) {
  .isMobile {
    display: block;
  }
  .is_pc {
    display: none;
  }
  .tabWrapper {
    margin: -12px 0 0 -12px;
  }
  .tabWrapper button {
    width: calc(25% - 12px);
    margin: 12px 0 0 12px;
    font-size: 16px;
  }
  .searchBox {
    padding: 0 0 32px 0;
    border-radius: 0;
  }
  .searchBox input {
    width: 100%;
    font-size: 18px;
    text-align: center;
  }
  .searchBox input::-moz-placeholder {
    color: #bec1c7;
    font-weight: bold;
  }
  .searchBox input:-ms-input-placeholder {
    color: #bec1c7;
    font-weight: bold;
  }
  .searchBox input::placeholder {
    color: #bec1c7;
    font-weight: bold;
  }
  .searchBox button {
    width: 41px;
    height: 41px;
    margin-right: 12px;
    background: url(../img//Search.svg) no-repeat center;
  }
  .textHash {
    padding-right: 12px;
    margin-right: 12px;
    font-size: 16px;
    flex: 0 0 auto;
  }
  .toggleBox {
    padding: 26px 44px 26px 20px;
  }
  .toggleBox strong {
    font-size: 16px;
  }
  .toggleBox.toggleBox::after {
    width: 10px;
    height: 10px;
    background-size: 100%;
  }
  .toggleBox .apply {
    padding: 16px 12px;
    font-size: 16px;
  }
  .toggleCont {
    flex-direction: column;
  }
  .toggleCont img {
    margin-bottom: 12px;
  }
  .toggleWrapper.side {
    padding-left: 60px;
  }
}
.main .titleWrapper .sub {
  margin-bottom: 24px;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.5;
  text-align: left;
  color: #02b3d4;
}
.main .titleWrapper .tit {
  display: inline-block;
  margin-bottom: 12px;
  font-size: 48px;
  font-weight: 800;
  line-height: 1.5;
  text-align: left;
  color: #000;
}
.main .titleWrapper .desc {
  margin-bottom: 32px;
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}
.main .titleWrapper .desc span {
  color: #02b3d4;
}
.main .titleWrapper .linkBtn {
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  color: #17a6e3;
  padding: 10px 20px;
  border-radius: 100px;
  border: solid 1px #d5d8dc;
  background-color: #fff;
}
.main .timerBox {
  position: relative;
  margin-top: -174px;
  padding: 92px 0;
  border-radius: 30px;
  background-image: linear-gradient(107deg, #02b9d1 1%, #04a6da 107%);
}
.main .timerBox p {
  font-size: 28px;
  font-weight: bold;
  line-height: 1.5;
  text-align: left;
  color: #fff;
  text-align: center;
}
.main .timerBox .time {
  display: flex;
  justify-content: center;
}
.main .timerBox .time strong {
  display: inline-block;
  font-size: 72px;
  font-weight: 900;
  line-height: 1.5;
  color: #fff;
}
.main .timerBox .time strong + strong {
  margin-left: 80px;
}
.main .timerBox .time span {
  margin-left: 16px;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.5;
  text-align: left;
  color: #fff;
}
.main .section01 {
  overflow: hidden;
}
.main .section01 img {
  position: relative;
  width: 1920px;
  left: 50%;
  transform: translateX(-50%);
}
.main .section01 .titleBox {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding-top: 294px;
}
.main .section01 .titleBox p {
  font-size: 72px;
  font-weight: 900;
  line-height: 1.5;
  text-align: left;
  color: #fff;
}
.main .section02 {
  display: flex;
  align-items: center;
  margin: 56px auto 154px auto;
  padding: 0;
}
.main .section02 .titleWrapper {
  margin-left: 22px;
}
.main .section02 img {
  width: 556px;
}
.main .section03 {
  position: relative;
  padding: 120px 0 300px 0;
  background-color: #f9fafc;
}
.main .section03 .titleWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .section03 .titleWrapper .tit,
.main .section03 .titleWrapper .desc {
  text-align: center;
}
.main .section04 {
  display: flex;
  align-items: flex-end;
  padding: 200px 0 0 0;
}
.main .section04 .titleWrapper {
  margin-right: auto;
  padding-bottom: 482px;
  position: relative;
}
.main .section04 .titleWrapper .imgBox {
  position: absolute;
  right: -98px;
  bottom: 0;
  margin-top: 40px;
  text-align: right;
}
.main .section04 .titleWrapper .imgBox img {
  width: 274px;
}
.main .section04 .map {
  width: 666px;
  height: 666px;
  border-radius: 30px;
  background-color: #eee;
}
.main .section05 {
  padding: 120px 0;
  background-color: #f9fafc;
  overflow: hidden;
}
.main .section05 > .content {
  display: flex;
}
.main .section05 .titleWrapper {
  flex: 0 0 372px;
  margin-right: 20px;
}
.main .section05 .swiperWrapper {
  width: 100%;
}
.main .section05 .swiperWrapper .swiper {
  width: 100%;
}
.main .section05 .swiperWrapper .swiper-button {
  display: flex;
  margin-top: 40px;
}
.main .section05 .swiperWrapper .swiper-button-next,
.main .section05 .swiperWrapper .swiper-button-prev {
  position: static;
  width: 32px;
  height: 32px;
  border-radius: 100px;
  border: solid 1px #5a5e6a;
  background: url(../img/RightSm@2x.png) no-repeat center;
  background-size: 24px;
}
.main .section05 .swiperWrapper .swiper-button-next::after,
.main .section05 .swiperWrapper .swiper-button-prev::after {
  display: none;
}
.main .section05 .swiperWrapper .swiper-button-prev {
  margin-right: 20px;
  transform: rotate(180deg);
}
.main .section05 .swiper-slide {
  border-radius: 10px;
  box-shadow: 3px 3px 20px 0 rgba(0, 0, 0, 0.08);
  background-color: #fff;
}
.main .section05 .swiper-slide .imgBox img {
  width: 100%;
}
.main .section05 .swiper-slide .textBox {
  padding: 16px 24px 24px;
}
.main .section05 .swiper-slide .textBox .tit {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  text-align: left;
  color: #000;
}
.main .section05 .swiper-slide .textBox .date {
  font-size: 18px;
  line-height: 1.7;
  text-align: left;
  color: #9da0a8;
  text-align: right;
}
.main .section05 .swiper-slide .textBox .more {
  margin-top: 22px;
  text-align: right;
}
.main .section05 .swiper-slide .textBox .more a {
  display: inline-block;
  width: 22px;
  height: 22px;
  border: 1px solid #5a5e6a;
  border-radius: 100px;
  background: url(../img/Plus@2xGray.png) no-repeat center;
  background-size: 14px;
}
.main .section06 {
  padding: 200px 0;
}
.main .section06 .titleWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
}
.main .section06 .imgBox {
  display: flex;
}
.main .section06 .imgBox > div {
  position: relative;
  width: 33.33%;
  border-radius: 10px;
}
.main .section06 .imgBox > div img {
  width: 100%;
}
.main .section06 .imgBox > div p {
  position: absolute;
  left: 24px;
  bottom: 26px;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.5;
  text-align: left;
  color: #fff;
}
.main .section06 .imgBox > div a {
  position: absolute;
  right: 26px;
  bottom: 26px;
  width: 22px;
  height: 22px;
  border-radius: 100px;
  border: solid 1px #fff;
  background: url(../img/Plus@2x.png) no-repeat center;
  background-size: 14px;
}
.main .section06 .imgBox > div + div {
  margin-left: 20px;
}

.people .searchBox {
  margin-bottom: 40px;
}

.donatoin .tabWrapper {
  margin-bottom: 146px;
}
.donatoin .toggleWrapper {
  margin-top: 40px;
}

@media screen and (max-width: 764px) {
  .main .titleWrapper .sub {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
    text-align: left;
    color: #02b3d4;
  }
  .main .titleWrapper .tit {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 44px;
    font-weight: 800;
    line-height: 1.5;
    text-align: left;
    color: #000;
  }
  .main .titleWrapper .desc {
    margin-bottom: 28px;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #000;
  }
  .main .titleWrapper .desc span {
    color: #02b3d4;
  }
  .main .titleWrapper .linkBtn {
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
    color: #17a6e3;
    padding: 10px 20px;
    border-radius: 100px;
    border: solid 1px #d5d8dc;
    background-color: #fff;
  }
  .main .timerBox {
    margin-top: -80px;
    padding: 40px 0;
    width: calc(100% - 40px);
  }
  .main .timerBox p {
    margin-bottom: 20px;
    font-size: 18px;
  }
  .main .timerBox .time {
    display: flex;
    justify-content: center;
  }
  .main .timerBox .time strong {
    display: inline-block;
    font-size: 28px;
    font-weight: 900;
  }
  .main .timerBox .time strong + strong {
    margin-left: 12px;
  }
  .main .timerBox .time span {
    margin-left: 12px;
    font-size: 14px;
    font-weight: 500;
  }
  .main .section01 {
    position: relative;
  }
  .main .section01 img {
    width: 1430px;
    left: -10%;
  }
  .main .section01 .titleBox {
    padding-top: 95px;
  }
  .main .section01 .titleBox p {
    font-size: 36px;
    font-weight: bold;
  }
  .main .section02 {
    flex-direction: column;
    margin: 20px auto 100px auto;
    padding: 0;
    padding: 0 20px;
  }
  .main .section02 .titleWrapper {
    margin-left: 22px;
  }
  .main .section02 img {
    width: 100%;
    order: 2;
    margin-top: 56px;
  }
  .main .section03 {
    padding: 100px 20px 180px 20px;
  }
  .main .section03 .titleWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main .section03 .titleWrapper .tit,
.main .section03 .titleWrapper .desc {
    text-align: center;
  }
  .main .section04 {
    flex-direction: column;
    align-items: flex-end;
    padding: 100px 20px;
  }
  .main .section04 .titleWrapper {
    padding-bottom: 56px;
    position: relative;
  }
  .main .section04 .titleWrapper .imgBox {
    display: none;
  }
  .main .section04 .map {
    width: 100%;
    padding-top: 100%;
    height: auto;
  }
  .main .section05 {
    padding: 100px 20px;
  }
  .main .section05 > .content {
    flex-direction: column;
  }
  .main .section05 .titleWrapper {
    flex: 1 1 auto;
    margin: 0 0 52px 0;
  }
  .main .section05 .swiperWrapper {
    width: 100%;
  }
  .main .section05 .swiperWrapper .swiper {
    width: 100%;
  }
  .main .section05 .swiperWrapper .swiper-wrapper {
    flex-direction: column;
  }
  .main .section05 .swiperWrapper .swiper-button {
    display: none;
  }
  .main .section05 .swiper-slide + .swiper-slide {
    margin-top: 20px;
  }
  .main .section05 .swiper-slide:nth-child(3) ~ .swiper-slide {
    display: none;
  }
  .main .section06 {
    padding: 100px 20px;
  }
  .main .section06 .titleWrapper {
    margin-bottom: 56px;
  }
  .main .section06 .imgBox {
    display: flex;
    flex-direction: column;
  }
  .main .section06 .imgBox > div {
    position: relative;
    width: 100%;
  }
  .main .section06 .imgBox > div img {
    width: 100%;
  }
  .main .section06 .imgBox > div p {
    position: absolute;
    left: 24px;
    bottom: 26px;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.5;
    text-align: left;
    color: #fff;
  }
  .main .section06 .imgBox > div a {
    position: absolute;
    right: 26px;
    bottom: 26px;
    width: 22px;
    height: 22px;
    border-radius: 100px;
    border: solid 1px #fff;
    background: url(../img/Plus@2x.png) no-repeat center;
    background-size: 14px;
  }
  .main .section06 .imgBox > div + div {
    margin: 20px 0 0 0;
  }
  .donatoin .tabWrapper {
    margin-bottom: 60px;
  }
  .people .searchBox {
    padding: 20px 0;
    margin-bottom: 40px;
  }
  .people .searchBox input {
    text-align: left;
  }
}/*# sourceMappingURL=style.css.map */