$orange: #eb3326;
$black: #000;
$white: #fff;
@import "_layout.scss";
@import "_register.scss";
@import "_common.scss";

//main

.main {
  .titleWrapper {
    .sub {
      margin-bottom: 24px;
      font-size: 24px;
      font-weight: bold;
      line-height: 1.5;
      text-align: left;
      color: #02b3d4;
    }
    .tit {
      display: inline-block;
      margin-bottom: 12px;
      font-size: 48px;
      font-weight: 800;
      line-height: 1.5;
      text-align: left;
      color: #000;
    }
    .desc {
      margin-bottom: 32px;
      font-size: 20px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: left;
      color: #000;
      span {
        color: #02b3d4;
      }
    }
    .linkBtn {
      display: inline-block;
      font-size: 18px;
      font-weight: 500;
      line-height: 1.5;
      color: #17a6e3;
      padding: 10px 20px;
      border-radius: 100px;
      border: solid 1px #d5d8dc;
      background-color: #fff;
    }
  }
  .timerBox {
    position: relative;
    margin-top: -174px;
    padding: 92px 0;
    border-radius: 30px;
    background-image: linear-gradient(107deg, #02b9d1 1%, #04a6da 107%);
    p {
      font-size: 28px;
      font-weight: bold;
      line-height: 1.5;
      text-align: left;
      color: #fff;
      text-align: center;
    }
    .time {
      display: flex;
      justify-content: center;
      strong {
        display: inline-block;
        font-size: 72px;
        font-weight: 900;
        line-height: 1.5;
        color: #fff;
        + strong {
          margin-left: 80px;
        }
      }
      span {
        margin-left: 16px;
        font-size: 24px;
        font-weight: bold;
        line-height: 1.5;
        text-align: left;
        color: #fff;
      }
    }
  }
  .section01 {
    overflow: hidden;
    img {
      position: relative;
      width: 1920px;
      left: 50%;
      transform: translateX(-50%);
    }
    .titleBox {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      padding-top: 294px;
      p {
        font-size: 72px;
        font-weight: 900;
        line-height: 1.5;
        text-align: left;
        color: #fff;
      }
    }
  }
  .section02 {
    display: flex;
    align-items: center;
    margin: 56px auto 154px auto;
    padding: 0;
    .titleWrapper {
      margin-left: 22px;
    }
    img {
      width: 556px;
    }
  }
  .section03 {
    position: relative;
    padding: 120px 0 300px 0;
    background-color: #f9fafc;
    .titleWrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      .tit,
      .desc {
        text-align: center;
      }
    }
  }
  .section04 {
    display: flex;
    align-items: flex-end;
    padding: 200px 0 0 0;
    .titleWrapper {
      margin-right: auto;
      padding-bottom: 482px;
      position: relative;
      .imgBox {
        position: absolute;
        right: -98px;
        bottom: 0;
        margin-top: 40px;
        text-align: right;
        img {
          width: 274px;
        }
      }
    }
    .map {
      width: 666px;
      height: 666px;
      border-radius: 30px;
      background-color: #eee;
    }
  }
  .section05 {
    padding: 120px 0;
    background-color: #f9fafc;
    overflow: hidden;
    > .content {
      display: flex;
    }
    .titleWrapper {
      flex: 0 0 372px;
      margin-right: 20px;
    }
    .swiperWrapper {
      width: 100%;
      .swiper {
        width: 100%;
      }
      .swiper-button {
        display: flex;
        margin-top: 40px;
      }
      .swiper-button-next,
      .swiper-button-prev {
        position: static;
        width: 32px;
        height: 32px;
        border-radius: 100px;
        border: solid 1px #5a5e6a;
        background: url(../img/RightSm@2x.png) no-repeat center;
        background-size: 24px;
        &::after {
          display: none;
        }
      }
      .swiper-button-prev {
        margin-right: 20px;
        transform: rotate(180deg);
      }
    }
    .swiper-slide {
      border-radius: 10px;
      box-shadow: 3px 3px 20px 0 rgba(0, 0, 0, 0.08);
      background-color: #fff;
      .imgBox {
        img {
          width: 100%;
        }
      }
      .textBox {
        padding: 16px 24px 24px;
        .tit {
          margin-bottom: 10px;
          font-size: 18px;
          font-weight: 500;
          line-height: 1.5;
          text-align: left;
          color: #000;
        }
        .date {
          font-size: 18px;
          line-height: 1.7;
          text-align: left;
          color: #9da0a8;
          text-align: right;
          a {
          }
        }
        .more {
          margin-top: 22px;
          text-align: right;
          a {
            display: inline-block;
            width: 22px;
            height: 22px;
            border: 1px solid #5a5e6a;
            border-radius: 100px;
            background: url(../img/Plus@2xGray.png) no-repeat center;
            background-size: 14px;
          }
        }
      }
    }
  }
  .section06 {
    padding: 200px 0;
    .titleWrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 80px;
    }
    .imgBox {
      display: flex;
      > div {
        position: relative;
        width: 33.33%;
        border-radius: 10px;
        &::after {
          // position: absolute;
          // left: 0;
          // top: 0;
          // width: 100%;
          // height: 100%;
          // border-radius: 10px;
          // content: "";
          // z-index: 10;
          // background: linear-gradient(rgba(2, 179, 212, 0), 93%, #02b3d4 33%);
        }
        img {
          width: 100%;
        }
        p {
          position: absolute;
          left: 24px;
          bottom: 26px;
          font-size: 24px;
          font-weight: bold;
          line-height: 1.5;
          text-align: left;
          color: #fff;
        }
        a {
          position: absolute;
          right: 26px;
          bottom: 26px;
          width: 22px;
          height: 22px;
          border-radius: 100px;
          border: solid 1px #fff;
          background: url(../img/Plus@2x.png) no-repeat center;
          background-size: 14px;
        }
        + div {
          margin-left: 20px;
        }
      }
    }
  }
}
.people {
  .searchBox {
    margin-bottom: 40px;
  }
}
.donatoin {
  .tabWrapper {
    margin-bottom: 146px;
  }
  .toggleWrapper {
    margin-top: 40px;
  }
}

@media screen and (max-width: 764px) {
  //main

  .main {
    .titleWrapper {
      .sub {
        margin-bottom: 24px;
        font-size: 24px;
        font-weight: bold;
        line-height: 1.5;
        text-align: left;
        color: #02b3d4;
      }
      .tit {
        display: inline-block;
        margin-bottom: 12px;
        font-size: 48px;
        font-weight: 800;
        line-height: 1.5;
        text-align: left;
        color: #000;
      }
      .desc {
        margin-bottom: 32px;
        font-size: 20px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: left;
        color: #000;
        span {
          color: #02b3d4;
        }
      }
      .linkBtn {
        display: inline-block;
        font-size: 18px;
        font-weight: 500;
        line-height: 1.5;
        color: #17a6e3;
        padding: 10px 20px;
        border-radius: 100px;
        border: solid 1px #d5d8dc;
        background-color: #fff;
      }
    }
    .timerBox {
      margin-top: -80px;
      padding: 40px 0;
      width: calc(100% - 40px);
      p {
        margin-bottom: 20px;
        font-size: 18px;
      }
      .time {
        display: flex;
        justify-content: center;
        strong {
          display: inline-block;
          font-size: 28px;
          font-weight: 900;
          + strong {
            margin-left: 12px;
          }
        }
        span {
          margin-left: 12px;
          font-size: 14px;
          font-weight: 500;
        }
      }
    }
    .section01 {
      position: relative;
      img {
        width: 1430px;
        left: -10%;
      }
      .titleBox {
        padding-top: 95px;
        p {
          font-size: 36px;
          font-weight: bold;
        }
      }
    }
    .section02 {
      flex-direction: column;
      margin: 20px auto 100px auto;
      padding: 0;
      padding: 0 20px;
      .titleWrapper {
        margin-left: 22px;
      }
      img {
        width: 100%;
        order: 2;
        margin-top: 56px;
      }
    }
    .section03 {
      padding: 100px 20px 180px 20px;
      .titleWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        .tit,
        .desc {
          text-align: center;
        }
      }
    }
    .section04 {
      flex-direction: column;
      align-items: flex-end;
      padding: 100px 20px;
      .titleWrapper {
        padding-bottom: 56px;
        position: relative;
        .imgBox {
          display: none;
        }
      }
      .map {
        width: 100%;
        padding-top: 100%;
        height: auto;
      }
    }
    .section05 {
      padding: 100px 20px;
      > .content {
        flex-direction: column;
      }
      .titleWrapper {
        flex: 1 1 auto;
        margin: 0 0 52px 0;
      }
      .swiperWrapper {
        width: 100%;
        .swiper {
          width: 100%;
        }
        .swiper-wrapper {
          flex-direction: column;
        }
        .swiper-button {
          display: none;
        }
      }
      .swiper-slide {
        + .swiper-slide {
          margin-top: 20px;
        }
        &:nth-child(3) ~ .swiper-slide {
          display: none;
        }
      }
    }
    .section06 {
      padding: 100px 20px;
      .titleWrapper {
        margin-bottom: 56px;
      }
      .imgBox {
        display: flex;
        flex-direction: column;
        > div {
          position: relative;
          width: 100%;
          &::after {
            // position: absolute;
            // left: 0;
            // top: 0;
            // width: 100%;
            // height: 100%;
            // border-radius: 10px;
            // content: "";
            // z-index: 10;
            // background: linear-gradient(rgba(2, 179, 212, 0), 93%, #02b3d4 33%);
          }
          img {
            width: 100%;
          }
          p {
            position: absolute;
            left: 24px;
            bottom: 26px;
            font-size: 24px;
            font-weight: bold;
            line-height: 1.5;
            text-align: left;
            color: #fff;
          }
          a {
            position: absolute;
            right: 26px;
            bottom: 26px;
            width: 22px;
            height: 22px;
            border-radius: 100px;
            border: solid 1px #fff;
            background: url(../img/Plus@2x.png) no-repeat center;
            background-size: 14px;
          }
          + div {
            margin: 20px 0 0 0;
          }
        }
      }
    }
  }
  .donatoin {
    .tabWrapper {
      margin-bottom: 60px;
    }
  }
  .people {
    .searchBox {
      padding: 20px 0;
      margin-bottom: 40px;
      input {
        text-align: left;
      }
    }
  }
}
