.section-event.mob {
  display: none;
}

.section-info.mob {
  display: none;
}

.img_alt {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.event_inner {
  position: relative;
  padding: 0 48px;
}

.box_event {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.box_event .text_cont {
  position: relative;
}

.box_event .text_cont span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 110px;
  height: 40px;
  background-color: transparent;
  border: 2px solid #111;
  border-radius: 20px;
  font-size: 16px;
  color: #111;
  font-weight: 400;
  letter-spacing: -0.025em;
}

.box_event .text_cont span+h2 {
  margin-top: 20px;
}

.box_event .text_cont h2 {
  font-size: 36px;
  color: #111;
  font-weight: 400;
  letter-spacing: -0.05em;
  line-height: 1.2;
}

.box_event .text_cont h2 strong {
  font-size: 46px;
  color: #111;
  font-weight: 400;
}

.box_event .text_cont h2 strong font {
  font-size: 46px;
  color: #0046ff;
  font-weight: 400;
}

.box_event .text_cont h2 .popup_tit {
  display: block;
}

.box_event .text_cont h2 .popup_tit_mob {
  display: none;
}

.box_event .text_cont dl {
  margin-top: 20px;
}

.box_event .text_cont dl dt {
  font-size: 18px;
  color: #111;
  font-weight: 400;
  letter-spacing: 0.05em;
}

.box_event .text_cont dl dd {
  font-size: 24px;
  color: #111;
  font-weight: 400;
  letter-spacing: -0.025em;
  margin-top: 5px;
}

.box_event .text_cont dl dd small {
  display: block;
  padding-left: 26px;
  font-size: 22px;
  color: #111;
  font-weight: 300;
  letter-spacing: -0.025em;
}

.box_event .text_cont .notice {
  margin-top: 12px;
}

.box_event .text_cont .notice p {
  position: relative;
  padding-left: 12px;
  font-size: 16px;
  color: #444;
  font-family: "SUIT";
  font-weight: 400;
  letter-spacing: -0.025em;
  line-height: 1.4;
}

.box_event .text_cont .notice p::before {
  position: absolute;
  left: 0;
  content: "*";
  font-size: 16px;
  color: #444;
  font-family: "SUIT";
  font-weight: 400;
  letter-spacing: -0.025em;
}

.box_event .text_cont .notice p.pl_0 {
  padding-left: 0;
}

.box_event .text_cont .notice p.pl_0::before {
  display: none;
}

.box_event .text_cont .notice ul {
  padding-left: 12px;
}

.box_event .text_cont .notice ul li {
  position: relative;
  padding-left: 20px;
  font-size: 16px;
  color: #444;
  font-family: "SUIT";
  font-weight: 400;
  letter-spacing: -0.025em;
  line-height: 1.5;
}

.box_event .text_cont .notice ul li::before {
  position: absolute;
  left: 0;
  top: 4px;
  width: 14px;
  height: 14px;
  border: 1px solid #444;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: #444;
  font-family: "SUIT";
  font-weight: 400;
  letter-spacing: -0.025em;
  line-height: 1;
}

.box_event .text_cont .notice ul li:nth-child(1):before {
  content: "1";
}

.box_event .text_cont .notice ul li:nth-child(2):before {
  content: "2";
}

.box_event .text_cont .button {
  position: relative;
  display: inline-block;
  margin-top: 35px;
}

.box_event .text_cont .button a {
  position: relative;
}

.box_event .text_cont .button .img_alt {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.box_event .text_cont .button .btn {
  width: 400px;
  height: 90px;
  text-align: center;
  line-height: 90px;
  border-radius: 45px;
  background-color: #0094ff;
  background-image: linear-gradient(45deg, #0094ff, #0082ff, #0064ff, #0047fe);
  background-size: 100%;
  background-position: left;
  animation: anime 4s ease-in-out infinite;
  box-shadow: inset 0 -5px 5px -5px #005bd2, inset -5px 0 5px -5px #0044f9,
    inset 5px 0 5px -5px #0f96f3;
}

.box_event .text_cont .button .btn p {
  font-size: 28px;
  color: #fff;
  font-weight: 400;
  letter-spacing: -0.05em;
}

@keyframes anime {
  0% {
    background-position: left;
    background-size: 100%;
  }

  50% {
    background-position: right;
    background-size: 300%;
  }

  100% {
    background-position: left;
    background-size: 100%;
  }
}

.box_event .slide_cont {
  position: relative;
  width: 636px;
  padding-bottom: 36px;
}

.box_event .slide_cont .slide {
  position: relative;
  padding: 60px 48px;
  background-color: #fff;
  border-radius: 40px;
  z-index: 1;
}

.box_event .slide_cont .slide .swiper-slide {
  max-width: 100%;
}

.box_event .slide_cont .slide .img {
  position: relative;
  width: 100%;
  background-color: #fff;
  z-index: 1;
}

.box_event .slide_cont .slide .img span {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 18px;
  color: #111;
  font-weight: 400;
  letter-spacing: 0.025em;
  line-height: 1;
  z-index: 3;
}

.box_event .slide_cont .slide .img .box_ani {
  position: relative;
  width: 100%;
  padding-top: 66.667%;
  z-index: 2;
}

.slide .img .box_ani img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slide .img .box_ani img {
  opacity: 0;
}

.slide01 .img .box_ani img {
  z-index: 2;
}

.slide01 .img .box_ani .ani01 {
  transform: translate(0, -2%);
}

.slide01 .img .box_ani .ani02 {
  transform: translate(0, 2%);
}

.slide01 .img .box_ani .ani03 {
  transform: translate(0, -6.5%);
}

.slide01 .img .box_ani .ani04 {
  transform: translate(-3.2%, 10%) rotate(-20deg);
  z-index: 1;
}

/* .slide01.on .img .box_ani img {opacity: 1;}
.slide01.on .img .box_ani .ani01 {transform: translate(0, 0); transition: 0.6s all 0.6s;}
.slide01.on .img .box_ani .ani02 {transform: translate(0, 0); transition: 0.6s all 0.6s;}
.slide01.on .img .box_ani .ani03 {transform: translate(0, 0); transition: 0.6s all;}
.slide01.on .img .box_ani .ani04 {transform: translate(0, 0.13%) rotate(0); transition: 0.6s all;} */

.slide01.anim .img .box_ani img {
  opacity: 1;
}

.slide01.anim .img .box_ani .ani01 {
  transform: translate(0, 0);
  transition: 0.4s all 0.4s;
}

.slide01.anim .img .box_ani .ani02 {
  transform: translate(0, 0);
  transition: 0.4s all 0.4s;
}

.slide01.anim .img .box_ani .ani03 {
  transform: translate(0, 0);
  transition: 0.4s all;
}

.slide01.anim .img .box_ani .ani04 {
  transform: translate(0, 0.13%) rotate(0);
  transition: 0.4s all;
}

.slide02 .img .box_ani img {
  z-index: 2;
}

.slide02 .img .box_ani .ani01 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0%;
  height: 0%;
  z-index: 1;
}

.slide02 .img .box_ani .ani02 {
  transform: translate(-2.5%, 2%) rotate(-3deg);
}

.slide02 .img .box_ani .ani03 {
  transform: translate(-2.5%, 2%) rotate(-6deg);
}

.slide02 .img .box_ani .ani04 {
  transform: translate(-2.5%, 2%) rotate(-6deg);
}

.slide02 .img .box_ani .ani05 {
  transform: translate(-2.5%, 2%) rotate(-9deg);
}

.slide02.on .img .box_ani img {
  opacity: 1;
}

.slide02.on .img .box_ani .ani01 {
  width: 100%;
  height: 100%;
  transition: 0.5s all 0.4s;
}

.slide02.on .img .box_ani .ani02 {
  transform: translate(0, 0) rotate(0deg);
  transition: 0.4s all;
}

.slide02.on .img .box_ani .ani03 {
  transform: translate(0, 0) rotate(0deg);
  transition: 0.4s all 0.2s;
}

.slide02.on .img .box_ani .ani04 {
  transform: translate(0, 0) rotate(0deg);
  transition: 0.4s all 0.3s;
}

.slide02.on .img .box_ani .ani05 {
  transform: translate(0, 0) rotate(0deg);
  transition: 0.4s all 0.5s;
}

.slide03 .img .box_ani img {
  z-index: 2;
}

.slide03 .img .box_ani .ani01 {
  transform: translate(0, 4%);
  z-index: 1;
}

.slide03 .img .box_ani .ani02 {
  transform: translate(-4%, 0);
}

.slide03 .img .box_ani .ani03 {
  transform: translate(4%, 0);
}

.slide03.on .img .box_ani img {
  opacity: 1;
}

.slide03.on .img .box_ani .ani01 {
  transform: translate(0, 0);
  transition: 0.4s all;
}

.slide03.on .img .box_ani .ani02 {
  transform: translate(0, 0);
  transition: 0.4s all 0.4s;
}

.slide03.on .img .box_ani .ani03 {
  transform: translate(0, 0);
  transition: 0.4s all 0.4s;
}

.slide03.on .img .box_ani .ani04 {
  transition: 0.4s all 0.6s;
}

.slide03.on .img .box_ani .ani05 {
  transition: 0.4s all 0.6s;
}

.slide04 .img .box_ani img {
  z-index: 2;
}

.slide04 .img .box_ani .ani01 {
  transform: translate(0, -4%);
  z-index: 1;
}

.slide04 .img .box_ani .ani02 {}

.slide04.anim .img .box_ani img {
  opacity: 1;
}

.slide04.anim .img .box_ani .ani01 {
  transform: translate(0, 0);
  transition: 0.6s all;
}

.slide04.anim .img .box_ani .ani02 {
  transition: 0.6s all 0.2s;
}

.slide05 .img .box_ani img {
  z-index: 1;
}

.slide05 .img .box_ani .ani01 {}

.slide05 .img .box_ani .ani02 {
  transform: translate(0, -4%);
  z-index: 2;
}

.slide05 .img .box_ani .ani03 {
  transform: translate(0, -4%);
  z-index: 3;
}

.slide05 .img .box_ani .ani04 {
  transform: translate(0, -4%);
  z-index: 4;
}

.slide05.on .img .box_ani img {
  opacity: 1;
}

.slide05.on .img .box_ani .ani02 {
  transform: translate(0, 0);
  transition: 0.6s all 0.2s;
}

.slide05.on .img .box_ani .ani03 {
  transform: translate(0, 0);
  transition: 0.6s all;
}

.slide05.on .img .box_ani .ani04 {
  transform: translate(0, 0);
  transition: 0.6s all 0.4s;
}

.slide06 .img .box_ani img {
  z-index: 1;
}

.slide06 .img .box_ani .ani01 {}

.slide06 .img .box_ani .ani02 {
  transform: translate(0, -6%);
}

.slide06 .img .box_ani .ani03 {}

.slide06 .img .box_ani .ani04 {
  transform: translate(0, -4%);
}

.slide06 .img .box_ani .ani05 {
  transform: translate(0, 4%);
}

.section05.show .slide06 .img .box_ani img {
  opacity: 1;
}

.section05.show .slide06 .img .box_ani .ani01 {
  opacity: 1;
  transition: 0.4s all;
}

.section05.show .slide06 .img .box_ani .ani02 {
  transform: translate(0, 0);
  transition: 0.6s all 0.4s;
}

.section05.show .slide06 .img .box_ani .ani03 {
  transition: 0.4s all 0.8s;
}

.section05.show .slide06 .img .box_ani .ani04 {
  transform: translate(0, 0);
  transition: 0.4s all 0.8s;
}

.section05.show .slide06 .img .box_ani .ani05 {
  transform: translate(0, 0);
  transition: 0.4s all 0.8s;
}

.slide07 .img .box_ani img {
  z-index: 1;
}

.slide07 .img .box_ani .ani01 {
  transform: translate(0, -6%);
  z-index: 2;
}

.slide07 .img .box_ani .ani02 {
  z-index: 3;
}

.slide07 .img .box_ani .ani03 {}

.section06.show .slide07 .img .box_ani img {
  opacity: 1;
}

.section06.show .slide07 .img .box_ani .ani01 {
  transform: translate(0, 0);
  transition: 0.4s all 0.4s;
}

.section06.show .slide07 .img .box_ani .ani02 {
  transition: 0.4s all 0.8s;
}

.section06.show .slide07 .img .box_ani .ani03 {
  transition: 0.4s all 0.8s;
}

.box_event .slide_cont .slide .txt {
  width: 100%;
  margin-top: 30px;
  overflow: hidden;
}

.box_event .slide_cont .slide .txt h2 {
  font-size: 38px;
  color: #111;
  font-weight: 400;
  letter-spacing: -0.05em;
  line-height: 1.2;
}

.box_event .slide_cont .slide .txt h2 font {
  font-size: 38px;
  color: #0046ff;
}

.box_event .slide_cont .slide .txt h2 br.pc {
  display: block;
}

.box_event .slide_cont .slide .txt h2 br.pc {
  display: none;
}

.box_event .slide_cont .slide .txt h2 br.mob {
  display: none;
}

.box_event .slide_cont .slide .txt .notice {
  margin-top: 25px;
}

.box_event .slide_cont .slide .txt .notice p {
  position: relative;
  padding-left: 12px;
  font-size: 16px;
  color: #444;
  font-family: "SUIT";
  font-weight: 400;
  letter-spacing: -0.05em;
  line-height: 1.5;
}

.box_event .slide_cont .slide .txt .notice span {
  font-size: 16px;
  color: #444;
  font-family: "SUIT";
  font-weight: 400;
  letter-spacing: -0.05em;
  line-height: 1.5;
}

.box_event .slide_cont .slide .txt .notice .is_mo {
  display: none;
}

.box_event .slide_cont .slide .txt .notice p::before {
  position: absolute;
  left: 0;
  content: "*";
  font-size: 16px;
  color: #444;
  font-family: "SUIT";
  font-weight: 400;
  letter-spacing: -0.05em;
}

.box_event .slide_cont .slide .txt .notice p.minus {
  margin-left: 12px;
}

.box_event .slide_cont .slide .txt .notice p.minus::before {
  content: "-";
}

.box_event .slide_cont .slide .txt .notice p+p {
  margin-top: 2px;
}

.box_event .slide_cont .slide .txt .notice p br.mob {
  display: none;
}

.box_event .slide_cont .slide .swiper_navi {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 76px;
  height: 76px;
  cursor: pointer;
  z-index: 10;
}

.box_event .slide_cont .slide .swiper_navi.prev {
  left: -38px;
  background: url("../../img/index/icon_prev.png");
  background-size: 100%;
}

.box_event .slide_cont .slide .swiper_navi.next {
  right: -38px;
  background: url("../../img/index/icon_next.png");
  background-size: 100%;
}

.box_event .slide_cont .slide .swiper_navi.prev:hover {
  background: url("../../img/index/icon_prev_on.png");
  background-size: 100%;
}

.box_event .slide_cont .slide .swiper_navi.next:hover {
  background: url("../../img/index/icon_next_on.png");
  background-size: 100%;
}

.box_event .slide_cont .pagination {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.box_event .slide_cont .pagination .swiper-pagination {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.box_event .slide_cont .pagination .swiper-pagination .swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background: #c3c4c6;
  opacity: 1;
  margin: 0 5px;
}

.box_event .slide_cont .pagination .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #0046ff;
}

@media (max-width: 1439px) {
  .event_inner {
    padding: 0 44px;
  }

  .box_event .text_cont h2 img.popup_tit {
    height: 98px;
  }

  .box_event .slide_cont .slide {
    padding: 56px 44px;
  }
}

@media (max-width: 1295px) {
  .event_inner {
    padding: 0 20px;
  }

  .box_event {
    column-gap: 20px;
  }

  .box_event .text_cont {
    width: 48%;
  }

  .box_event .text_cont span {
    width: 100px;
    height: 30px;
    font-size: 15px;
  }

  .box_event .text_cont span+h2 {
    margin-top: 15px;
  }

  .box_event .text_cont h2 {
    font-size: 30px;
  }

  .box_event .text_cont h2 strong {
    font-size: 36px;
  }

  .box_event .text_cont h2 strong font {
    font-size: 36px;
  }

  .box_event .text_cont h2 img.popup_tit {
    height: 79px;
  }

  .box_event .text_cont dl {
    margin-top: 15px;
  }

  .box_event .text_cont dl dt {
    font-size: 17px;
  }

  .box_event .text_cont dl dd {
    font-size: 22px;
    margin-top: 4px;
  }

  .box_event .text_cont dl dd small {
    padding-left: 24px;
    font-size: 20px;
  }

  .box_event .text_cont .notice {
    margin-top: 15px;
  }

  .box_event .text_cont .notice p {
    padding-left: 10px;
    font-size: 15px;
  }

  .box_event .text_cont .notice p::before {
    font-size: 15px;
  }

  .box_event .text_cont .notice ul {
    padding-left: 10px;
  }

  .box_event .text_cont .notice ul li {
    padding-left: 18px;
    font-size: 15px;
  }

  .box_event .text_cont .notice ul li::before {
    top: 3px;
    width: 13px;
    height: 13px;
    font-size: 11px;
  }

  .box_event .text_cont .button {
    margin-top: 30px;
  }

  .box_event .text_cont .button .btn {
    width: 350px;
    height: 70px;
    line-height: 70px;
  }

  .box_event .text_cont .button .btn p {
    font-size: 24px;
  }

  .box_event .slide_cont {
    width: 50%;
    padding-bottom: 30px;
  }

  .box_event .slide_cont .slide {
    width: 100%;
    padding: 35px 30px;
    border-radius: 30px;
  }

  .box_event .slide_cont .slide .img span {
    font-size: 17px;
  }

  .box_event .slide_cont .slide .txt {
    margin-top: 20px;
  }

  .box_event .slide_cont .slide .txt h2 {
    font-size: 28px;
  }

  .box_event .slide_cont .slide .txt h2 font {
    font-size: 28px;
  }

  .box_event .slide_cont .slide .txt .notice {
    margin-top: 20px;
  }

  .box_event .slide_cont .slide .txt .notice p {
    padding-left: 10px;
    font-size: 15px;
  }

  .box_event .slide_cont .slide .txt .notice p::before {
    font-size: 15px;
  }

  .box_event .slide_cont .slide .txt .notice p.minus {
    margin-left: 10px;
  }

  .box_event .slide_cont .slide .txt .notice p+p {
    margin-top: 2px;
  }

  .box_event .slide_cont .slide .txt .notice p br {
    display: none;
  }

  .box_event .slide_cont .slide .swiper_navi {
    width: 56px;
    height: 56px;
  }

  .box_event .slide_cont .slide .swiper_navi.prev {
    left: -28px;
  }

  .box_event .slide_cont .slide .swiper_navi.next {
    right: -28px;
  }

  .box_event .slide_cont .slide .swiper_navi.prev:hover {
    background: url("../../img/index/icon_prev_on.png");
    background-size: 100%;
  }

  .box_event .slide_cont .slide .swiper_navi.next:hover {
    background: url("../../img/index/icon_next_on.png");
    background-size: 100%;
  }

  .box_event .slide_cont .pagination .swiper-pagination .swiper-pagination-bullet {
    width: 14px;
    height: 14px;
    margin: 0 4px;
  }
}

@media (max-width: 1023px) {
  .event_inner {
    padding: 0 20px;
  }

  .box_event {
    column-gap: 0;
  }

  .box_event .text_cont {
    width: 48%;
  }

  .box_event .text_cont span {
    width: 90px;
    height: 30px;
    font-size: 14px;
  }

  .box_event .text_cont span+h2 {
    margin-top: 10px;
  }

  .box_event .text_cont h2 {
    font-size: 22px;
    letter-spacing: -0.05em;
  }

  .box_event .text_cont h2 strong {
    font-size: 28px;
  }

  .box_event .text_cont h2 strong font {
    font-size: 28px;
  }

  .box_event .text_cont h2 img.popup_tit {
    height: 60px;
  }

  .box_event .text_cont dl {
    margin-top: 10px;
  }

  .box_event .text_cont dl dt {
    font-size: 16px;
  }

  .box_event .text_cont dl dd {
    font-size: 20px;
    margin-top: 0;
  }

  .box_event .text_cont dl dd small {
    padding-left: 22px;
    font-size: 18px;
  }

  .section05 .box_event .text_cont dl dd,
  .section06 .box_event .text_cont dl dd {
    font-size: 18px;
    letter-spacing: -0.055em;
  }

  .section06 .box_event .text_cont dl dd small {
    padding-left: 20px;
    font-size: 16px;
  }

  .box_event .text_cont .notice {
    margin-top: 10px;
  }

  .box_event .text_cont .notice p {
    padding-left: 9px;
    font-size: 14px;
  }

  .box_event .text_cont .notice p::before {
    font-size: 14px;
  }

  .box_event .text_cont .notice ul {
    padding-left: 8px;
  }

  .box_event .text_cont .notice ul li {
    padding-left: 16px;
    font-size: 14px;
    letter-spacing: -0.05em;
  }

  .box_event .text_cont .notice ul li::before {
    top: 4px;
    width: 10px;
    height: 10px;
    font-size: 10px;
  }

  .box_event .text_cont .button {
    margin-top: 20px;
  }

  .box_event .text_cont .button .btn {
    width: 300px;
    height: 60px;
    line-height: 60px;
  }

  .box_event .text_cont .button .btn p {
    font-size: 20px;
  }

  .box_event .slide_cont {
    width: 50%;
    padding-bottom: 24px;
  }

  .box_event .slide_cont .slide {
    width: 100%;
    padding: 25px 20px;
    border-radius: 24px;
  }

  .box_event .slide_cont .slide .img span {
    font-size: 15px;
  }

  .box_event .slide_cont .slide .txt {
    margin-top: 15px;
  }

  .box_event .slide_cont .slide .txt h2 {
    font-size: 21px;
  }

  .box_event .slide_cont .slide .txt h2 font {
    font-size: 21px;
  }

  .box_event .slide_cont .slide .txt .notice {
    margin-top: 15px;
  }

  .box_event .slide_cont .slide .txt .notice p {
    padding-left: 9px;
    font-size: 14px;
  }

  .box_event .slide_cont .slide .txt .notice p span {
    font-size: inherit;
  }

  .box_event .slide_cont .slide .txt .notice p.minus {
    margin-left: 9px;
  }

  .box_event .slide_cont .slide .txt .notice p::before {
    font-size: 14px;
  }

  .box_event .slide_cont .slide .txt .notice p+p {
    margin-top: 0;
  }

  .box_event .slide_cont .slide .swiper_navi {
    display: none;
  }

  .box_event .slide_cont .pagination .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    margin: 0 4px;
  }
}

@media (max-width: 767px) {
  .container {
    overflow: hidden;
  }

  footer .inner>div .box span.ls {
    letter-spacing: -0.1em !important;
  }

  .section-event.mob {
    display: block;
  }

  .section-event .inner {
    padding: 12vw 0 8vw;
  }

  .event_inner {
    padding: 0 6.4vw;
  }

  .box_event {
    column-gap: 0;
    flex-direction: column;
  }

  .box_event .text_cont {
    width: 100%;
  }

  .box_event .text_cont span {
    width: 21.3vw;
    height: 8vw;
    font-size: 3.2vw;
  }

  .box_event .text_cont span+h2 {
    margin-top: 3.8vw;
  }

  .box_event .text_cont h2 {
    font-size: 5vw;
    letter-spacing: -0.025em;
    line-height: 1.3;
  }

  .box_event .text_cont h2 strong {
    font-size: 6.4vw;
  }

  .box_event .text_cont h2 strong font {
    font-size: 6.4vw;
    letter-spacing: -0.5vw;
  }

  .box_event .text_cont h2 .popup_tit {
    display: none;
  }

  .box_event .text_cont h2 .popup_tit_mob {
    display: block;
    width: 100%;
  }

  .box_event .text_cont dl {
    display: none;
  }

  .box_event .text_cont .notice {
    display: none;
  }

  .box_event .text_cont .button {
    display: none;
  }

  .section-event.mob .inner {
    padding: 0 0 12vw;
  }

  .section-event.mob .event_inner {
    padding: 0 6.4vw;
  }

  .section-event.mob .box_event .text_cont dl {
    display: block;
  }

  .section-event.mob .box_event .text_cont dl {
    margin-top: 0;
  }

  .section-event.mob .box_event .text_cont dl+dl {
    margin-top: 8vw;
  }

  .section-event.mob .box_event .text_cont dl dt {
    font-size: 3.2vw;
    line-height: 1;
  }

  .section-event.mob .box_event .text_cont dl dd {
    font-size: 4.53vw;
    margin-top: 4vw;
  }

  .section05 .box_event .text_cont dl dd,
  .section06 .box_event .text_cont dl dd {
    font-size: 4.4vw !important;
    letter-spacing: -0.025em;
  }

  .section06 .box_event .text_cont dl dd small {
    padding-left: 5vw;
    font-size: 4vw;
  }

  .section-event.mob .box_event .text_cont .notice+dl {
    margin-top: 4vw;
  }

  .section-event.mob .box_event .text_cont .notice {
    display: block;
  }

  .section-event.mob .box_event .text_cont .notice {
    margin-top: 4vw;
  }

  .section-event.mob .box_event .text_cont .notice p {
    padding-left: 2vw;
    font-size: 3.2vw;
    line-height: 1.4;
  }

  .section-event.mob .box_event .text_cont .notice p.pl_0 {
    padding-left: 0;
  }

  .section-event.mob .box_event .text_cont .notice p::before {
    font-size: 3.2vw;
  }

  .section-event.mob .box_event .text_cont .notice p+p {
    margin-top: 0;
  }

  .section-event.mob .box_event .text_cont .notice ul {
    padding-left: 2vw;
  }

  .section-event.mob .box_event .text_cont .notice ul li {
    padding-left: 4vw;
    font-size: 3.2vw;
    letter-spacing: -0.055em;
  }

  .section-event.mob .box_event .text_cont .notice ul li::before {
    top: 0.8vw;
    width: 2.6vw;
    height: 2.6vw;
    font-size: 2.4vw;
  }

  .section-event.mob .box_event .text_cont .button {
    display: block;
    margin-top: 8vw;
  }

  .section-event.mob .box_event .text_cont .button .btn {
    width: 100%;
    height: 16vw;
    line-height: 16vw;
    border-radius: 8vw;
  }

  .section-event.mob .box_event .text_cont .button .btn p {
    font-size: 4.8vw;
  }

  .box_event .slide_cont {
    width: 100%;
    padding-bottom: 0;
    padding: 8vw 0 11.2vw;
  }

  .section05 .box_event .slide_cont {
    padding: 8vw 0 0;
  }

  .section06 .box_event .slide_cont {
    padding: 8vw 0 0;
  }

  .box_event .slide_cont .slide {
    width: 100%;
    padding: 8vw 6.4vw;
    border-radius: 5.33vw;
  }

  .box_event .slide_cont .slide .img span {
    font-size: 3.2vw;
  }

  .box_event .slide_cont .slide .txt {
    margin-top: 4vw;
  }

  .box_event .slide_cont .slide .txt h2 {
    font-size: 5vw;
    line-height: 1.3;
  }

  .box_event .slide_cont .slide .txt h2 font {
    font-size: 5vw;
  }

  .box_event .slide_cont .slide .txt h2 br.pc {
    display: none;
  }

  .box_event .slide_cont .slide .txt h2 br.mob {
    display: block;
  }

  .box_event .slide_cont .slide .txt .notice {
    margin-top: 4vw;
  }

  .box_event .slide_cont .slide .txt .notice p {
    padding-left: 2vw;
    font-size: 3.2vw;
    letter-spacing: -0.2vw;
    line-height: 1.4;
  }

  .box_event .slide_cont .slide .txt .notice span {
    font-size: 3.2vw;
    letter-spacing: -0.2vw;
    line-height: 1.4;
  }

  .box_event .slide_cont .slide .txt .notice span.is_pc {
    display: none;
  }

  .box_event .slide_cont .slide .txt .notice span.is_mo {
    display: inline;
  }

  .box_event .slide_cont .slide .txt .notice p.minus {
    margin-left: 2vw;
  }

  .box_event .slide_cont .slide .txt .notice p::before {
    font-size: 3.2vw;
  }

  .box_event .slide_cont .slide .txt .notice p+p {
    margin-top: 1vw;
  }

  .box_event .slide_cont .slide .txt .notice p br.mob {
    display: block;
  }

  .box_event .slide_cont .slide .swiper_navi {
    display: none;
  }

  .box_event .slide_cont .pagination .swiper-pagination .swiper-pagination-bullet {
    width: 3.2vw;
    height: 3.2vw;
    margin: 0 1.2vw;
  }
}

.section-info {
  width: 100%;
  background-color: #edf3ff;
}

.info_inner {
  position: relative;
  padding: 0 48px;
}

.box_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.box_info .text_cont {
  position: relative;
}

.box_info .text_cont h2 {
  font-size: 36px;
  color: #111;
  font-weight: 400;
  letter-spacing: -0.025em;
  line-height: 1.2;
}

.box_info .text_cont h2 strong {
  font-size: 46px;
  color: #111;
  font-weight: 400;
}

.box_info .text_cont h2 strong font {
  font-size: 46px;
  color: #0046ff;
  font-weight: 400;
}

.box_info .text_cont .tit_list {
  margin-top: 35px;
}

.box_info .text_cont .tit_list li {
  display: inline-flex;
  align-items: center;
  width: 100%;
}

.box_info .text_cont .tit_list li+li {
  margin-top: 18px;
}

.box_info .text_cont .tit_list li a {
  display: inline-block;
  width: 208px;
  height: 60px;
  background-color: #fff;
  border: 1px solid #0046ff;
  border-radius: 30px;
  font-size: 20px;
  color: #0046ff;
  font-weight: 400;
  letter-spacing: -0.05em;
  line-height: 60px;
  text-align: center;
}

.box_info .text_cont .tit_list li span {
  display: inline-block;
  font-size: 20px;
  color: #111;
  font-weight: 400;
  letter-spacing: -0.025em;
  margin-left: 18px;
}

.box_info .text_cont .tit_list li a:hover {
  background-color: #0046ff;
  color: #fff;
}

.box_info .text_cont .tit_list li.active a {
  background-color: #0046ff;
  color: #fff;
}

.box_info .text_cont .button {
  display: inline-flex;
  flex-direction: column;
  margin-top: 35px;
}

.box_info .text_cont .button a {
  position: relative;
  display: inline-block;
}

.box_info .text_cont .button a+a {
  margin-top: 20px;
}

.box_info .text_cont .button .btn {
  width: 400px;
  height: 90px;
  text-align: center;
  line-height: 90px;
  border-radius: 45px;
  background-color: #0094ff;
  background-image: linear-gradient(45deg, #0094ff, #0082ff, #0064ff, #0047fe);
  background-size: 100%;
  background-position: left;
  animation: anime 4s ease-in-out infinite;
  box-shadow: inset 0 -5px 5px -5px #005bd2, inset -5px 0 5px -5px #0044f9,
    inset 5px 0 5px -5px #0f96f3;
}

.box_info .text_cont .button .btn p {
  font-size: 28px;
  color: #fff;
  font-weight: 400;
  letter-spacing: -0.05em;
}

.box_info .slide_cont {
  position: relative;
}

.box_info .slide_cont .tab_con {}

.box_info .slide_cont .tab_con .tab_list {
  position: relative;
  width: 636px;
  padding-bottom: 36px;
}

.box_info .slide_cont .tab_con .tab_list .slider {
  position: relative;
  padding: 60px 48px;
  background-color: #fff;
  border-radius: 40px;
  z-index: 1;
}

.box_info .slide_cont .tab_con .tab_list .slider .sinner {}

.slide_cont .slider .img {
  position: relative;
  width: 100%;
  background-color: #fff;
  z-index: 1;
}

.slide_cont .slider .img span {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 18px;
  color: #111;
  font-weight: 400;
  letter-spacing: 0.025em;
  line-height: 1;
  z-index: 3;
}

.slide_cont .slider .img .box_ani {
  position: relative;
  width: 100%;
  padding-top: 66.667%;
  z-index: 2;
}

.slide_cont .slider .img .box_ani img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slide_cont .slider .swiper-slide .img .box_ani img {
  transform: translate(0, -4%);
  opacity: 0;
}

.slide_cont .slider .swiper-slide.on .img .box_ani img {
  transform: translate(0, 0);
  opacity: 1;
  transition: 0.4s all;
}

.slide_cont .slider .swiper-slide.on2 .img .box_ani img {
  transform: translate(0, 0);
  opacity: 1;
  transition: 0.4s all;
}

.slide_cont .slider .swiper-slide.slider01 .img .box_ani img {
  transform: translate(0, -4%);
  opacity: 0;
}

.slide_cont .slider .swiper-slide.slider01.anim .img .box_ani img {
  transform: translate(0, 0);
  opacity: 1;
  transition: 0.4s all;
}

.slide_cont .slider .txt {
  margin-top: 30px;
}

.slide_cont .slider .txt h2 {
  font-size: 38px;
  color: #111;
  font-weight: 400;
  letter-spacing: -0.07em;
  line-height: 1.2;
}

.slide_cont .slider .txt h2 font {
  font-size: 38px;
  color: #0046ff;
  font-weight: 400;
}

.slide_cont .slider .txt h2 br.pc {
  display: block;
}

.slide_cont .slider .txt h2 br.mob {
  display: none;
}

.slide_cont .slider .txt .notice {
  margin-top: 25px;
}

.slide_cont .slider .txt .notice p {
  position: relative;
  padding-left: 12px;
  font-size: 16px;
  color: #444;
  font-family: "SUIT";
  font-weight: 400;
  letter-spacing: -0.05em;
  line-height: 1.5;
}

.slide_cont .slider .txt .notice p::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "∙";
  font-size: 16px;
  color: #444;
  font-family: "SUIT";
  font-weight: 400;
  letter-spacing: -0.05em;
}

.slide_cont .slider .txt .notice p+p {
  margin-top: 2px;
}

.slide_cont .slider .txt .notice p.empty {
  text-indent: 5em;
}

.slide_cont .slider .txt .notice p.empty::before {
  display: none;
}

.slide_cont .slider .txt .notice p br.mob {
  display: none;
}

.slide_cont .slider .navi {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 76px;
  height: 76px;
  cursor: pointer;
  z-index: 10;
}

.slide_cont .slider .navi.swiper-prev {
  left: -38px;
  background: url("../../img/index/icon_prev.png");
  background-size: 100%;
}

.slide_cont .slider .navi.swiper-next {
  right: -38px;
  background: url("../../img/index/icon_next.png");
  background-size: 100%;
}

.slide_cont .slider .navi.swiper-prev:hover {
  background: url("../../img/index/icon_prev_on.png");
  background-size: 100%;
}

.slide_cont .slider .navi.swiper-next:hover {
  background: url("../../img/index/icon_next_on.png");
  background-size: 100%;
}

.slide_cont .slider .pagination {
  position: absolute;
  bottom: -36px;
  left: 0;
  width: 100%;
}

.slide_cont .slider .pagination .swiper-pagination {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.slide_cont .slider .pagination .swiper-pagination .swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background: #c3c4c6;
  opacity: 1;
  margin: 0 5px;
}

.slide_cont .slider .pagination .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #0046ff;
}

@media (max-width: 1439px) {
  .info_inner {
    padding: 0 44px;
  }

  .box_info .slide_cont .tab_con .tab_list .slider {
    padding: 56px 44px;
  }
}

@media (max-width: 1295px) {
  .info_inner {
    padding: 0 20px;
  }

  .box_info {
    column-gap: 20px;
  }

  .box_info .text_cont {
    width: 48%;
  }

  .box_info .text_cont h2 {
    font-size: 30px;
  }

  .box_info .text_cont h2 strong {
    font-size: 36px;
  }

  .box_info .text_cont h2 strong font {
    font-size: 36px;
  }

  .box_info .text_cont .tit_list {
    margin-top: 30px;
  }

  .box_info .text_cont .tit_list li+li {
    margin-top: 15px;
  }

  .box_info .text_cont .tit_list li a {
    width: 170px;
    height: 50px;
    font-size: 18px;
    line-height: 50px;
  }

  .box_info .text_cont .tit_list li span {
    font-size: 18px;
    letter-spacing: -0.05em;
    margin-left: 15px;
  }

  .box_info .text_cont .tit_list li a:hover {
    background-color: #0046ff;
    color: #fff;
  }

  .box_info .text_cont .tit_list li.active a {
    background-color: #0046ff;
    color: #fff;
  }

  .box_info .text_cont .button {
    margin-top: 30px;
  }

  .box_info .text_cont .button a+a {
    margin-top: 15px;
  }

  .box_info .text_cont .button .btn {
    width: 350px;
    height: 70px;
    line-height: 70px;
  }

  .box_info .text_cont .button .btn p {
    font-size: 24px;
  }

  .box_info .slide_cont {
    width: 50%;
  }

  .box_info .slide_cont .tab_con {
    width: 100%;
  }

  .box_info .slide_cont .tab_con .tab_list {
    width: 100%;
    padding-bottom: 30px;
  }

  .box_info .slide_cont .tab_con .tab_list .slider {
    padding: 35px 30px;
    border-radius: 30px;
  }

  .box_info .slide_cont .tab_con .tab_list .slider .sinner {
    width: 100%;
  }

  .slide_cont .slider .txt {
    margin-top: 20px;
  }

  .slide_cont .slider .txt h2 {
    font-size: 28px;
    letter-spacing: -0.05em;
  }

  .slide_cont .slider .txt h2 font {
    font-size: 28px;
  }

  .slide_cont .slider .txt .notice {
    margin-top: 20px;
  }

  .slide_cont .slider .txt .notice p {
    padding-left: 10px;
    font-size: 15px;
  }

  .slide_cont .slider .txt .notice p::before {
    font-size: 15px;
  }

  .slide_cont .slider .txt .notice p+p {
    margin-top: 2px;
  }

  .slide_cont .slider .navi {
    width: 56px;
    height: 56px;
  }

  .slide_cont .slider .navi.swiper-prev {
    left: -28px;
  }

  .slide_cont .slider .navi.swiper-next {
    right: -28px;
  }

  .slide_cont .slider .navi.swiper-prev:hover {
    background: url("../../img/index/icon_prev_on.png");
    background-size: 100%;
  }

  .slide_cont .slider .navi.swiper-next:hover {
    background: url("../../img/index/icon_next_on.png");
    background-size: 100%;
  }

  .slide_cont .slider .pagination {
    bottom: -28px;
  }

  .slide_cont .slider .pagination .swiper-pagination .swiper-pagination-bullet {
    width: 14px;
    height: 14px;
    margin: 0 4px;
  }
}

@media (max-width: 1023px) {
  .info_inner {
    padding: 0 20px;
  }

  .box_info {
    column-gap: 0;
  }

  .box_info .text_cont {
    width: 48%;
  }

  .box_info .text_cont h2 {
    font-size: 22px;
    letter-spacing: -0.05em;
  }

  .box_info .text_cont h2 strong {
    font-size: 28px;
  }

  .box_info .text_cont h2 strong font {
    font-size: 28px;
  }

  .box_info .text_cont .tit_list {
    margin-top: 25px;
  }

  .box_info .text_cont .tit_list li+li {
    margin-top: 12px;
  }

  .box_info .text_cont .tit_list li a {
    width: 130px;
    height: 45px;
    font-size: 15px;
    line-height: 45px;
  }

  .box_info .text_cont .tit_list li span {
    font-size: 15px;
    margin-left: 12px;
  }

  .box_info .text_cont .tit_list li a:hover {
    background-color: #0046ff;
    color: #fff;
  }

  .box_info .text_cont .tit_list li.active a {
    background-color: #0046ff;
    color: #fff;
  }

  .box_info .text_cont .button {
    margin-top: 20px;
  }

  .box_info .text_cont .button a+a {
    margin-top: 12px;
  }

  .box_info .text_cont .button .btn {
    width: 300px;
    height: 60px;
    line-height: 60px;
  }

  .box_info .text_cont .button .btn p {
    font-size: 20px;
  }

  .box_info .slide_cont {
    width: 50%;
  }

  .box_info .slide_cont .tab_con .tab_list {
    padding-bottom: 24px;
  }

  .box_info .slide_cont .tab_con .tab_list .slider {
    padding: 25px 20px;
    border-radius: 24px;
  }

  .slide_cont .slider .txt {
    margin-top: 15px;
  }

  .slide_cont .slider .txt h2 {
    font-size: 22px;
  }

  .slide_cont .slider .txt h2 font {
    font-size: 22px;
  }

  .slide_cont .slider .txt .notice {
    margin-top: 15px;
  }

  .slide_cont .slider .txt .notice p {
    padding-left: 9px;
    font-size: 14px;
  }

  .slide_cont .slider .txt .notice p::before {
    font-size: 14px;
  }

  .slide_cont .slider .txt .notice p+p {
    margin-top: 0px;
  }

  .slide_cont .slider .navi {
    display: none;
  }

  .slide_cont .slider .pagination {
    bottom: -24px;
  }

  .slide_cont .slider .pagination .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    margin: 0 4px;
  }
}

@media (max-width: 767px) {
  .section-info.mob {
    display: block;
  }

  .section-info .inner {
    padding: 12vw 0 0;
  }

  .info_inner {
    padding: 0 6.4vw;
  }

  .box_info {
    column-gap: 0;
    flex-direction: column;
  }

  .box_info .text_cont {
    width: 100%;
  }

  .box_info .text_cont h2 {
    font-size: 5vw;
    letter-spacing: -0.025em;
    line-height: 1.3;
  }

  .box_info .text_cont h2 strong {
    font-size: 6.4vw;
  }

  .box_info .text_cont h2 strong font {
    font-size: 6.4vw;
  }

  .box_info .text_cont .tit_list {
    margin-top: 4vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 2vw;
  }

  .box_info .text_cont .tit_list li {
    flex: 1 1 30%;
  }

  .box_info .text_cont .tit_list li+li {
    margin-top: 0;
  }

  .box_info .text_cont .tit_list li a {
    width: 100%;
    height: 10.5vw;
    font-size: 3.2vw;
    line-height: 10.5vw;
    border-radius: 5.3vw;
  }

  .box_info .text_cont .tit_list li span {
    display: none;
  }

  .box_info .text_cont .button {
    display: none;
  }

  .section-info.mob .inner {
    padding: 0 0 20vw;
  }

  .section-info.mob .info_inner {
    padding: 0 6.4vw;
  }

  .section-info.mob .box_info .text_cont .button {
    display: block;
    margin-top: 0;
  }

  .section-info.mob .box_info .text_cont .button a {
    width: 100%;
  }

  .section-info.mob .box_info .text_cont .button a+a {
    margin-top: 2.6vw;
  }

  .section-info.mob .box_info .text_cont .button a .btn {
    width: 100%;
    height: 16vw;
    line-height: 16vw;
    border-radius: 8vw;
  }

  .section-info.mob .box_info .text_cont .button a .btn p {
    font-size: 4.8vw;
  }

  .box_info .slide_cont {
    width: 100%;
  }

  .box_info .slide_cont .tab_con .tab_list {
    padding-bottom: 0;
    padding: 8vw 0 19.2vw;
  }

  .box_info .slide_cont .tab_con .tab_list .slider {
    width: 100%;
    padding: 8vw 6.4vw;
    border-radius: 5.33vw;
    min-height: 110vw;
  }

  .slide_cont .slider .txt {
    margin-top: 4vw;
  }

  .slide_cont .slider .txt h2 {
    font-size: 4.5vw;
  }

  .slide_cont .slider .txt h2 font {
    font-size: 4.5vw;
  }

  .slide_cont .slider .txt h2 br.pc {
    display: none;
  }

  .slide_cont .slider .txt h2 br.mob {
    display: block;
  }

  .slide_cont .slider .txt .notice {
    margin-top: 4vw;
  }

  .slide_cont .slider .txt .notice p {
    padding-left: 2vw;
    font-size: 3.2vw;
    line-height: 1.4;
  }

  .slide_cont .slider .txt .notice p::before {
    font-size: 3.2vw;
  }

  .slide_cont .slider .txt .notice p+p {
    margin-top: 1vw;
  }

  .slide_cont .slider .txt .notice p br.mob {
    display: block;
  }

  .slide_cont .slider .navi {
    display: none;
  }

  .slide_cont .slider .pagination {
    bottom: -11.2vw;
  }

  .slide_cont .slider .pagination .swiper-pagination .swiper-pagination-bullet {
    width: 3.2vw;
    height: 3.2vw;
    margin: 0 1.2vw;
  }
}

.section-movie {
  width: 100%;
  background-color: #fee0ec;
}

.movie_inner {
  position: relative;
  padding: 24px 48px;
}

.movie_inner .box_txt_mob {
  display: none;
}

.movie_inner .ball {
  position: absolute;
  z-index: 1;
}

.movie_inner .ball.ball1 {
  top: -52px;
  left: -95px;
}

.movie_inner .ball.ball2 {
  bottom: -140px;
  right: -153px;
}

.movie_inner .box_txt {
  position: relative;
  width: 100%;
  z-index: 2;
}

.movie_inner .box_txt img {
  width: 100%;
}

.movie_inner .box_txt img.pc {
  display: block;
}

.movie_inner .box_txt img.mob {
  display: none;
}

.movie_inner .box_ytplayer {
  position: relative;
  width: 100%;
  margin-top: 48px;
  top: 20px;
  opacity: 0;
  z-index: 2;
}

.movie_inner .box_ytplayer>div {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  box-shadow: rgb(206, 149, 162) 0px 20px 30px -10px;
}

.movie_inner .box_ytplayer>div iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.section-movie.active .movie_inner .box_ytplayer {
  top: 0;
  opacity: 1;
  transition: 0.4s all 0.2s;
}

.section-event.section04 {
  width: 100%;
  background-color: #fee0ec;
}

.section-event.section05 {
  width: 100%;
}

.popup_qr_wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 99;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.box_qr {
  position: relative;
  width: 600px;
  max-height: 750px;
  background-color: #fff;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 15px;
  overflow: hidden;
}

.box_qr .cont {
  width: 100%;
  padding: 70px 70px;
  background-color: #fee0ec;
  text-align: center;
}

.box_qr .cont h2 {
  font-size: 28px;
  color: #000;
  font-weight: 400;
  letter-spacing: -0.025em;
  line-height: 1.3;
}

.box_qr .cont h2 strong {
  font-size: 28px;
  color: #000;
  font-weight: 500;
  letter-spacing: -0.025em;
  line-height: 1.3;
}

.box_qr .cont span {
  display: inline-block;
  padding: 56px 56px;
  background-color: #fff;
  margin-top: 40px;
}

.box_qr .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  background-color: #000;
  cursor: pointer;
}

.box_qr .btn p {
  font-size: 28px;
  color: #fff;
  font-weight: 400;
  letter-spacing: -0.025em;
}

@media (max-width: 1439px) {
  .movie_inner {
    padding: 20px 44px;
  }

  .movie_inner .ball {
    display: none;
  }
}

@media (max-width: 1295px) {
  .movie_inner {
    padding: 20px 20px;
  }

  .box_qr {
    width: 500px;
    height: auto;
    -ms-border-radius: 36px;
    -o-border-radius: 36px;
    -moz-border-radius: 36px;
    -webkit-border-radius: 36px;
    border-radius: 36px;
  }

  .box_qr .cont {
    padding: 65px 65px;
  }

  .box_qr .cont h2 {
    font-size: 26px;
  }

  .box_qr .cont h2 strong {
    font-size: 26px;
  }

  .box_qr .cont span {
    padding: 46px 46px;
    margin-top: 35px;
  }

  .box_qr .btn {
    height: 90px;
  }

  .box_qr .btn p {
    font-size: 26px;
  }
}

@media (max-width: 1023px) {
  .movie_inner {
    padding: 20px 20px;
  }

  .box_qr {
    width: auto;
    height: auto;
    -ms-border-radius: 32px;
    -o-border-radius: 32px;
    -moz-border-radius: 32px;
    -webkit-border-radius: 32px;
    border-radius: 32px;
  }

  .box_qr .cont {
    padding: 55px 55px;
  }

  .box_qr .cont h2 {
    font-size: 24px;
  }

  .box_qr .cont h2 strong {
    font-size: 24px;
  }

  .box_qr .cont span {
    padding: 36px 36px;
    margin-top: 30px;
  }

  .box_qr .btn {
    height: 70px;
  }

  .box_qr .btn p {
    font-size: 24px;
  }
}

@media (max-width: 767px) {
  .popup_qr_wrap {
    display: none !important;
  }

  .section-movie .inner {
    padding: 12vw 0 12vw;
  }

  .movie_inner {
    padding: 0 6.4vw;
  }

  .movie_inner .ball {
    display: block;
  }

  .movie_inner .ball.ball1 {
    width: 22vw;
    top: -8.5vw;
    left: -11vw;
    transform: rotate(50deg);
  }

  .movie_inner .ball.ball2 {
    width: 26vw;
    bottom: -21vw;
    right: -1vw;
  }

  .movie_inner .box_txt img.pc {
    display: none;
  }

  .movie_inner .box_txt img.mob {
    display: block;
  }

  .movie_inner .box_ytplayer {
    margin-top: 8vw;
    top: 8vw;
  }

  .movie_inner .box_txt_mob {
    position: relative;
    display: block;
    margin-top: 8vw;
    top: 8vw;
    opacity: 0;
  }

  .movie_inner .box_txt_mob img {
    width: 100%;
  }

  .section-movie.active .movie_inner .box_txt_mob {
    top: 0;
    opacity: 1;
    transition: 0.4s all 0.2s;
  }
}

.wbtn {
  position: relative;
  display: block;
}

.mbtn {
  position: relative;
  display: none;
}

@media (max-width: 1023px) {
  .wbtn {
    display: none;
  }

  .mbtn {
    display: block;
  }
}

.ally-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}

.section01 .slide_cont {
  top: 40px;
  opacity: 0;
}

.section02 .slide_cont {
  top: 40px;
  opacity: 0;
}

.section04 .slide_cont {
  top: 40px;
  opacity: 0;
}

.section05 .slide_cont {
  top: 40px;
  opacity: 0;
}

.section06 .slide_cont {
  top: 40px;
  opacity: 0;
}

.section03 {
  top: 40px;
  opacity: 0;
}

.section01.show .slide_cont {
  top: 0;
  opacity: 1;
  transition: 0.4s all;
}

.section02.show .slide_cont {
  top: 0;
  opacity: 1;
  transition: 0.4s all;
}

.section04.show .slide_cont {
  top: 0;
  opacity: 1;
  transition: 0.4s all;
}

.section05.show .slide_cont {
  top: 0;
  opacity: 1;
  transition: 0.4s all;
}

.section06.show .slide_cont {
  top: 0;
  opacity: 1;
  transition: 0.4s all;
}

.section03.show {
  top: 0;
  opacity: 1;
  transition: 0.4s all;
}

@media (max-width: 767px) {
  .section01 .slide_cont {
    top: 8vw;
    opacity: 0;
  }

  .section-event.mob.section01 {
    top: 8vw;
    opacity: 0;
  }

  .section02 .slide_cont {
    top: 8vw;
    opacity: 0;
  }

  .section02.mob {
    top: 8vw;
    opacity: 0;
  }

  .section04 .slide_cont {
    top: 8vw;
    opacity: 0;
  }

  .section05 .slide_cont {
    top: 8vw;
    opacity: 0;
  }

  .section05.mob {
    top: 8vw;
    opacity: 0;
  }

  .section06 .slide_cont {
    top: 8vw;
    opacity: 0;
  }

  .section06.mob {
    top: 8vw;
    opacity: 0;
  }

  .section-event.mob.section04 {
    top: 8vw;
    opacity: 0;
  }

  .section03 {
    top: 8vw;
    opacity: 0;
  }

  .section01.show .slide_cont {
    top: 0;
    opacity: 1;
    transition: 0.4s all;
  }

  .section-event.mob.show {
    top: 0;
    opacity: 1;
    transition: 0.4s all;
  }

  .section02.mob.show {
    top: 0;
    opacity: 1;
    transition: 0.4s all;
  }

  .section04.show .slide_cont {
    top: 0;
    opacity: 1;
    transition: 0.4s all;
  }

  .section-event.mob.show {
    top: 0;
    opacity: 1;
    transition: 0.4s all;
  }

  .section05.show .slide_cont2 {
    top: 0;
    opacity: 1;
    transition: 0.4s all;
  }

  .section05.mob.show {
    top: 0;
    opacity: 1;
    transition: 0.4s all;
  }

  .section06.show .slide_cont2 {
    top: 0;
    opacity: 1;
    transition: 0.4s all;
  }

  .section06.mob.show {
    top: 0;
    opacity: 1;
    transition: 0.4s all;
  }

  .section03.show {
    top: 0;
    opacity: 1;
    transition: 0.4s all;
  }
}