/* style */
/* -----------------------------피씨(1920)---------------------------- */
/* chatbot */

.message  .convFormDynamic{
    display:none;
}
.message  .convFormDynamic.on{
    display:block;
}
#messages .message:nth-child(5) {
    position: relative;
}
#messages .message:nth-child(5)  > .convFormDynamic {
    display:block !important;
    right:0;
    bottom:0;
    width:100px;
    height:40px;
    background-color:#eee;
    font-size:14px;
}
#messages .message:nth-child(5)  > .convFormDynamic.hide {
    display:none !important;
}
#messages .message:nth-child(5)  > .convFormDynamic .options {
    width:100%;
    height:100%;
    top: -6px;
    right: 6px;

}
.inpu-set input{
    width:100%;
}
#messages .message:nth-child(5)  > .convFormDynamic .options .option {
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    width: 100px;
    height: 40px;
    background: #ffbc00;
    vertical-align: middle;
    line-height: 40px;
    padding: 0;
    margin: 0px;
}
#messages .message:nth-child(5) .test {
    padding-bottom:40px;
}
.chatbot {
    min-height: 35vh;
    max-height: 63vh;
    overflow: hidden;
    background: #ffbc00;
    position: relative;
}

.vertical-align {
    /* position: relative;
        width: 100%;
        min-height:39vh;
        max-height:66vh; */
}

.container {
    width: 1024px ! important;
    margin: 0 auto;
}

.typing_loader {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    -webkit-animation: typing 1s linear infinite alternate;
    -moz-animation: typing 1s linear infinite alternate;
    -ms-animation: typing 1s linear infinite alternate;
    animation: typing 1s linear infinite alternate;
    position: relative;
    left: -12px;
    margin: 7px 15px 6px;
}

.to .typing_loader {
    animation: typing-black 1s linear infinite alternate;
}

@-webkit-keyframes typing {
    0% {
        background-color: rgba(255, 255, 255, 1);
        box-shadow: 12px 0px 0px 0px rgba(255, 255, 255, 0.4),
            24px 0px 0px 0px rgba(255, 255, 255, 0.2);
    }

    50% {
        background-color: rgba(255, 255, 255, 0.4);
        box-shadow: 12px 0px 0px 0px rgba(255, 255, 255, 1),
            24px 0px 0px 0px rgba(255, 255, 255, 0.4);
    }

    100% {
        background-color: rgba(255, 255, 255, 0.2);
        box-shadow: 12px 0px 0px 0px rgba(255, 255, 255, 0.4),
            24px 0px 0px 0px rgba(255, 255, 255, 1);
    }
}

@-moz-keyframes typing {
    0% {
        background-color: rgba(255, 255, 255, 1);
        box-shadow: 12px 0px 0px 0px rgba(255, 255, 255, 0.4),
            24px 0px 0px 0px rgba(255, 255, 255, 0.2);
    }

    50% {
        background-color: rgba(255, 255, 255, 0.4);
        box-shadow: 12px 0px 0px 0px rgba(255, 255, 255, 1),
            24px 0px 0px 0px rgba(255, 255, 255, 0.4);
    }

    100% {
        background-color: rgba(255, 255, 255, 0.2);
        box-shadow: 12px 0px 0px 0px rgba(255, 255, 255, 0.4),
            24px 0px 0px 0px rgba(255, 255, 255, 1);
    }
}

@keyframes typing-black {
    0% {
        background-color: rgba(74, 74, 74, 1);
        box-shadow: 12px 0px 0px 0px rgba(74, 74, 74, 0.4),
            24px 0px 0px 0px rgba(74, 74, 74, 0.2);
    }

    50% {
        background-color: rgba(74, 74, 74, 0.4);
        box-shadow: 12px 0px 0px 0px rgba(74, 74, 74, 1),
            24px 0px 0px 0px rgba(74, 74, 74, 0.4);
    }

    100% {
        background-color: rgba(74, 74, 74, 0.2);
        box-shadow: 12px 0px 0px 0px rgba(74, 74, 74, 0.4),
            24px 0px 0px 0px rgba(74, 74, 74, 1);
    }
}

@keyframes typing {
    0% {
        background-color: rgba(255, 255, 255, 1);
        box-shadow: 12px 0px 0px 0px rgba(255, 255, 255, 0.4),
            24px 0px 0px 0px rgba(255, 255, 255, 0.2);
    }

    50% {
        background-color: rgba(255, 255, 255, 0.4);
        box-shadow: 12px 0px 0px 0px rgba(255, 255, 255, 1),
            24px 0px 0px 0px rgba(255, 255, 255, 0.4);
    }

    100% {
        background-color: rgba(255, 255, 255, 0.2);
        box-shadow: 12px 0px 0px 0px rgba(255, 255, 255, 0.4),
            24px 0px 0px 0px rgba(255, 255, 255, 1);
    }
}

form.convFormDynamic {
    position: absolute;
    bottom: 20px;
    width: 100%;
}

form.convFormDynamic textarea.userInputDynamic {
    border: none;
    padding: 7px 10px;
    outline: none;
    font-size: 0.905rem;
    float: left;
    width: calc(100% - 70px);
    line-height: 1.3em;
    min-height: 1.7em;
    max-height: 10rem;
    display: block;
    max-width: 88%;
    margin-right: 2.5%;
}

form.convFormDynamic input.userInputDynamic {
    border: none;
    padding: 7px 10px;
    outline: none;
    font-size: 0.905rem;
    float: left;
    width: calc(100% - 70px);
    line-height: 1.3em;
    min-height: 1.7em;
    max-height: 10rem;
    display: block;
    max-width: 88%;
    margin-right: 2.5%;
}

div.conv-form-wrapper:after {
    content: '';
    display: block;
    clear: both;
    width: 100%;
    height: 1px;
}

div.conv-form-wrapper div#messages {
    /* max-height: 71vh; */
    height: auto !important;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    /* IE 11 */
}

div.conv-form-wrapper * {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

div.conv-form-wrapper div#messages:after {
    content: '';
    display: table;
    clear: both;
}

div.conv-form-wrapper {
    position: relative;
}

div.conv-form-wrapper div.wrapper-messages {
    position: relative;
    /* height: 39vh;
        max-height: 66vh; */
    overflow-y: scroll;
    transition: margin 0.1s;
    max-height: 480px
}

div.conv-form-wrapper:before {
    content: '';
    position: absolute;
    width: 100%;
    display: block;
    height: 30px;
    top: 0;
    left: 0;
    z-index: 2;
}

div.conv-form-wrapper div.wrapper-messages::-webkit-scrollbar, div#feed ul::-webkit-scrollbar, div.conv-form-wrapper div.options::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    /* remove scrollbar space */
    background: transparent;
    /* optional: just make scrollbar invisible */
}

input[type="text"].userInputDynamic.error {
    color: #ac0000 !important;
}

input[type="text"].userInputDynamic {
    border-radius: 3px;
    margin: 7px 10px;
}

textarea.userInputDynamic.error {
    color: #ac0000 !important;
}

textarea.userInputDynamic {
    border-radius: 3px;
    margin: 7px 10px;
}

div.conv-form-wrapper div#messages {
    transition: bottom 0.15s, padding-bottom 0.15s;
    /* position: absolute;
        bottom: 0; */
    height: auto !important;
    width: 100%;
    padding-bottom: 85px;
    /* margin-bottom: 66px; */
    max-height: 480px;
    padding-top: 75px;
}

div.conv-form-wrapper div.options {
    word-wrap: normal;
    white-space: nowrap;
    overflow-x: scroll;
    position: absolute;
    bottom: 100%;
    width: 100%;
    transform: translateY(-5px);
    overflow-y: scroll;
}

div.conv-form-wrapper div.options:after {
    content: '';
    display: table;
    clear: both;
}

div.conv-form-wrapper div.options div.option {
    padding: 7px 17px;
    display: inline-block;
    cursor: pointer;
    border-radius: 20px;
    background: #ffe193;
    font-size: 17px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #222;
    margin-left: 10px;
}

div.conv-form-wrapper div.options div.option:last-child {
    margin-right: 0;
}

div.conv-form-wrapper div.message {
    animation: slideTop 0.15s ease;
}

div.conv-form-wrapper div.message:after {
    content: '';
    display: table;
    clear: both;
}

div.conv-form-wrapper div.message.ready {
    animation: bounceIn 0.2s ease;
    transform-origin: 0 0 0;
}

div.conv-form-wrapper div#messages div.message {
    border-radius: 20px;
    padding: 12px 22px;
    font-size: 0.905rem;
    color: #333;
    display: inline-block;
    padding: 14px 20px;
    border-radius: 20px;
    margin-bottom: 5px;
    float: right;
    clear: both;
    max-width: 65%;
    word-wrap: break-word;
}

div.conv-form-wrapper div#messages div.message.to {
    background: #fff;
    float: left;
    border-bottom-left-radius: 0;
    font-size: 17px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.41;
    letter-spacing: normal;
    color: #303030;
}

div.conv-form-wrapper div#messages div.message.from {
    padding: 7px 17px;
    display: inline-block;
    cursor: pointer;
    border-radius: 20px;
    background: #222;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: normal;
    color: #ffffff;
    border-bottom-right-radius: 0;
    float: right;
}

.message.to+.message.from, .message.from+.message.to {
    margin-top: 15px;
}

@keyframes slideTop {
    0% {
        margin-bottom: -25px;
    }

    100% {
        margin-bottom: 0;
    }
}

@keyframes bounceIn {
    0% {
        transform: scale(0.75, 0.75);
    }

    100% {
        transform: scale(1.0, 1.0);
    }
}

div.conv-form-wrapper div.options div.option:hover {
    background: #eeeeee;
}

div.conv-form-wrapper div.options div.option.selected {
    background: #06b79a;
    color: #fff;
}

div.conv-form-wrapper div.options div.option.selected:hover {
    background: #069c7f;
}

form.convFormDynamic button.submit {
    padding: 3px;
    border: none;
    float: left;
    margin: 5px;
    color: #06c5a6;
    cursor: pointer;
    border-radius: 8px;
    font-size: 1.1rem;
    width: 36px;
    height: 35px;
    margin-top: 4px;
    background: #fff;
    outline: none !important;
}

form.convFormDynamic button.submit:hover {
    background: #06b79a;
    color: #fff;
}

button.submit.glow {
    box-shadow: 0 0 10px 5px rgba(6, 197, 166, 0.4);
}

.no-border {
    border: none !important;
}

.dragscroll {
    cursor: grab;
}

div.conv-form-wrapper div#messages::-webkit-scrollbar, div#feed ul::-webkit-scrollbar {
    width: 0px;
    /* remove scrollbar space */
    background: transparent;
    /* optional: just make scrollbar invisible */
}

span.clear {
    display: block;
    clear: both;
}

.spinLoader,
.spinLoader:before,
.spinLoader:after {
    background: #fff !important;
    -webkit-animation: spinLoaderChat 1s infinite ease-in-out;
    animation: spinLoaderChat 1s infinite ease-in-out;
    width: 1em;
    height: 4em;
}

.spinLoader {
    color: #fff !important;
    text-indent: -9999em;
    margin: 22% auto;
    position: relative;
    font-size: 11px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

.spinLoader:before,
.spinLoader:after {
    position: absolute;
    top: 0;
    content: '';
}

.spinLoader:before {
    left: -1.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinLoader:after {
    left: 1.5em;
}

@-webkit-keyframes spinLoaderChat {

    0%,
    80%,
    100% {
        box-shadow: 0 0;
        height: 4em;
    }

    40% {
        box-shadow: 0 -2em;
        height: 5em;
    }
}

@keyframes spinLoaderChat {

    0%,
    80%,
    100% {
        box-shadow: 0 0;
        height: 4em;
    }

    40% {
        box-shadow: 0 -2em;
        height: 5em;
    }
}

.col-sm-6.col-sm-offset-3.col-xs-offset-0 {
    padding: 0;
    width: 100%;
    margin-left: 0;
}

/* //chatbot */
/* hire */
#hire {
    min-height: 34vh;
    position: relative;
}

#hire .title_group {
    position: absolute;
    top: 66%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 343px
}

#hire .title_group h6 a {
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.93;
    letter-spacing: -0.5px;
    color: #262626;
    margin-bottom: 14px;
    position: relative;
    width: 186px;
    text-decoration: none;
}

#hire .title_group p {
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: normal;
    color: #262626;
}

#hire .title_group .num {
    background: #ffbc00;
    font-size: 18px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: normal;
    color: #2b2b2b;
    padding: 0 10px;
    border-radius: 20px;
    position: absolute;
    right: -24px;
    top: -7px;
}

#hire .title_group img {
    width: 30px;
    margin: 0 auto;
    display: block;
    padding: 20px 0 0;
}

/* //hire */
/* about */
#about {}

.about_content {
    padding-top: 40px;
    overflow: hidden;
}

.about_content:first-child {
    padding-top: 0
}

.about_content .ab_title {
    font-size: 20px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    color: #222;
    padding-bottom: 20px;
    margin: 0;
}

.about_content .ab_title_p {
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.47;
    letter-spacing: normal;
    color: #222222;
    margin: 0 0 20px;
}

.about_content .ab_title::after {
    content: "";
    width: 7px;
    height: 7px;
    border-radius: 100%;
    background: #ffbc00;
    display: inline-block;
    margin-bottom: 11px;
    margin-left: 4px;
}

.about_content .ab_txt {
    width: 28%;
    margin-right: 8%;
    float: left;
}

.about_content .ab_txt:last-child {
    margin-right: 0
}

.about_content .ab_txt img {
    width: 100%;
}

.about_content .ab_txt p {
    margin: 17px 0 0;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #222;
}

.about_content .ab_txt2 {
    padding: 70px 0;
    text-align: center;
}

.about_content .ab_txt2 h6 {
    font-size: 15px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.47;
    letter-spacing: normal;
    text-align: center;
    color: #303030;
    background: #ffbc00;
    padding: 2px 8px;
    display: inline;
    border-radius: 20px;
}

.about_content .ab_txt2 p {
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #2b2b2b;
    margin: 10px 0 0;
}

.about_content .ab_txt2 img {
    margin-top: 12px;
    width: 80%;
}

.about_content .ab_txt3 {
    overflow: hidden;
    padding: 30px 0;
    border-bottom: 1px solid #ddd;
}

.about_content .ab_txt3 h6 {
    font-size: 15px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.47;
    letter-spacing: normal;
    color: #2b2b2b;
    float: left;
    width: 40%;
}

.about_content .ab_txt3 p {
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: #303030;
    float: left;
}

.about_content .ab_txt4 {
    margin: 30px 0 0;
    width: 45%;
    margin-right: 10%;
    float: left;
}

.about_content .ab_txt4 a {
    text-decoration: none;
}

.about_content .ab_txt4:nth-child(2n-1) {
    margin-right: 0;
}

.about_content .ab_txt4 img {
    width: 100%;
}

.about_content .ab_txt4 h6 {
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.47;
    letter-spacing: normal;
    text-align: center;
    color: #222;
    font-weight: bold;
    margin-top: 12px;
    margin-bottom: 0;
}

.about_content .ab_txt4 p {
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.47;
    letter-spacing: normal;
    text-align: center;
    color: #222;
}

/* //about */
/* works */
#work .swiper_wrap {
    position: relative;
}

#work .swiper_wrap::before {
    content: "";
    display: inline-block;
    width: 120%;
    height: 45%;
    background: #f3f3f3;
    position: absolute;
    left: -10%;
    bottom: -30px;
    z-index: -1;
}

#work .ct_inner {
    position: relative;
    padding-top: 50px;
}

#work .swiper-pagination2.swiper-pagination-bullets {
    top: -30px;
    right: 0;
    width: 98px;
    height: auto;
    position: absolute;
}

#work .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
    display: inline-block;
    border-radius: 100%;
    background: #000;
    opacity: .2;
    margin-left: 8px
}

#work .swiper-pagination-bullet-active {
    opacity: 1
}

#work .swiper-slide {
    width: 100%;
    height: auto;
    position: relative;
    text-align: left;
    background: transparent;
}

#work .swiper-slide a {
    text-decoration: none;
}

#work .swiper-slide img {
    width: 100%;
    border-radius: 10px;
    filter: brightness(50%)
}

#work .swiper-slide .swiper_title2 {
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #fff;
    position: absolute;
    left: 20px;
    top: 20px;
}

#work .swiper-slide .swiper_title2_p {
    font-size: 15px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.47;
    letter-spacing: normal;
    color: #fff;
    position: absolute;
    left: 20px;
    bottom: 20px;
}

#work .swiper-container-android .swiper-slide, .swiper-wrapper {
    transform: none;
    background-color: transparent;
}

.work_content {
    padding-top: 70px;
    overflow: hidden;
}

.work_content .work_title {
    font-size: 20px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    color: #222;
    padding-bottom: 20px;
    margin: 0;
}

.work_content .work_title::after {
    content: "";
    width: 7px;
    height: 7px;
    border-radius: 100%;
    background: #ffbc00;
    display: inline-block;
    margin-bottom: 11px;
    margin-left: 4px;
}

.work_content .work_txt {
    width: 45%;
    margin-right: 10%;
    float: left;
}

.work_content .work_txt:nth-child(2n-1) {
    margin-right: 0;
}

.work_content .work_txt img {
    width: 100%;
}

/* //works */
/* 스와이프 */
.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper_title {
    border-radius: 0 0 12px 12px;
    background-color: rgba(0, 0, 0, .8);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 0;
    color: #fff;
    height: 44px;
    line-height: 44px;
}

.swiper-slide .img_box {
    position: relative;
    width: 100%;
}

.swiper-slide a {
    position: relative;
    width: 100%;
}

.swiper-slide img {
    width: 100%;
}

.swiper-slide a:focus, .swiper-slide a:hover {
    text-decoration: none !important;
    color: #222
}

.swiper-pagination-bullet-active {
    background-color: #ffbc00 !important;
}

/* //스와이프 */
/* //News */
.news_content {
    overflow: hidden;
    border-bottom: 1px solid #ddd;
    padding: 20px 0;
    font-size: 14px;
    color: #222
}

.news_content:first-child {
    padding-top: 0 !important
}

.news_content:last-child {
    border-bottom: none !important
}

.news_content .thumb_area {
    width: 130px;
    height: 100px;
    background: #414141;
    border-radius: 6px
}

.news_content>a {
    float: left;
}

.news_content>.segment {
    float: left;
    padding-left: 20px;
    width: calc(100% - 130px);
    height: 100px;
    position: relative;
}

.news_content>.segment p {
    font-size: 15px;
    color: #222;
    font-weight: bold;
}

.news_content>.segment span {
    display: inline-block;
    position: absolute;
    bottom: 0
}

/* //News */
/* Careers */
.title_text>h6 {
    font-size: 26px;
    line-height: 28px;
    letter-spacing: -.5px;
    color: #222;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 20px;
}

.title_text>p {
    font-size: 15px;
    line-height: 22px;
    color: #222;
    margin-bottom: 40px
}

.btn_v2 {
    width: 100%;
    margin: 0 auto;
    margin-top: 25px
}

.btn_v2>a {
    background: #ffbc00;
    width: 100%;
    display: block;
    text-align: center;
    line-height: 50px;
    border-radius: 8px;
    box-shadow: 1px 4px 14px 0 rgba(180, 180, 180, 0.5);
    color: #222;
    font-size: 15px;
    font-weight: bold;
}

#careers {
    position: relative;
}

#careers::before {
    content: "";
    display: inline-block;
    width: 100%;
    height: 30%;
    background: #f3f3f3;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
}

#careers .swiper-container {
    padding-bottom: 42px
}

/* //Careers */
/* contact */
#contact .col-sm-6.col-sm-offset-3.col-xs-offset-0 {
    padding: 0;
}

#contact div.conv-form-wrapper div#messages {
    padding-top: 0;
    padding-bottom: 230px;
}

#contact div.conv-form-wrapper div#messages div.message.to {
    background: #f3f3f3
}

#contact div.conv-form-wrapper div.options div.option {
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    width: 90px;
    height: 90px;
    background: #ffbc00;
    vertical-align: middle;
    line-height: 90px;
    padding: 0;
    margin-right: 10px;
}

#contact div.conv-form-wrapper div.options div.option:nth-child(1) {
    margin-bottom: 10px;
}

#contact div.conv-form-wrapper div.options div.option:nth-child(2) {
    margin-bottom: 10px;
}

#contact div.conv-form-wrapper div.options div.option:nth-child(3) {
    margin-bottom: 10px;
}

#contact div.conv-form-wrapper div.options div.option:nth-child(3) {
    margin-right: 0;
}

#contact div.conv-form-wrapper div.options div.option:nth-child(6) {
    margin-right: 0;
}

#contact div.conv-form-wrapper div.options {
    width: 290px;
    white-space: normal;
}

/* //contact */
/* 팝업 */
[class^="pop-wrap"] {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 10001;
}

.pop-header {
    position: relative;
    height: 58px;
    padding-left: 25px;
    color: #000;
    font-size: 22px;
    line-height: 240%;
}

.pop-header .btnp-close {
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 16px;
}

.pop-cont {
    padding: 25px;
}

.layer-scroll {
    overflow: hidden;
}

.pop_header {
    width: 100%;
    height: 200px;
    background-image: url('../img/main/works_01.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 20px
}
.btnp-close {
    padding: 16px 0;
    float: right;
}
.ux_btn {
    font-size: 13px;
    color: #fff;
    display: inline-block;
    border: solid 1px #fff;
    padding: 3px 10px;
    border-radius: 10px;
    margin-top: 14px
}
.pop_title {
    font-size: 20px;
    font-weight: bold;
    color: #fff
}



/* //팝업 */
/* -----------------------------//피씨(1920)---------------------------- */



/* -----------------------------테블릿(1024)---------------------------- */
@media all and (min-width:376px) and (max-width:1024px) {
    .col-sm-6.col-sm-offset-3.col-xs-offset-0 {
        width: 100%;
        padding: 0 20px;
        margin-left: 0;
    }

    .container {
        width: 100% ! important;
        padding: 0 20px;
    }
}

/* -----------------------------//테블릿(1024)---------------------------- */
/* -----------------------------모바일(375px)---------------------------- */
@media all and (max-width: 480px) {

    /* chatbot */
    .chatbot {
        min-height: 39vh;
        max-height: 66vh;
        overflow: hidden;
        background: #ffbc00;
        position: relative;
    }

    .vertical-align {
        /* position: relative;
        width: 100%;
        min-height:39vh;
        max-height:66vh; */
    }

    .container {
        /* position: absolute;
        width: 100%;
        bottom: 0; */
        width: 100% !important;
    }

    .typing_loader {
        width: 6px;
        height: 6px;
        border-radius: 50%;
        -webkit-animation: typing 1s linear infinite alternate;
        -moz-animation: typing 1s linear infinite alternate;
        -ms-animation: typing 1s linear infinite alternate;
        animation: typing 1s linear infinite alternate;
        position: relative;
        left: -12px;
        margin: 7px 15px 6px;
    }

    .to .typing_loader {
        animation: typing-black 1s linear infinite alternate;
    }

    @-webkit-keyframes typing {
        0% {
            background-color: rgba(255, 255, 255, 1);
            box-shadow: 12px 0px 0px 0px rgba(255, 255, 255, 0.4),
                24px 0px 0px 0px rgba(255, 255, 255, 0.2);
        }

        50% {
            background-color: rgba(255, 255, 255, 0.4);
            box-shadow: 12px 0px 0px 0px rgba(255, 255, 255, 1),
                24px 0px 0px 0px rgba(255, 255, 255, 0.4);
        }

        100% {
            background-color: rgba(255, 255, 255, 0.2);
            box-shadow: 12px 0px 0px 0px rgba(255, 255, 255, 0.4),
                24px 0px 0px 0px rgba(255, 255, 255, 1);
        }
    }

    @-moz-keyframes typing {
        0% {
            background-color: rgba(255, 255, 255, 1);
            box-shadow: 12px 0px 0px 0px rgba(255, 255, 255, 0.4),
                24px 0px 0px 0px rgba(255, 255, 255, 0.2);
        }

        50% {
            background-color: rgba(255, 255, 255, 0.4);
            box-shadow: 12px 0px 0px 0px rgba(255, 255, 255, 1),
                24px 0px 0px 0px rgba(255, 255, 255, 0.4);
        }

        100% {
            background-color: rgba(255, 255, 255, 0.2);
            box-shadow: 12px 0px 0px 0px rgba(255, 255, 255, 0.4),
                24px 0px 0px 0px rgba(255, 255, 255, 1);
        }
    }

    @keyframes typing-black {
        0% {
            background-color: rgba(74, 74, 74, 1);
            box-shadow: 12px 0px 0px 0px rgba(74, 74, 74, 0.4),
                24px 0px 0px 0px rgba(74, 74, 74, 0.2);
        }

        50% {
            background-color: rgba(74, 74, 74, 0.4);
            box-shadow: 12px 0px 0px 0px rgba(74, 74, 74, 1),
                24px 0px 0px 0px rgba(74, 74, 74, 0.4);
        }

        100% {
            background-color: rgba(74, 74, 74, 0.2);
            box-shadow: 12px 0px 0px 0px rgba(74, 74, 74, 0.4),
                24px 0px 0px 0px rgba(74, 74, 74, 1);
        }
    }

    @keyframes typing {
        0% {
            background-color: rgba(255, 255, 255, 1);
            box-shadow: 12px 0px 0px 0px rgba(255, 255, 255, 0.4),
                24px 0px 0px 0px rgba(255, 255, 255, 0.2);
        }

        50% {
            background-color: rgba(255, 255, 255, 0.4);
            box-shadow: 12px 0px 0px 0px rgba(255, 255, 255, 1),
                24px 0px 0px 0px rgba(255, 255, 255, 0.4);
        }

        100% {
            background-color: rgba(255, 255, 255, 0.2);
            box-shadow: 12px 0px 0px 0px rgba(255, 255, 255, 0.4),
                24px 0px 0px 0px rgba(255, 255, 255, 1);
        }
    }

    form.convFormDynamic {
        position: absolute;
        bottom: 20px;
        width: 100%;
    }

    form.convFormDynamic textarea.userInputDynamic {
        border: none;
        padding: 7px 10px;
        outline: none;
        font-size: 0.905rem;
        float: left;
        width: calc(100% - 70px);
        line-height: 1.3em;
        min-height: 1.7em;
        max-height: 10rem;
        display: block;
        max-width: 88%;
        margin-right: 2.5%;
    }

    form.convFormDynamic input.userInputDynamic {
        border: none;
        padding: 7px 10px;
        outline: none;
        font-size: 0.905rem;
        float: left;
        width: calc(100% - 70px);
        line-height: 1.3em;
        min-height: 1.7em;
        max-height: 10rem;
        display: block;
        max-width: 88%;
        margin-right: 2.5%;
    }

    div.conv-form-wrapper:after {
        content: '';
        display: block;
        clear: both;
        width: 100%;
        height: 1px;
    }

    div.conv-form-wrapper div#messages {
        /* max-height: 71vh; */
        height: auto !important;
        overflow-y: scroll;
        scrollbar-width: none;
        -ms-overflow-style: none;
        /* IE 11 */
    }

    div.conv-form-wrapper * {
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    div.conv-form-wrapper div#messages:after {
        content: '';
        display: table;
        clear: both;
    }

    div.conv-form-wrapper {
        position: relative;
    }

    div.conv-form-wrapper div.wrapper-messages {
        position: relative;
        /* height: 39vh;
        max-height: 66vh; */
        overflow-y: scroll;
        transition: margin 0.1s;
        max-height: 580px
    }

    div.conv-form-wrapper:before {
        content: '';
        position: absolute;
        width: 100%;
        display: block;
        height: 30px;
        top: 0;
        left: 0;
        z-index: 2;
    }

    div.conv-form-wrapper div.wrapper-messages::-webkit-scrollbar, div#feed ul::-webkit-scrollbar, div.conv-form-wrapper div.options::-webkit-scrollbar {
        width: 0px;
        height: 0px;
        /* remove scrollbar space */
        background: transparent;
        /* optional: just make scrollbar invisible */
    }

    input[type="text"].userInputDynamic.error {
        color: #ac0000 !important;
    }

    input[type="text"].userInputDynamic {
        border-radius: 3px;
        margin: 7px 10px;
    }

    textarea.userInputDynamic.error {
        color: #ac0000 !important;
    }

    textarea.userInputDynamic {
        border-radius: 3px;
        margin: 7px 10px;
    }

    div.conv-form-wrapper div#messages {
        transition: bottom 0.15s, padding-bottom 0.15s;
        /* position: absolute;
        bottom: 0; */
        height: auto !important;
        width: 100%;
        padding-bottom: 85px;
        /* margin-bottom: 66px; */
        max-height: 66vh;
        padding-top: 75px;
    }

    div.conv-form-wrapper div.options {
        word-wrap: normal;
        white-space: nowrap;
        overflow-x: scroll;
        position: absolute;
        bottom: 100%;
        width: 100%;
        transform: translateY(-5px);
        overflow-y: scroll;
    }

    div.conv-form-wrapper div.options:after {
        content: '';
        display: table;
        clear: both;
    }

    div.conv-form-wrapper div.options div.option {
        padding: 7px 17px;
        display: inline-block;
        cursor: pointer;
        border-radius: 20px;
        background: #ffe193;
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.75;
        letter-spacing: normal;
        color: #222;
        margin-right: 8px;
    }

    div.conv-form-wrapper div.options div.option:last-child {
        margin-right: 0;
    }

    div.conv-form-wrapper div.message {
        animation: slideTop 0.15s ease;
    }

    div.conv-form-wrapper div.message:after {
        content: '';
        display: table;
        clear: both;
    }

    div.conv-form-wrapper div.message.ready {
        animation: bounceIn 0.2s ease;
        transform-origin: 0 0 0;
    }

    div.conv-form-wrapper div#messages div.message {
        border-radius: 20px;
        padding: 12px 22px;
        font-size: 0.905rem;
        color: #333;
        display: inline-block;
        padding: 14px 20px;
        border-radius: 20px;
        margin-bottom: 5px;
        float: right;
        clear: both;
        max-width: 65%;
        word-wrap: break-word;
    }

    div.conv-form-wrapper div#messages div.message.to {
        background: #fff;
        float: left;
        border-bottom-left-radius: 0;
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.38;
        letter-spacing: normal;
        color: #2b2b2b;
    }

    div.conv-form-wrapper div#messages div.message.from {
        padding: 7px 17px;
        display: inline-block;
        cursor: pointer;
        border-radius: 20px;
        background: #222;
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.75;
        letter-spacing: normal;
        color: #ffffff;
        border-bottom-right-radius: 0;
        float: right;
    }

    .message.to+.message.from, .message.from+.message.to {
        margin-top: 15px;
    }

    @keyframes slideTop {
        0% {
            margin-bottom: -25px;
        }

        100% {
            margin-bottom: 0;
        }
    }

    @keyframes bounceIn {
        0% {
            transform: scale(0.75, 0.75);
        }

        100% {
            transform: scale(1.0, 1.0);
        }
    }

    div.conv-form-wrapper div.options div.option:hover {
        background: #eeeeee;
    }

    div.conv-form-wrapper div.options div.option.selected {
        background: #06b79a;
        color: #fff;
    }

    div.conv-form-wrapper div.options div.option.selected:hover {
        background: #069c7f;
    }

    form.convFormDynamic button.submit {
        padding: 3px;
        border: none;
        float: left;
        margin: 5px;
        color: #06c5a6;
        cursor: pointer;
        border-radius: 8px;
        font-size: 1.1rem;
        width: 36px;
        height: 35px;
        margin-top: 4px;
        background: #fff;
        outline: none !important;
    }

    form.convFormDynamic button.submit:hover {
        background: #06b79a;
        color: #fff;
    }

    button.submit.glow {
        box-shadow: 0 0 10px 5px rgba(6, 197, 166, 0.4);
    }

    .no-border {
        border: none !important;
    }

    .dragscroll {
        cursor: grab;
    }

    div.conv-form-wrapper div#messages::-webkit-scrollbar, div#feed ul::-webkit-scrollbar {
        width: 0px;
        /* remove scrollbar space */
        background: transparent;
        /* optional: just make scrollbar invisible */
    }

    span.clear {
        display: block;
        clear: both;
    }

    .spinLoader,
    .spinLoader:before,
    .spinLoader:after {
        background: #fff !important;
        -webkit-animation: spinLoaderChat 1s infinite ease-in-out;
        animation: spinLoaderChat 1s infinite ease-in-out;
        width: 1em;
        height: 4em;
    }

    .spinLoader {
        color: #fff !important;
        text-indent: -9999em;
        margin: 50% auto;
        position: relative;
        font-size: 11px;
        -webkit-transform: translateZ(0);
        -ms-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-animation-delay: -0.16s;
        animation-delay: -0.16s;
    }

    .spinLoader:before,
    .spinLoader:after {
        position: absolute;
        top: 0;
        content: '';
    }

    .spinLoader:before {
        left: -1.5em;
        -webkit-animation-delay: -0.32s;
        animation-delay: -0.32s;
    }

    .spinLoader:after {
        left: 1.5em;
    }

    @-webkit-keyframes spinLoaderChat {

        0%,
        80%,
        100% {
            box-shadow: 0 0;
            height: 4em;
        }

        40% {
            box-shadow: 0 -2em;
            height: 5em;
        }
    }

    @keyframes spinLoaderChat {

        0%,
        80%,
        100% {
            box-shadow: 0 0;
            height: 4em;
        }

        40% {
            box-shadow: 0 -2em;
            height: 5em;
        }
    }

    .col-sm-6.col-sm-offset-3.col-xs-offset-0 {
        padding-left: 20px;
        padding-right: 20px;
    }

    /* //chatbot */
    /* hire */
    #hire {
        min-height: 34vh;
        position: relative;
    }

    #hire .title_group {
        position: absolute;
        top: 66%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 343px
    }

    #hire .title_group h6 a {
        font-size: 30px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 0.93;
        letter-spacing: -0.5px;
        color: #262626;
        margin-bottom: 14px;
        position: relative;
        width: 186px;
        text-decoration: none;
    }

    #hire .title_group p {
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.75;
        letter-spacing: normal;
        color: #262626;
    }

    #hire .title_group .num {
        background: #ffbc00;
        font-size: 18px;
        font-weight: 900;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.56;
        letter-spacing: normal;
        color: #2b2b2b;
        padding: 0 10px;
        border-radius: 20px;
        position: absolute;
        right: -24px;
        top: -7px;
    }

    #hire .title_group img {
        width: 30px;
        margin: 0 auto;
        display: block;
        padding: 20px 0 0;
    }

    /* //hire */
    /* about */
    #about {}

    .about_content {
        padding-top: 40px;
        overflow: hidden;
    }

    .about_content:first-child {
        padding-top: 0
    }

    .about_content .ab_title {
        font-size: 20px;
        font-weight: 900;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.4;
        letter-spacing: normal;
        color: #222;
        padding-bottom: 20px;
        margin: 0;
    }

    .about_content .ab_title_p {
        font-size: 15px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.47;
        letter-spacing: normal;
        color: #222222;
        margin: 0 0 20px;
    }

    .about_content .ab_title::after {
        content: "";
        width: 7px;
        height: 7px;
        border-radius: 100%;
        background: #ffbc00;
        display: inline-block;
        margin-bottom: 11px;
        margin-left: 4px;
    }

    .about_content .ab_txt {
        width: 28%;
        margin-right: 8%;
        float: left;
    }

    .about_content .ab_txt:last-child {
        margin-right: 0
    }

    .about_content .ab_txt img {
        width: 100%;
    }

    .about_content .ab_txt p {
        margin: 17px 0 0;
        font-size: 15px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.2;
        letter-spacing: normal;
        text-align: center;
        color: #222;
    }

    .about_content .ab_txt2 {
        padding: 70px 0;
        text-align: center;
    }

    .about_content .ab_txt2 h6 {
        font-size: 15px;
        font-weight: 900;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.47;
        letter-spacing: normal;
        text-align: center;
        color: #303030;
        background: #ffbc00;
        padding: 2px 8px;
        display: inline;
        border-radius: 20px;
    }

    .about_content .ab_txt2 p {
        font-size: 15px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.33;
        letter-spacing: normal;
        text-align: center;
        color: #2b2b2b;
        margin: 10px 0 0;
    }

    .about_content .ab_txt2 img {
        margin-top: 12px;
        width: 80%;
    }

    .about_content .ab_txt3 {
        overflow: hidden;
        padding: 30px 0;
        border-bottom: 1px solid #ddd;
    }

    .about_content .ab_txt3 h6 {
        font-size: 15px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.47;
        letter-spacing: normal;
        color: #2b2b2b;
        float: left;
        width: 40%;
    }

    .about_content .ab_txt3 p {
        font-size: 15px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.6;
        letter-spacing: normal;
        color: #303030;
        float: left;
    }

    .about_content .ab_txt4 {
        margin: 30px 0 0;
        width: 45%;
        margin-right: 10%;
        float: left;
    }

    .about_content .ab_txt4 a {
        text-decoration: none;
    }

    .about_content .ab_txt4:nth-child(2n-1) {
        margin-right: 0;
    }

    .about_content .ab_txt4 img {
        width: 100%;
    }

    .about_content .ab_txt4 h6 {
        font-size: 15px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.47;
        letter-spacing: normal;
        text-align: center;
        color: #222;
        font-weight: bold;
        margin-top: 12px;
        margin-bottom: 0;
    }

    .about_content .ab_txt4 p {
        font-size: 15px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.47;
        letter-spacing: normal;
        text-align: center;
        color: #222;
    }

    /* //about */
    /* works */
    #work .swiper_wrap {
        position: relative;
    }

    #work .swiper_wrap::before {
        content: "";
        display: inline-block;
        width: 120%;
        height: 45%;
        background: #f3f3f3;
        position: absolute;
        left: -10%;
        bottom: -30px;
        z-index: -1;
    }

    #work .ct_inner {
        position: relative;
        padding-top: 50px;
    }

    #work .swiper-pagination2.swiper-pagination-bullets {
        top: -30px;
        right: 0;
        width: 98px;
        height: auto;
        position: absolute;
    }

    #work .swiper-pagination-bullet {
        width: 6px;
        height: 6px;
        display: inline-block;
        border-radius: 100%;
        background: #000;
        opacity: .2;
        margin-left: 8px
    }

    #work .swiper-pagination-bullet-active {
        opacity: 1
    }

    #work .swiper-slide {
        width: 100%;
        height: auto;
        position: relative;
        text-align: left;
        background: transparent;
    }

    #work .swiper-slide a {
        text-decoration: none;
    }

    #work .swiper-slide img {
        width: 100%;
        border-radius: 10px;
        filter: brightness(50%)
    }

    #work .swiper-slide .swiper_title2 {
        font-size: 20px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: #fff;
        position: absolute;
        left: 20px;
        top: 20px;
    }

    #work .swiper-slide .swiper_title2_p {
        font-size: 15px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.47;
        letter-spacing: normal;
        color: #fff;
        position: absolute;
        left: 20px;
        bottom: 20px;
    }

    #work .swiper-container-android .swiper-slide, .swiper-wrapper {
        transform: none;
        background-color: transparent;
    }

    .work_content {
        padding-top: 70px;
        overflow: hidden;
    }

    .work_content .work_title {
        font-size: 20px;
        font-weight: 900;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.4;
        letter-spacing: normal;
        color: #222;
        padding-bottom: 20px;
        margin: 0;
    }

    .work_content .work_title::after {
        content: "";
        width: 7px;
        height: 7px;
        border-radius: 100%;
        background: #ffbc00;
        display: inline-block;
        margin-bottom: 11px;
        margin-left: 4px;
    }

    .work_content .work_txt {
        width: 45%;
        margin-right: 10%;
        float: left;
    }

    .work_content .work_txt:nth-child(2n-1) {
        margin-right: 0;
    }

    .work_content .work_txt img {
        width: 100%;
    }

    /* //works */
    /* 스와이프 */
    .swiper-container {
        width: 100%;
        height: 100%;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

    .swiper_title {
        border-radius: 0 0 12px 12px;
        background-color: rgba(0, 0, 0, .8);
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin-bottom: 0;
        color: #fff;
        height: 44px;
        line-height: 44px;
    }

    .swiper-slide .img_box {
        position: relative;
        width: 100%;
    }

    .swiper-slide a {
        position: relative;
        width: 100%;
    }

    .swiper-slide img {
        width: 100%;
    }

    .swiper-slide a:focus, .swiper-slide a:hover {
        text-decoration: none !important;
        color: #222
    }

    .swiper-pagination-bullet-active {
        background-color: #ffbc00 !important;
    }

    /* //스와이프 */
    /* //News */
    .news_content {
        overflow: hidden;
        border-bottom: 1px solid #ddd;
        padding: 20px 0;
        font-size: 14px;
        color: #222
    }

    .news_content:first-child {
        padding-top: 0 !important
    }

    .news_content:last-child {
        border-bottom: none !important
    }

    .news_content .thumb_area {
        width: 130px;
        height: 100px;
        background: #414141;
        border-radius: 6px
    }

    .news_content>a {
        float: left;
    }

    .news_content>.segment {
        float: left;
        padding-left: 20px;
        width: calc(100% - 130px);
        height: 100px;
        position: relative;
    }

    .news_content>.segment p {
        font-size: 15px;
        color: #222;
        font-weight: bold;
    }

    .news_content>.segment span {
        display: inline-block;
        position: absolute;
        bottom: 0
    }

    /* //News */
    /* Careers */
    .title_text>h6 {
        font-size: 26px;
        line-height: 28px;
        letter-spacing: -.5px;
        color: #222;
        font-weight: bold;
        margin-top: 0px;
        margin-bottom: 20px;
    }

    .title_text>p {
        font-size: 15px;
        line-height: 22px;
        color: #222;
        margin-bottom: 40px
    }

    .btn_v2 {
        width: 100%;
        margin: 0 auto;
        margin-top: 25px
    }

    .btn_v2>a {
        background: #ffbc00;
        width: 100%;
        display: block;
        text-align: center;
        line-height: 50px;
        border-radius: 8px;
        box-shadow: 1px 4px 14px 0 rgba(180, 180, 180, 0.5);
        color: #222;
        font-size: 15px;
        font-weight: bold;
    }

    #careers {
        position: relative;
    }

    #careers::before {
        content: "";
        display: inline-block;
        width: 100%;
        height: 30%;
        background: #f3f3f3;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: -1;
    }

    #careers .swiper-container {
        padding-bottom: 42px
    }

    /* //Careers */
    /* contact */
    #contact .col-sm-6.col-sm-offset-3.col-xs-offset-0 {
        padding: 0;
    }

    #contact div.conv-form-wrapper div#messages {
        padding-top: 0;
        padding-bottom: 230px;
    }

    #contact div.conv-form-wrapper div#messages div.message.to {
        background: #f3f3f3
    }

    #contact div.conv-form-wrapper div.options div.option {
        font-size: 16px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: center;
        color: #fff;
        width: 90px;
        height: 90px;
        background: #ffbc00;
        vertical-align: middle;
        line-height: 90px;
        padding: 0;
        margin-right: 10px;
    }

    #contact div.conv-form-wrapper div.options div.option:nth-child(1) {
        margin-bottom: 10px;
    }

    #contact div.conv-form-wrapper div.options div.option:nth-child(2) {
        margin-bottom: 10px;
    }

    #contact div.conv-form-wrapper div.options div.option:nth-child(3) {
        margin-bottom: 10px;
    }

    #contact div.conv-form-wrapper div.options div.option:nth-child(3) {
        margin-right: 0;
    }

    #contact div.conv-form-wrapper div.options div.option:nth-child(6) {
        margin-right: 0;
    }

    #contact div.conv-form-wrapper div.options {
        width: 290px;
        white-space: normal;
    }

    /* //contact */
    /* 팝업 */
    [class^="pop-wrap"] {
        overflow: hidden;
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        background: #fff;
        z-index: 10001;

    }

    .pop-header {
        position: relative;
        height: 58px;
        padding-left: 25px;
        color: #000;
        font-size: 22px;
        line-height: 240%;
    }

    .pop-header .btnp-close {
        position: absolute;
        right: 15px;
        top: 15px;
        font-size: 16px;
    }

    .pop-cont {
        padding: 25px;
    }

    .layer-scroll {
        overflow: hidden;
    }

    /* //팝업 */
}

/* -----------------------------//모바일(375px)---------------------------- */
