@charset "utf-8";
@import url("../fonts.css");

/******************************************************
	공통 CSS
******************************************************/
/* * {margin:0; padding:0; border:0; font-size:16px; box-sizing:border-box; font-family: 'SCoreDream', 'NanumSquare', 'Malgun Gothic', 'Dotum', sans-serif; } */
* {margin:0; padding:0; border:0; font-size:17px; box-sizing:border-box; font-family:  'OneShinhan', 'SUIT', sans-serif; font-weight: 400;}
address, caption, cite, code, dfn, em, strong, th, var {font-style :normal; font-weight:normal}
table {border-collapse:collapse;}
a {text-decoration:none; color:inherit; display:inline;}
a:link,
a:visited{text-decoration:none; color:#222;}
a:hover{text-decoration:none; color:#222;}
::-moz-selection {
	background-color: rgba(28,136,237,0.87);
	color: #fff;
}
::selection {
	background-color: rgba(28,136,237,0.87);
	color: #fff;
}

span {display:inline;}
img {vertical-align:middle; border:0;}
ol, ul {list-style:none outside;}
html,body { width:100%; height:100%;}
.notScroll {position:fixed; top:0; left:0;}
input[type=text], input[type=email], input[type=tel], input[type=submit], input[type=password], input[type=image], input[type=button], textarea, select { -webkit-border-radius:0; -moz-appearance:none; -webkit-appearance:none; appearance:none;}
input[type=radio], input[type=checkbox] {-webkit-border-radius:0; -moz-appearance:none; appearance:none;}
input::-ms-clear {display: none;}
input:focus {outline:none;}
select:focus {outline:none;}
textarea:focus {outline:none; border-radius:0; box-shadow: 0;}
select::-ms-expand {display:none}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {-webkit-text-fill-color: #000; -webkit-box-shadow: 0 0 0px 1000px #fff inset; box-shadow: 0 0 0px 1000px #fff inset; transition: background-color 5000s ease-in-out 0s;}

:focus-visible {outline-color:#0068B7;}

input::-webkit-input-placeholder {color:#999; font-size:16px; font-weight:400;}
input::-moz-placeholder {color:#999; font-size:16px; font-weight:400;}
input:-ms-input-placeholder {color:#999; font-size:16px; font-weight:400;}
input:-moz-placeholder {color:#999; font-size:16px; font-weight:400;}
input::placeholder {color:#999; font-size:16px; font-weight:400;}

textarea::-webkit-input-placeholder {color:#999; font-size:16px; font-weight:400;}
textarea::-moz-placeholder {color:#999; font-size:16px; font-weight:400;}
textarea:-ms-input-placeholder {color:#999; font-size:16px; font-weight:400;}
textarea:-moz-placeholder {color:#999; font-size:16px; font-weight:400;}
textarea::placeholder {color:#999; font-size:16px; font-weight:400;}
/**** 공통 CSS END ****/


/* :root {
	--red-color: #df1c23;
	--blue-color: #0094ff;
	--blue-dark-color: #0046ff;
} */

#wrap {min-width: 320px; min-height: 100%; word-break: keep-all; word-wrap: break-word; overflow-wrap: break-word; background-color: #fff;}

.inner {position: relative; width: 1440px; padding: 0 24px; margin: 0 auto;}

.img_alt {position: absolute; top: 0; left: 0; width: 100%; height: 100%;}

header {position: sticky; top: 0; width: 100%; background-color: #fff; z-index: 2;}
header .hd_cont {display: flex; display: -ms-flexbox; align-items: center; -ms-flex-align: center; height: 100px;}
header .hd_cont .logo {}
header .hd_cont .logo img {width: 162px;}

header .hd_cont .gnb {height: 100%; margin-left: auto;}
header .hd_cont .gnb ul {height: 100%;}
header .hd_cont .gnb ul li {position: relative; display: inline-flex; align-items: center; height: 100%;}
header .hd_cont .gnb ul li + li {margin-left: 48px;}
header .hd_cont .gnb ul li::before {position: absolute; bottom: 0; left: 50%; transform: translateX(-50%); content: ''; width: 0; height: 4px; background-color: #0046ff; transition: 0.2s all;}
header .hd_cont .gnb ul li a {display: block; min-width: 74px; height: 100%; padding-top: 35px; font-size: 20px; color: #a1a1a1; font-weight: 400; letter-spacing: -0.025em; text-align: center;}

header .hd_cont .gnb ul li:hover::before {width: 100%;}
header .hd_cont .gnb ul li.on::before {width: 100%;}

header .hd_cont .gnb ul li:hover a {color: #111;}
header .hd_cont .gnb ul li.on a {color: #111;}

header .hd_cont .down_share {display: inline-flex; align-items: center; column-gap: 10px; margin-left: auto;}
header .hd_cont .down_share a {position: relative;}
header .hd_cont .down_share .btn_app_down {display: inline-flex; align-items: center; justify-content: center; width: 180px; height: 60px; background: linear-gradient(90deg, #0094ff, #0071ff 40%, #0046ff); border-radius: 30px; background-color: #0094ff; background-image: linear-gradient(45deg,  #0094ff, #0082ff, #0064ff, #0047fe); background-size: 100%; background-position: left; animation: anime 4s ease-in-out infinite; box-shadow: inset 0 -5px 5px -5px #005bd2, inset -5px 0 5px -5px #0044f9, inset 5px 0 5px -5px #0f96f3;}
header .hd_cont .down_share .btn_app_down p {font-size: 20px; color: #fff; font-weight: 400; letter-spacing: -0.025em;}


header .hd_cont .down_share .btn_share {position: relative; width: 60px; height: 60px;}
header .hd_cont .down_share .btn_share > div {position: relative; width: 60px; height: 60px; background: #eaecef url('../../img/common/icon_share.png') center no-repeat; -ms-border-radius: 100%; -moz-border-radius: 100%; -o-border-radius: 100%; -webkit-border-radius: 100%; border-radius: 100%; cursor: pointer; transition: 0.2s all;}
header .hd_cont .down_share .btn_share ul {display: none; position: absolute; top: 65px; left: 0;}
header .hd_cont .down_share .btn_share ul li {width: 60px; height: 60px; -ms-border-radius: 100%; -moz-border-radius: 100%; -o-border-radius: 100%; -webkit-border-radius: 100%; border-radius: 100%; cursor: pointer; background-color: #f8f8f8; background-position: center; background-repeat: no-repeat; background-size: 100% 100%;}
header .hd_cont .down_share .btn_share ul li + li {margin-top: 5px;}
header .hd_cont .down_share .btn_share ul li.kakao {background-image: url('../../img/common/icon_kakao.png');}
header .hd_cont .down_share .btn_share ul li.fb {background-image: url('../../img/common/icon_fb.png');}
header .hd_cont .down_share .btn_share ul li.copy {background-image: url('../../img/common/icon_copy.png');}

header .hd_cont .down_share .btn_share ul li a {position: relative; display: block; height: 100%;}

header .hd_cont .down_share .btn_share > div.on {background: #ccc url('../../img/common/icon_share_close.png') center no-repeat; }




footer {position: relative; width: 100%; background-color: #e9ebee; border-top: 2px solid #dbdcdf;}
footer .inner {display: flex;}
footer .inner > div {flex: 1; padding: 96px 48px;}
footer .inner > div .box + .box {margin-top: 35px;}
footer .inner > div .box.mt {margin-top: 0;}
footer .inner > div .box h2 {font-size: 28px; color: #111; font-weight: 400; letter-spacing: -0.025em; line-height: 1;}

footer .inner > div .box span {display: block; font-size: 20px; color: #444; font-family: 'SUIT'; font-weight: 500; letter-spacing: -0.055em; line-height: 1.2;}

footer .inner > div .box ul {width: 100%;}
footer .inner > div .box ul li {position: relative; padding-left: 12px; font-size: 16px; color: #444; font-family: 'SUIT'; font-weight: 400; letter-spacing: -0.025em; line-height: 1.5; word-break: keep-all;}
footer .inner > div .box ul li.red {color: #df1c23;}
footer .inner > div .box ul li + li {margin-top: 6px;}
footer .inner > div .box ul li.mt {margin-top: 0;}
footer .inner > div .box ul li::before {position: absolute; top: 9px; left: 0; content: ''; width: 4px; height: 4px; background-color: #666;}
footer .inner > div .box ul li.red::before {background-color: #df1c23;}
footer .inner > div .box ul li br.tab {display: none;}
footer .inner > div .box ul li br.mob {display: none;}

footer .inner > div .box h2 + span {margin-top: 20px;}
footer .inner > div .box span + ul {margin-top: 15px;}
footer .inner > div .box h2 + ul {margin-top: 20px;}


footer .inner > div .notice {margin-top: 35px;}
footer .inner > div .notice p {position: relative; padding-left: 18px; font-size: 16px; color: #888; font-family: 'SUIT'; font-weight: 400; letter-spacing: -0.025em;}
footer .inner > div .notice p::before {position: absolute; left: 0; content: '※'; font-size: 16px; color: #888; font-family: 'SUIT'; font-weight: 400; letter-spacing: -0.025em;}
footer .inner > div .notice p .br {display: none;}


.copyRight {position: relative; display: flex; align-items: center; justify-content: center; width: 100%; background-color: #e9ebee;}
.copyRight > div {padding: 50px 0 96px;}
.copyRight > div p {font-size: 12px; color: #888; font-family: 'SUIT'; font-weight: 400; letter-spacing: -0.025em; line-height: 1.5; text-align: center;}
.copyRight > div p font {font-size: 12px; color: #888; font-family: 'SUIT'; font-weight: 400; letter-spacing: -0.025em; line-height: 1.5;}
.copyRight > div p span {display: inline-block; font-size: 12px; color: #888; font-family: 'SUIT'; font-weight: 400; letter-spacing: -0.025em; line-height: 1.5; margin: 0 5px;}
.copyRight > div p br.mob {display: none;}



@media (max-width: 1439px) {
  .inner {width: auto; padding: 0 20px;}
  footer .inner > div .box ul li br {display: none;}
  footer .inner > div .box ul li br.ess {display: block;}
} 




@media (max-width: 1295px) {

  header .hd_cont {height: 85px;}
  header .hd_cont .logo img {width: 142px;}
  header .hd_cont .gnb ul li + li {margin-left: 38px;}
  header .hd_cont .gnb ul li::before {height: 3px;}
  header .hd_cont .gnb ul li a {min-width: 67px; padding-top: 30px; font-size: 18px;}


  header .hd_cont .down_share .btn_app_down {width: 160px; height: 45px;}
  header .hd_cont .down_share .btn_app_down p {font-size: 18px;}


  header .hd_cont .down_share .btn_share {width: 45px; height: 45px;}
  header .hd_cont .down_share .btn_share > div {width: 45px; height: 45px; background-size: 18px auto;}
  header .hd_cont .down_share .btn_share ul {top: 50px;}
  header .hd_cont .down_share .btn_share ul li {width: 45px; height: 45px;}

  header .hd_cont .down_share .btn_share > div.on {background-size: 18px;}

  

  footer .inner > div {padding: 76px 28px;}
  footer .inner > div .box + .box {margin-top: 30px;}

  footer .inner > div .box h2 {font-size: 26px;}
  footer .inner > div .box span {font-size: 18px;}
  footer .inner > div .box ul li {font-size: 15px;}

  footer .inner > div .box h2 + span {margin-top: 18px;}
  footer .inner > div .box span + ul {margin-top: 12px;}
  footer .inner > div .box h2 + ul {margin-top: 18px;}


  footer .inner > div .box ul li br {display: none;}
  footer .inner > div .box ul li .br {display: block;}
  footer .inner > div .box ul li .br_m {display: block;}

  footer .inner > div .notice {margin-top: 30px;}
  footer .inner > div .notice p {padding-left: 15px; font-size: 15px;}
  footer .inner > div .notice p::before {font-size: 15px;}


  .copyRight > div {padding: 24px 0 48px;}
} 




@media (max-width: 1023px) {
  * {margin:0; padding:0; border:0; font-size:13px; box-sizing:border-box; font-family:  'OneShinhan', 'SUIT', sans-serif; font-weight: 400;}

  header .hd_cont {height: 75px;}
  header .hd_cont .logo img {width: 122px;}
  header .hd_cont .gnb ul li + li {margin-left: 28px;}
  header .hd_cont .gnb ul li::before {height: 3px;}
  header .hd_cont .gnb ul li a {min-width: 60px; padding-top: 25px; font-size: 16px;}


  header .hd_cont .down_share .btn_app_down {width: 140px; height: 40px;}
  header .hd_cont .down_share .btn_app_down p {font-size: 16px;}


  header .hd_cont .down_share .btn_share {width: 40px; height: 40px;}
  header .hd_cont .down_share .btn_share > div {width: 40px; height: 40px; background-size: 16px auto;}
  header .hd_cont .down_share .btn_share ul {top: 45px;}
  header .hd_cont .down_share .btn_share ul li {width: 40px; height: 40px;}
  
  header .hd_cont .gnb ul li:hover::before {width: 0;}
  header .hd_cont .gnb ul li:hover a {color: #a1a1a1;}
  
  header .hd_cont .gnb ul li.on::before {width: 100%!important;}
  header .hd_cont .gnb ul li.on a {color: #111!important;}

  header .hd_cont .down_share .btn_share > div.on {background-size: 16px;}


  footer .inner {column-gap: 30px;}
  footer .inner > div {padding: 40px 0;}
  footer .inner > div .box + .box {margin-top: 25px;}

  footer .inner > div .box h2 {font-size: 22px;}
  footer .inner > div .box span {font-size: 16px;}
  footer .inner > div .box ul li {padding-left: 10px; font-size: 14px;}
  footer .inner > div .box ul li::before {top: 8px; width: 3px; height: 3px;}
  footer .inner > div .box ul li br.tab {display: block;}

  footer .inner > div .box h2 + span {margin-top: 15px;}
  footer .inner > div .box span + ul {margin-top: 10px;}
  footer .inner > div .box h2 + ul {margin-top: 15px;}

  footer .inner > div .notice {margin-top: 25px;}
  footer .inner > div .notice p {padding-left: 14px; font-size: 14px;}
  footer .inner > div .notice p::before {font-size: 14px;}

  .copyRight > div {padding: 20px 0 40px;}
}



@media (max-width: 767px) {
  #wrap {background-color: #f4f5f7;}
  .inner {padding: 0;}

  header .inner {width: 100%; padding: 0;}
  header .hd_cont {position: relative; display: block; height: auto;}
  header .hd_cont .logo {display: block; width: 100%; padding: 4.8vw 6.4vw;}
  header .hd_cont .logo img {width: 36vw;}

  header .hd_cont .gnb {width: 100%; height: auto; padding: 0 6.4vw; border-top: 2px solid #eaeaea; margin-left: 0; text-align: center;}
  header .hd_cont .gnb ul {width: auto; display: inline-flex; align-items: center; height: auto;}
  /* header .hd_cont .gnb {width: 100%; height: auto; padding: 0 6.4vw; border-top: 2px solid #eaeaea; margin-left: 0;} */
  /* header .hd_cont .gnb ul {width: 100%; display: inline-flex; align-items: center; height: auto;} */
  /* header .hd_cont .gnb ul li {flex: 1;} */
  header .hd_cont .gnb ul li + li {margin-left: 6.5vw;}
  header .hd_cont .gnb ul li::before {bottom: 0; height: 3px;}
  header .hd_cont .gnb ul li a {padding: 4vw 0; font-size: 4.5vw; width: 100%; text-align: center;}


  header .hd_cont .down_share {position: absolute; top: 2.5vw; right: 6.4vw; column-gap: 2.5vw;}
  header .hd_cont .down_share .btn_app_down {width: 26.5vw; height: 10.5vw; border-radius: 5.3vw;}
  header .hd_cont .down_share .btn_app_down p {font-size: 3.7vw;}

  header .hd_cont .down_share .btn_share {width: 10.5vw; height: 10.5vw;}
  header .hd_cont .down_share .btn_share > div {width: 10.5vw; height: 10.5vw; background-size: 3vw auto; transition: 0s;}
  header .hd_cont .down_share .btn_share ul {top: 11.5vw;}
  header .hd_cont .down_share .btn_share ul li {width: 10.5vw; height: 10.5vw;}
  header .hd_cont .down_share .btn_share ul li + li {margin-top: 1.5vw;}

  header .hd_cont .down_share .btn_share > div.on {background-size: 3vw auto;}


  footer {background-color: #fff; border-top: 0; margin-top: 2.5vw;}
  footer .inner {flex-direction: column; column-gap: 0; padding: 12vw 6.4vw;}
  footer .inner > div {padding: 0;}
  footer .inner > div .box + .box {margin-top: 8vw;}
  footer .inner > div .box.mt {margin-top: 8vw;}

  footer .inner > div .box h2 {font-size: 4vw; line-height: 1;}
  footer .inner > div .box span {font-size: 3.47vw;}

  footer .inner > div .box h2 + span {margin-top: 4vw;}
  footer .inner > div .box span + ul {margin-top: 2.5vw;}
  footer .inner > div .box h2 + ul {margin-top: 4vw;}

  footer .inner > div .box ul li {font-size: 3.2vw; line-height: 1.4; letter-spacing: -0.05em;}
  footer .inner > div .box ul li::before {top: 1.5vw; width: 0.8vw; height: 0.8vw;}
  footer .inner > div .box ul li + li {margin-top: 1.5vw;}
  footer .inner > div .box ul li.mt {margin-top: 1vw;}
  footer .inner > div .box ul li br.tab {display: none;}
  footer .inner > div .box ul li br.mob {display: block;}
  

  footer .inner > div .notice {margin-top: 8vw;}
  footer .inner > div .notice p {padding-left: 3.2vw; font-size: 3.2vw; line-height: 1.5;}
  footer .inner > div .notice p::before {font-size: 3.2vw;}
  footer .inner > div .notice p .br {display: block;}


  .copyRight {justify-content: flex-start; background-color: #fff;}
  .copyRight > div {padding: 6vw 6.4vw 12vw;}
  .copyRight > div p {font-size: 2.3vw; line-height: 1.6; text-align: left;}
  .copyRight > div p font {display: none;}
  .copyRight > div p span:first-child {display: none;}
  .copyRight > div p span {font-size: 2.3vw; margin: 0 1vw;}
  .copyRight > div p br.mob {display: block;}
}




.container {position: relative; width: 100%; background-color: #f4f5f7; z-index: 1;}

.section {position: relative; width: 100%; padding: 72px 0;}


.section-benefit .benefit_inner {display: grid; grid-template-columns: 1fr 1fr; gap: 24px 24px; align-items: flex-start;}
.section-benefit .benefit01,
.section-benefit .benefit04 {grid-column: 1 / span 2;}

.section-benefit .benefit.mob {display: none;}

.section-benefit .benefit {position: relative; width: 100%; padding: 48px 48px; background-color: #fff; -ms-border-radius: 36px; -o-border-radius: 36px; -moz-border-radius: 36px; -webkit-border-radius: 36px; border-radius: 36px; box-shadow: 0 4px 16px 0 rgba(0,0,0,.05);}

.section-benefit .benefit > .arrow {position: absolute; top: 48px; right: 48px; content: ''; width: 34px; height: 34px; background: url('../../img/index/icon_arrow3.png') center no-repeat; background-size: 100%; cursor: pointer; z-index: 2; transition: 0.3s all;}
.section-benefit .benefit > .arrow.on {transform: rotate(-180deg);}

.section-benefit .benefit h2 {position: relative; font-size: 36px; color: #111; font-weight: 400; letter-spacing: -0.05em; line-height: 1;}

.section-benefit .benefit h2 + ul {margin-top: 44px;}

.section-benefit .benefit ul {width: 100%;}
.section-benefit .benefit ul li {width: 100%;}
.section-benefit .benefit ul li + li {padding-top: 25px; border-top: 1px solid #e0e0e0; margin-top: 25px;}
.section-benefit .benefit ul li a {position: relative;}
.section-benefit .benefit ul li .box_bene {position: relative; display: grid; grid-template-columns: 136px 1fr; column-gap: 25px; align-items: center;}
.section-benefit .benefit ul li .box_bene figure {width: 100%;}
.section-benefit .benefit ul li .box_bene figure img {width: 100%;}
.section-benefit .benefit ul li .box_bene .txt {width: calc(100% - 65px);}
.section-benefit .benefit ul li .box_bene .txt span {display: block; font-size: 20px; color: #111; font-family: 'SUIT'; font-weight: 400; letter-spacing: -0.025em; line-height: 1.3; margin-bottom: 5px;}
.section-benefit .benefit ul li .box_bene .txt h3 {font-size: 30px; color: #111; font-weight: 400; letter-spacing: -0.05em; line-height: 1.3;}
.section-benefit .benefit.benefit04 ul li .box_bene .txt h3 {font-weight: 300;}
.section-benefit .benefit ul li .box_bene .txt h3 strong {font-size: 30px; color: #111; font-weight: 400; letter-spacing: -0.05em; line-height: 1.3;}
.section-benefit .benefit ul li .box_bene .arrow {position: absolute; top: 50%; transform: translateY(-50%); right: 0; content: ''; width: 40px; height: 40px; background: #eaeaea; -ms-border-radius: 100%; -o-border-radius: 100%; -moz-border-radius: 100%; -webkit-border-radius: 100%; border-radius: 100%; overflow: hidden;}
.section-benefit .benefit ul li .box_bene .arrow em {display: block; height: 100%; background: url('../../img/index/icon_arrow.png') center no-repeat;}

.section-benefit .benefit ul li:hover > a .box_bene .txt h3 {color: #0046ff;}
.section-benefit .benefit ul li:hover > a .box_bene .txt h3 strong {color: #0046ff;}
.section-benefit .benefit ul li:hover .box_bene .arrow {background: linear-gradient(to right, #0094ff, #0046ff);}
.section-benefit .benefit ul li:hover .box_bene .arrow em {background: url('../../img/index/icon_arrow_on.png') center no-repeat;}


.section-benefit .benefit.benefit01 ul {display: flex; column-gap: 96px;}
.section-benefit .benefit.benefit01 ul li + li {padding-top: 0; border-top: 0; margin-top: 0;}
.section-benefit .benefit.benefit01 ul li {}



.section-benefit .benefit.benefit04 {padding: 30px 48px;}



.section-benefit .benefit .list {display: flex; column-gap: 24px; margin-top: 44px;}
.section-benefit .benefit .list > div {flex: 1 1 40%;}
.section-benefit .benefit .list > div .box_bene {position: relative; width: 100%; padding: 40px 40px; background-color: #f8f9fb; border-radius: 40px; font-size: 0;}
.section-benefit .benefit .list > div .box_bene .txt {width: 100%;}
.section-benefit .benefit .list > div .box_bene .txt span {display: block; font-size: 20px; color: #111; font-family: 'SUIT'; font-weight: 400; letter-spacing: -0.025em; line-height: 1.3; margin-bottom: 5px;}
.section-benefit .benefit .list > div .box_bene .txt h3 {font-size: 30px; color: #111; font-weight: 400; letter-spacing: -0.05em; line-height: 1.3;}
.section-benefit .benefit .list > div .box_bene figure {position: relative; display: inline-block; width: 136px; margin-top: 30px;}
.section-benefit .benefit .list > div .box_bene figure::before {content: ''; display: block; padding-bottom: 100%;}
.section-benefit .benefit .list > div .box_bene figure img {position: absolute; top: 0; left: 0; width: 100%; height: 100%;}

.section-benefit .benefit .list > div .box_bene .arrow {position: absolute; bottom: 40px; right: 40px; content: ''; width: 40px; height: 40px; background: #eaeaea; -ms-border-radius: 100%; -o-border-radius: 100%; -moz-border-radius: 100%; -webkit-border-radius: 100%; border-radius: 100%; overflow: hidden;}
.section-benefit .benefit .list > div .box_bene .arrow em {display: block; height: 100%; background: url('../../img/index/icon_arrow.png') center no-repeat;}

.section-benefit .benefit .list > div:hover > a .box_bene .txt h3 {color: #0046ff;}
.section-benefit .benefit .list > div:hover > a .box_bene .txt h3 strong {color: #0046ff;}
.section-benefit .benefit .list > div:hover .box_bene .arrow {background: linear-gradient(to right, #0094ff, #0046ff);}
.section-benefit .benefit .list > div:hover .box_bene .arrow em {background: url('../../img/index/icon_arrow_on.png') center no-repeat;}




@media (max-width: 1439px) {

  .container {}

} 



@media (max-width: 1295px) {

  .container {}

  .section {padding: 52px 0;}

  .section-benefit .benefit_inner {gap: 20px 20px}
  
  .section-benefit .benefit {padding: 40px 40px; border-radius: 32px;}

  .section-benefit .benefit > .arrow {top: 40px; right: 40px; width: 32px; height: 32px;}

  .section-benefit .benefit h2 {font-size: 32px;}

  .section-benefit .benefit h2 + ul {margin-top: 34px;}

  .section-benefit .benefit ul li + li {padding-top: 20px; margin-top: 20px;}
  .section-benefit .benefit ul li .box_bene {grid-template-columns: 100px 1fr; column-gap: 20px;}

  .section-benefit .benefit ul li .box_bene .txt {width: calc(100% - 60px);}
  .section-benefit .benefit ul li .box_bene .txt span {font-size: 16px; letter-spacing: -0.05em; margin-bottom: 5px;}
  .section-benefit .benefit ul li .box_bene .txt h3 {font-size: 25px;}
  .section-benefit .benefit ul li .box_bene .txt h3 strong {font-size: 26px;}
  .section-benefit .benefit ul li .box_bene .arrow {width: 40px; height: 40px;}

  .section-benefit .benefit.benefit01 ul {column-gap: 100px;}

  .section-benefit .benefit.benefit04 {padding: 25px 40px;} 



  .section-benefit .benefit .list {column-gap: 20px; margin-top: 34px;}
  .section-benefit .benefit .list > div .box_bene {padding: 36px 36px; border-radius: 32px;}
  .section-benefit .benefit .list > div .box_bene .txt span {font-size: 16px; letter-spacing: -0.05em;}
  .section-benefit .benefit .list > div .box_bene .txt h3 {font-size: 25px;}
  .section-benefit .benefit .list > div .box_bene figure {width: 100px; margin-top: 25px;}

  .section-benefit .benefit .list > div .box_bene .arrow {bottom: 36px; right: 36px;}
}



@media (max-width: 1023px) {

  .container {}

  .section {padding: 40px 0;}


  .section-benefit .benefit {padding: 20px 20px; border-radius: 22px;}
  
  .section-benefit .benefit > .arrow {top: 20px; right: 20px; width: 24px; height: 24px;}
  
  .section-benefit .benefit h2 {font-size: 24px;}
  
  .section-benefit .benefit h2 + ul {margin-top: 25px;}
  
  .section-benefit .benefit ul li + li {padding-top: 20px; margin-top: 20px;}
  .section-benefit .benefit ul li .box_bene {grid-template-columns: 60px 1fr; column-gap: 15px;}
  .section-benefit .benefit02 ul li .box_bene,
  .section-benefit .benefit03 ul li .box_bene {min-height: 77px;}
  
  .section-benefit .benefit ul li .box_bene .txt {width: calc(100% - 45px);}
  .section-benefit .benefit ul li .box_bene .txt span {font-size: 13px; margin-bottom: 4px;}
  .section-benefit .benefit ul li .box_bene .txt h3 {font-size: 19px;}
  .section-benefit .benefit ul li .box_bene .txt h3 strong {font-size: 19px;}
  .section-benefit .benefit ul li .box_bene .arrow {width: 30px; height: 30px; background: #fff;}
  .section-benefit .benefit ul li .box_bene .arrow em {background: url('../../img/index/icon_arrow_on2.png') center no-repeat; background-size: 100%;}
  
  .section-benefit .benefit ul li:hover > a .box_bene .txt h3 {color: #111;}
  .section-benefit .benefit ul li:hover > a .box_bene .txt h3 strong {color: #111;}
  .section-benefit .benefit ul li:hover .box_bene .arrow {background: url('../../img/index/icon_arrow_on2.png') center no-repeat; background-size: 100%;}
  .section-benefit .benefit ul li:hover .box_bene .arrow em {background: url('../../img/index/icon_arrow_on2.png') center no-repeat; background-size: 100%;}
  
  .section-benefit .benefit.benefit01 ul {column-gap: 58px;}
  
  .section-benefit .benefit.benefit04 {padding: 20px 20px;} 



  .section-benefit .benefit .list {column-gap: 18px; margin-top: 25px;}
  .section-benefit .benefit .list > div .box_bene {padding: 20px 20px; border-radius: 20px;}
  .section-benefit .benefit .list > div .box_bene .txt span {font-size: 13px; margin-bottom: 4px;}
  .section-benefit .benefit .list > div .box_bene .txt h3 {font-size: 19px;}
  .section-benefit .benefit .list > div .box_bene figure {width: 60px; margin-top: 20px;}

  .section-benefit .benefit .list > div .box_bene .arrow {width: 30px; height: 30px; bottom: 20px; right: 20px;}

  .section-benefit .benefit .list > div:hover > a .box_bene .txt h3 {color: #111;}
  .section-benefit .benefit .list > div .box_bene .arrow em {background: url('../../img/index/icon_arrow_on2.png') center no-repeat; background-size: 100%;}
  .section-benefit .benefit .list > div:hover .box_bene .arrow {background: url('../../img/index/icon_arrow_on2.png') center no-repeat; background-size: 100%;}
  .section-benefit .benefit .list > div:hover .box_bene .arrow em {background: url('../../img/index/icon_arrow_on2.png') center no-repeat; background-size: 100%;}
}




@media (max-width: 767px) {
  
  /* .container .inner {padding: 12vw 0 0;} */

  .section {padding: 0;}
  

  /* .section-benefit .inner {padding: 0;} */
  .section-benefit .benefit_inner {grid-template-columns: 1fr; gap: 2.5vw 0;}
  .section-benefit .benefit {grid-column: 1; padding: 4.8vw 6.4vw; border-radius: 0;}

  .section-benefit .benefit01,
  .section-benefit .benefit02,
  .section-benefit .benefit04 {display: none;}

  .section-benefit .benefit.mob {display: block;}

  .section-benefit .benefit > .arrow {top: 5.2vw; right: 7.5vw; width: 4vw; height: 4vw;}
  .section-benefit .benefit h2 {font-size: 4.53vw;}
  .section-benefit .benefit h2 + ul {margin-top: 4.8vw;}
    
  .section-benefit .benefit ul li + li {padding-top: 4.8vw; margin-top: 4.8vw;}
  .section-benefit .benefit ul li .box_bene {grid-template-columns: 18vw 1fr; column-gap: 2.5vw;}
  .section-benefit .benefit02 ul li .box_bene,
  .section-benefit .benefit03 ul li .box_bene {min-height: 0;}

  .section-benefit .benefit ul li .box_bene .txt {width: calc(100% - 7vw);}
  .section-benefit .benefit ul li .box_bene .txt span {font-size: 3.7vw; line-height: 1; margin-bottom: 0.5vw;}
  .section-benefit .benefit ul li .box_bene .txt h3 {font-size: 4.8vw; line-height: 1.2;}
  .section-benefit .benefit ul li .box_bene .txt h3 strong {font-size: 4.8vw;}
  .section-benefit .benefit ul li .box_bene .arrow {width: 6.4vw; height: 6.4vw;}

}