html, body {
  height: 100%;
}

body {
  background: url(/wsfd/static/images/bg_body.png) repeat-x left top/auto 100%;
}

body.active {
  overflow: hidden;
}

.is_mobile {
  display: none;
}

.wrap {
  min-height: 100%;
}

#section4 {
  position: relative;
}

.contents {
  position: relative;
}

.contents .bg_img {
  position: relative;
  width: 1920px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.contents .content-img {
  position: absolute;
  left: 50%;
  top: 0;
  width: 1020px;
  height: 100%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.contents .content-img .btn_reserve {
  font-size: 0;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 90px;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-name: slidein;
          animation-name: slidein;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  z-index: 10;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #1c1c1c;
}

.footer .inner {
  padding: 10px 0;
  font-size: 14px;
  line-height: 16px;
  color: #8c8c8c;
  text-align: center;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: url(/wsfd/static/images/bg_header.png) repeat-x top left;
  background-size: auto 100%;
  -webkit-box-shadow: 0px 9px 12px -8px #000;
          box-shadow: 0px 9px 12px -8px #000;
  z-index: 1000;
}

.header .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1020px;
  margin: 0 auto;
}

.header .inner .logo {
  padding-top: 12px;
  margin: 0 auto 0 20px;
}

.header .gnb {
  width: 100%;
}

.header .gnb ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header .gnb li a {
  display: inline-block;
}

.header .gnb li a img.on {
  display: none;
}

.header .gnb li.active a img {
  display: none;
}

.header .gnb li.active a img.on {
  display: block;
}

.inner-content {
  padding-top: 148px;
}

.inner-content .title-img {
  display: inline-block;
  width: 100%;
  margin-bottom: 30px;
  text-align: center;
}

.inner-content .title-img img {
  width: auto;
}

.slider-section {
  padding: 0 128px 0 300px;
}

.slide-wrap::after {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  content: '';
  width: 576px;
  height: 528px;
  background: url(/wsfd/static/images/bg_slide.png) no-repeat left center;
  z-index: 100;
}

.slide-wrap .swiper-wrapper li {
  padding: 32px 22px 14px 26px;
}

.slide-wrap img {
  width: auto;
}

.slide-wrap .button-next {
  position: absolute;
  right: -10px;
  top: 50%;
  -webkit-transform: translateY(-14%);
          transform: translateY(-14%);
  z-index: 200;
  cursor: pointer;
}

.slide-wrap .button-prev {
  position: absolute;
  left: -10px;
  top: 50%;
  -webkit-transform: translateY(-14%);
          transform: translateY(-14%);
  z-index: 200;
  cursor: pointer;
}

.paginatin-wrap {
  position: absolute;
  left: -46px;
  top: 170px;
}

.paginatin-wrap .pagination span {
  display: inline-block;
  position: absolute;
  width: 117px;
  height: 117px;
  border-radius: 0;
  -webkit-transform: rotate(136deg);
          transform: rotate(136deg);
  background: none;
  font-size: 0;
  background-color: #8248a5;
  opacity: .2;
}

.paginatin-wrap .pagination span:nth-child(1) {
  top: 25px;
  left: 76px;
}

.paginatin-wrap .pagination span:nth-child(2) {
  top: 109px;
  left: 164px;
}

.paginatin-wrap .pagination span:nth-child(3) {
  top: 150px;
  left: 24px;
}

.paginatin-wrap .pagination span:nth-child(4) {
  top: 234px;
  left: 112px;
}

.paginatin-wrap .pagination span:nth-child(5) {
  top: 324px;
  left: 202px;
}

.paginatin-wrap .pagination span:nth-child(6) {
  top: 357px;
  left: 62px;
}

.paginatin-wrap .pagination span:nth-child(7) {
  bottom: 77px;
  left: 152px;
}

.paginatin-wrap .pagination span:nth-child(8) {
  bottom: 27px;
  left: 22px;
}

.paginatin-wrap .pagination span.swiper-pagination-bullet-active {
  opacity: 0;
}

.input-section {
  max-width: 680px;
  margin: 0 auto;
  padding: 36px 42px 45px 14px;
  background: url(/wsfd/static/images/bg_reserve.png) no-repeat left top;
}

.input-section .input-set {
  position: relative;
  padding-right: 186px;
}

.input-section .input-set label {
  font-size: 18px;
  line-height: 50px;
  color: #fff;
  font-weight: bold;
}

.input-section .input-set input {
  width: 100%;
  height: 52px;
  border: none;
  background-color: #8248a587;
  font-size: 18px;
  line-height: 50px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  border: none;
  outline: none;
}

.input-section .input-set input::-webkit-input-placeholder {
  font-size: 18px;
  line-height: 50px;
  color: #fff;
  font-weight: bold;
}

.input-section .input-set input:-ms-input-placeholder {
  font-size: 18px;
  line-height: 50px;
  color: #fff;
  font-weight: bold;
}

.input-section .input-set input::-ms-input-placeholder {
  font-size: 18px;
  line-height: 50px;
  color: #fff;
  font-weight: bold;
}

.input-section .input-set input::placeholder {
  font-size: 18px;
  line-height: 50px;
  color: #fff;
  font-weight: bold;
}

.input-section .input-set button {
  position: absolute;
  right: 14px;
  top: 0;
  width: 152px;
  font-size: 18px;
  line-height: 20px;
  color: #1c1c1c;
  padding: 16px 0 16px 14px;
  -moz-background-inline-policy: 14px;
  background: url(/wsfd/static/images/bg_reserve_btn.png) repeat-x left top;
}

.input-section .input-set button::after {
  display: block;
  content: "";
  position: absolute;
  right: -13px;
  top: 0;
  width: 13px;
  height: 52px;
  background: url(/wsfd/static/images/bg_btn_right.png) no-repeat center;
}

.input-section .bottom-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 20px 0 18px;
}

.input-section .platform .box {
  display: block;
  position: relative;
}

.input-section .platform .box input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  opacity: 0;
  cursor: pointer;
}

.input-section .platform .box input:checked + span {
  background-color: #d4bcff;
}

.input-section .platform .box input:checked + span::after {
  background: url(/wsfd/static/images/bg_checkbox_on.png) no-repeat center;
}

.input-section .platform .box span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 194px;
  font-size: 18px;
  line-height: 20px;
  padding: 7px 0;
  margin-right: 36px;
  background-color: #9481c7;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.input-section .platform .box span i {
  margin-right: 12px;
}

.input-section .platform .box span::after {
  display: block;
  position: absolute;
  right: 0px;
  top: 0;
  width: 38px;
  height: 34px;
  content: '';
  background: url(/wsfd/static/images/bg_checkbox.png) no-repeat center;
}

.input-section .platform .box + .box {
  margin-top: 6px;
}

.input-section .agree-wrap {
  width: 100%;
  margin-left: 64px;
}

.input-section .agree-wrap .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input-section .agree-wrap .box button {
  width: 88px;
  margin-left: auto;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  border: 1px solid #8948a5;
  background-color: rgba(181, 158, 243, 0.3);
}

.input-section .agree-wrap .box + .box {
  margin-top: 6px;
}

.input-section .agree-wrap .checkbox {
  position: relative;
}

.input-section .agree-wrap .checkbox input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  margin: 0;
  cursor: pointer;
}

.input-section .agree-wrap .checkbox input:checked + label {
  background: url(/wsfd/static/images/btn_checkbox_on.png) no-repeat left center;
}

.input-section .agree-wrap .checkbox label {
  display: inline-block;
  padding-left: 30px;
  line-height: 22px;
  background: url(/wsfd/static/images/btn_checkbox.png) no-repeat left center;
}

.input-section .agree-wrap .checkbox label span {
  display: inline-block;
  font-size: 14px;
  line-height: 22px;
  color: #fff;
}

.pack-wrap {
  max-width: 680px;
  margin: 0 auto;
}

.pop-wrap {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2000;
}

.pop-wrap > div {
  position: relative;
  top: -90px;
  display: none;
}

.pop-wrap > div.active {
  display: block;
}

.pop-wrap > div button {
  position: absolute;
  left: 18%;
  bottom: 22%;
  width: 22%;
  height: 11%;
  font-size: 0;
}

.pop-wrap > div button.privacy {
  left: 43%;
  bottom: 10%;
  width: 14%;
  height: 5%;
}

.pop-wrap > div button.event {
  left: 41%;
  bottom: 13%;
  width: 17%;
  height: 6%;
}

.pop-wrap > div button.result {
  right: 6%;
  top: 8%;
  width: 22%;
  height: 8%;
  left: auto;
  bottom: auto;
}

.pop-wrap > div .link {
  position: absolute;
  width: 28%;
  height: 9%;
  left: 18%;
}

.pop-wrap > div .link.link01 {
  bottom: 35%;
}

.pop-wrap > div .link.link02 {
  bottom: 23%;
}

.pop-wrap > div .link.link03 {
  bottom: 12%;
}

.pop-wrap.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section .visual {
  position: absolute;
}

.section .title {
  position: absolute;
  z-index: 10;
}

#section0 .visual {
  right: -212px;
  bottom: 0;
  max-width: 947px;
}

#section0 .title {
  left: -60px;
  top: 240px;
  width: 645px;
}

#section2 .text {
  position: relative;
  width: 70%;
  z-index: 10;
}

#section2 .visual {
  right: -100px;
  bottom: 150px;
  max-width: 600px;
}

@-webkit-keyframes slidein {
  30% {
    bottom: 70px;
  }
  75% {
    bototm: 80px;
  }
  100% {
    bototm: 90px;
  }
}

@keyframes slidein {
  30% {
    bottom: 70px;
  }
  75% {
    bototm: 80px;
  }
  100% {
    bototm: 90px;
  }
}

@media (max-width: 764px) {
  .is_pc {
    display: none;
  }
  .is_mobile {
    display: block;
  }
  .top-btn {
    position: fixed;
    right: 20px;
    top: 20px;
  }
  .top-btn img {
    width: 30px;
  }
  @-webkit-keyframes slidein {
    30% {
      bottom: 55px;
    }
    75% {
      bototm: 53px;
    }
    100% {
      bototm: 50px;
    }
  }
  @keyframes slidein {
    30% {
      bottom: 55px;
    }
    75% {
      bototm: 53px;
    }
    100% {
      bototm: 50px;
    }
  }
  .footer .inner {
    padding: 10px 0;
    font-size: 12px;
    line-height: 16px;
  }
  .btn_menu {
    position: fixed;
    left: 20px;
    top: 20px;
  }
  .btn_menu img {
    width: 30px;
  }
  .mobile-menu {
    display: none;
    position: relative;
    z-index: 100;
  }
  .mobile-menu.active {
    display: block;
  }
  .mobile-menu .close_menu {
    position: absolute;
    right: 2%;
    top: 2%;
    width: 11%;
    height: 5%;
  }
  .mobile-menu a {
    display: block;
    position: absolute;
    left: 36%;
    top: 38%;
    width: 29%;
    height: 5%;
    font-size: 0;
  }
  .mobile-menu a.menu2 {
    top: 48%;
  }
  .mobile-menu a.menu3 {
    top: 58%;
  }
  .mobile-menu a.menu4 {
    top: 68%;
  }
  .header {
    background: none;
  }
  .header .inner {
    display: none;
  }
  .contents {
    height: 100%;
  }
  .contents .bg_img {
    width: 100%;
  }
  .contents .content-img {
    width: 100%;
    height: 100%;
    left: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .contents .content-img .btn_reserve {
    bottom: 90px;
  }
  .inner-content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    padding: 17% 6% 0 6%;
  }
  .inner-content .title-img {
    margin-bottom: 40%;
  }
  .inner-content .title-img img {
    width: 68%;
  }
  .slide-wrap img {
    width: 100%;
  }
  .slide-wrap::after {
    width: 100%;
    height: 100%;
    background-size: 100%;
  }
  .slide-wrap .swiper-wrapper li {
    padding: 4% 4% 2% 6%;
  }
  .slide-wrap .button-next img, .slide-wrap .button-prev img {
    width: 42px;
    height: auto;
  }
  .slider-section {
    padding: 0 10%;
  }
  .paginatin-wrap {
    position: relative;
    left: 0;
    top: 0;
    margin-top: 14px;
    width: 80%;
    margin: 2% 10% 0 10%;
  }
  .paginatin-wrap .pagination span {
    width: 15%;
    height: 47%;
  }
  .paginatin-wrap .pagination span:nth-child(1) {
    top: 9%;
    left: 4%;
  }
  .paginatin-wrap .pagination span:nth-child(2) {
    top: 42%;
    left: 14%;
  }
  .paginatin-wrap .pagination span:nth-child(3) {
    top: 9%;
    left: 26%;
  }
  .paginatin-wrap .pagination span:nth-child(4) {
    top: 42%;
    left: 37%;
  }
  .paginatin-wrap .pagination span:nth-child(5) {
    top: 9%;
    left: 48%;
  }
  .paginatin-wrap .pagination span:nth-child(6) {
    top: 42%;
    left: 59%;
  }
  .paginatin-wrap .pagination span:nth-child(7) {
    top: 9%;
    bottom: auto;
    left: 70%;
  }
  .paginatin-wrap .pagination span:nth-child(8) {
    top: 42%;
    bottom: auto;
    left: 82%;
  }
  .input-section {
    background: none;
    background-size: 100%;
    padding: 0;
    position: relative;
  }
  .input-section .input-set {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 0;
  }
  .input-section .input-set input {
    position: absolute;
    left: 2%;
    top: 15%;
    width: 60%;
    height: 18%;
    font-size: 12px;
    line-height: 24px;
  }
  .input-section .input-set input::-webkit-input-placeholder {
    font-size: 14px;
  }
  .input-section .input-set input:-ms-input-placeholder {
    font-size: 14px;
  }
  .input-section .input-set input::-ms-input-placeholder {
    font-size: 14px;
  }
  .input-section .input-set input::placeholder {
    font-size: 14px;
  }
  .input-section .input-set button {
    position: absolute;
    right: 7%;
    top: 15%;
    height: 22%;
    width: 26%;
    font-size: 0;
    padding: 0;
    background: none;
  }
  .input-section .input-set button::after {
    display: none;
  }
  .input-section .bottom-wrap {
    left: 0;
    top: 0;
    display: block;
    padding: 0;
  }
  .input-section .platform {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    width: 100%;
    height: 100%;
  }
  .input-section .platform .box {
    position: absolute;
    right: 52%;
    top: 43%;
    width: 43%;
    height: 19%;
  }
  .input-section .platform .box input:checked + span {
    background: url(/wsfd/static/images/btn_ios_on.png) no-repeat left center/100%;
  }
  .input-section .platform .box + .box {
    margin: 0;
    right: 7%;
    top: 43%;
  }
  .input-section .platform .box + .box input:checked + span {
    background: url(/wsfd/static/images/btn_android_on.png) no-repeat left center/100%;
  }
  .input-section .platform .box + .box span {
    background: url(/wsfd/static/images/btn_android.png) no-repeat left center/100%;
  }
  .input-section .platform .box span {
    width: 100%;
    height: 100%;
    margin: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 0;
    background: url(/wsfd/static/images/btn_ios.png) no-repeat left center/100%;
  }
  .input-section .platform .box span i {
    display: none;
  }
  .input-section .platform .box span::after {
    display: none;
  }
  .input-section .agree-wrap {
    margin: 0;
  }
  .input-section .agree-wrap .box {
    position: absolute;
    left: 5%;
    bottom: 25%;
    width: 43%;
    height: 10%;
  }
  .input-section .agree-wrap .box .checkbox {
    width: 100%;
    height: 100%;
  }
  .input-section .agree-wrap .box input:checked + label {
    background: url(/wsfd/static/images/img_agree01_on.png) no-repeat center/100%;
  }
  .input-section .agree-wrap .box label {
    width: 100%;
    height: 100%;
    background: url(/wsfd/static/images/img_agree01.png) no-repeat center/100%;
  }
  .input-section .agree-wrap .box label span {
    font-size: 0;
    line-height: 0;
  }
  .input-section .agree-wrap .box button {
    position: absolute;
    right: 0%;
    top: 0;
    width: 29%;
    height: 89%;
    font-size: 0;
    border: none;
    background: none;
  }
  .input-section .agree-wrap .box + .box {
    left: auto;
    right: 8%;
  }
  .input-section .agree-wrap .box + .box input:checked + label {
    background: url(/wsfd/static/images/img_agree02_on.png) no-repeat center/100%;
  }
  .input-section .agree-wrap .box + .box label {
    background: url(/wsfd/static/images/img_agree02.png) no-repeat center/100%;
  }
  .pop-wrap {
    position: fixed;
    padding: 0 10%;
  }
  .pop-wrap > div {
    position: relative;
    top: 0;
  }
  #section0 .logo {
    position: absolute;
    left: 50%;
    width: 50%;
    height: auto;
    bottom: 25%;
    z-index: 30;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  #section0 .visual {
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 1;
  }
  #section0 .title {
    left: -2%;
    top: 8%;
    width: 60%;
  }
  #section2 .text {
    position: absolute;
    width: 90%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: auto;
    top: 38%;
  }
  #section2 .visual {
    width: 80%;
    right: -33px;
    top: 22%;
    bottom: auto;
    max-width: 600px;
    width: 94%;
  }
  #section3 .inner-content .title-img {
    margin-bottom: 5%;
  }
}
/*# sourceMappingURL=style.css.map */