html, body { height: 100%; }

html { font-size: 10px; min-height: 100%; }

body { background-color: #f5f5f5; }

.wrapper { position: relative; max-width: 2000px; min-width: 1320px; margin: 0 auto; }

.header { position: absolute; left: 50%; top: 0; width: 1300px; -webkit-transform: translateX(-50%); transform: translateX(-50%); z-index: 1000; }

.header .logo { display: block; width: 100%; height: 100%; }

.footer { background-color: #f5f5f5; }

.footer .inner { width: 1100px; margin: 0 auto; padding: 30px 0; }

.footer .title { display: inline-block; padding-bottom: 4px; line-height: 30px; font-size: 20px; margin-bottom: 10px; color: #333; font-family: 'Noto Sans KR'; font-weight: 800; }

.footer .dot { position: relative; color: #64666c; font-size: 14px; line-height: 23px; padding-left: 8px; font-weight: 500; color: #666; font-family: 'Noto Sans KR'; font-weight: 400; }

.footer .dot::after { position: absolute; left: 0; top: 11px; width: 4px; height: 1px; content: ""; display: block; background-color: #666; }

.footer .top { display: -webkit-box; display: -ms-flexbox; display: flex; }

.footer .top span { margin-left: auto; font-size: 16px; color: #64666c; font-family: 'Noto Sans KR'; font-weight: 500; }

.footer .bottom { padding-top: 60px; }

.footer .bottom > strong { font-size: 16px; color: #555; font-family: 'Noto Sans KR'; font-weight: 800; }

.footer .bottom p { margin-top: 2px; font-size: 16px; line-height: 20px; color: #808080; font-family: 'Noto Sans KR'; font-weight: 400; }

.footer .bottom .text-list { margin-top: 12px; }

.footer .bottom .text-list span { display: inline-block; font-size: 16px; color: #808080; font-family: 'Noto Sans KR'; font-weight: 400; }

.footer .bottom .text-list span.bold { font-weight: 600; }

.footer .bottom .text-list span + span { margin-left: 16px; }

.section01 { position: relative; }

.section01::after { width: 50%; position: absolute; left: 0; top: 0; height: 100%; content: ""; background: #add6b7; }

.section01::before { width: 50%; position: absolute; right: 0; top: 0; height: 100%; content: ""; background: #ddece1; }

.section { position: relative; width: 50%; }

.section img { position: relative; z-index: 10; }

.section .text-box { position: absolute; right: 0; top: 0; width: 650px; height: 100%; text-align: left; padding: 240px 0 0 14px; }

.section .text-box strong { position: relative; font-weight: 900; font-size: 67px; line-height: 84px; color: #204a38; text-shadow: 4px 6px 3px #92b99b; -webkit-transition: all .2s; transition: all .2s; z-index: 10; }

.section .text-box p { position: relative; z-index: 10; margin: 6px 0 136px 0; font-size: 21px; line-height: 28px; color: #484e4c; }

.section .text-box p span { position: relative; font-weight: 700; z-index: 10; }

.section .text-box p::after { display: block; position: absolute; left: -6px; bottom: -2px; width: 200px; height: 24px; background-color: #83cf96; content: ""; }

.section .text-box::after { display: block; position: absolute; left: 0; top: 0; width: 100%; height: 100%; content: ""; -webkit-transition: all .5s; transition: all .5s; }

.section a { position: relative; z-index: 10; display: inline-block; width: 258px; height: 55px; padding-left: 52px; color: #fff; font-size: 19px; line-height: 60px; background: url(../img/arrow.png) no-repeat right 10px center #064429; background-size: 10px auto; text-decoration: none; -webkit-transition: all .2s; transition: all .2s; }

.section a span { font-weight: 600; }

.section a:after { display: block; position: absolute; left: 0; bottom: 12px; width: 45px; height: 60px; content: ""; background: url(../img/calcul-left.png) no-repeat center/cover; }

.section.remove .text-box { padding-top: 320px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

.section.remove .text-box strong { font-size: 53px; line-height: 57px; }

.section.remove p { display: none; }

.section.remove a { width: 178px; height: 36px; margin-top: 114px; padding-left: 37px; line-height: 36px; font-size: 13px; }

.section.remove a::after { width: 30px; height: 40px; background-size: cover; bottom: 6px; }

.section.show { z-index: 100; }

.section.show .slide-section { opacity: 1; }

.section.show .text-box::after { width: calc(100% + 472px); }

.left-section { padding: 155px 30px 0 0; text-align: right; background-color: #add6b7; }

.left-section .text-box::after { background-color: #add6b7; }

.left-section .slide-section .item-wrap + .item-wrap { padding: 90px 0 80px 24px; }

.left-section .slide-section .item-wrap + .item-wrap .item { padding-left: 60px; }

.left-section.remove .text-box { left: 274px; }

.left-section.show .slide-section { padding: 250px 12px 0 0; }

.right-section { padding: 160px 0 0 30px; background-color: #ddece1; }

.right-section .slide-section { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; right: auto; left: -472px; padding: 0; -webkit-box-shadow: -12px 0 12px -6px rgba(0, 0, 0, 0.38); box-shadow: -12px 0 12px -6px rgba(0, 0, 0, 0.38); }

.right-section .slide-section .item-wrap { width: 456px; height: 134px; margin: 0; }

.right-section .slide-section .item-wrap .item { padding: 20px 0 20px 112px; background-size: 74px auto; }

.right-section .slide-section .item-wrap .item p { color: #464f4c; letter-spacing: 1px; }

.right-section .slide-section .item-wrap + .item-wrap { margin-top: 6px; }

.right-section.remove .text-box { left: auto; right: 274px; }

.right-section.show .slide-section { padding: 252px 0 0 16px; }

.right-section.show .text-box::after { left: -472px; background-color: #ddece1; }

.text-wrap { display: -webkit-box; display: -ms-flexbox; display: flex; width: 1300px; margin: 0 auto; }

.text-wrap .inner { position: relative; width: 50%; padding: 160px 27px 0 34px; text-align: right; background-color: #add6b7; }

.text-wrap .inner img { position: relative; z-index: 10; }

.text-wrap .inner::after { background: #add6b7; left: 0; -webkit-box-shadow: 12px 0 12px -6px rgba(0, 0, 0, 0.38); box-shadow: 12px 0 12px -6px rgba(0, 0, 0, 0.38); }

.text-wrap .inner + .inner { text-align: left; background-color: #ddece1; }

.text-wrap .inner + .inner::after { background: #ddece1; left: auto; right: 0; -webkit-box-shadow: -12px 0 12px -6px rgba(0, 0, 0, 0.38); box-shadow: -12px 0 12px -6px rgba(0, 0, 0, 0.38); }

.text-wrap .inner + .inner .text-box { text-align: right; right: auto; padding: 240px 14px 0; text-align: right; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; }

.text-wrap .inner + .inner .text-box strong { color: #262626; text-shadow: 4px 6px 3px #b5cac8; }

.text-wrap .inner + .inner .text-box p { color: #636363; }

.text-wrap .inner + .inner .text-box p::after { left: auto; right: -12px; background-color: #b3e8d7; }

.text-wrap .inner + .inner .text-box a { text-align: left; background-color: #00854a; }

.text-wrap .inner + .inner .text-box a::after { background: url(../img/calcul-right.png) no-repeat center/cover; }

.text-wrap .inner.remove .text-box { padding-top: 320px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

.text-wrap .inner.remove .text-box strong { font-size: 53px; line-height: 57px; }

.text-wrap .inner.remove p { display: none; }

.text-wrap .inner.remove a { width: 178px; height: 36px; margin-top: 114px; padding-left: 37px; line-height: 36px; font-size: 13px; }

.text-wrap .inner.remove a::after { width: 30px; height: 40px; background-size: cover; bottom: 6px; }

.text-wrap .inner.show { z-index: 100; }

.text-wrap .inner.show::after { width: calc(100% + 452px); }

.text-wrap .inner.show .slide-section { opacity: 1; }

.text-wrap .inner::after { display: block; position: absolute; right: 0; top: 0; width: 100%; height: 100%; content: ""; -webkit-transition: all .9s; transition: all .9s; }

.text-wrap .text-box { position: absolute; left: 0; top: 0; width: 100%; height: 100%; padding: 240px 0 0 14px; text-align: left; }

.text-wrap .text-box strong { position: relative; font-weight: 900; font-size: 67px; line-height: 84px; color: #204a38; text-shadow: 4px 6px 3px #92b99b; -webkit-transition: all .5s; transition: all .5s; z-index: 10; }

.text-wrap .text-box p { position: relative; z-index: 10; margin: 6px 0 136px 0; font-size: 21px; line-height: 28px; color: #484e4c; }

.text-wrap .text-box p span { position: relative; font-weight: 700; z-index: 10; }

.text-wrap .text-box p::after { display: block; position: absolute; left: -6px; bottom: -2px; width: 200px; height: 24px; background-color: #83cf96; content: ""; }

.text-wrap .text-box::after { display: block; position: absolute; left: 0; top: 0; width: 100%; height: 100%; content: ""; -webkit-transition: all .1s; transition: all .1s; }

.text-wrap .text-box a { position: relative; z-index: 10; display: inline-block; width: 258px; height: 55px; padding-left: 52px; color: #fff; font-size: 19px; line-height: 60px; background: url(../img/arrow.png) no-repeat right 10px center #064429; background-size: 10px auto; text-decoration: none; -webkit-transition: all .2s; transition: all .2s; }

.text-wrap .text-box a span { font-weight: 600; }

.text-wrap .text-box a:after { display: block; position: absolute; left: 0; bottom: 12px; width: 45px; height: 60px; content: ""; background: url(../img/calcul-left.png) no-repeat center/cover; }

.slide-section { display: -webkit-box; display: -ms-flexbox; display: flex; width: 472px; position: absolute; left: 630px; top: 0; height: 100%; padding: 250px 12px 0 12px; z-index: 1; opacity: 0; -webkit-transition: all 1s ease-in-out; transition: all 1s ease-in-out; }

.slide-section.right { left: 0; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; right: auto; left: -452px; }

.slide-section.right .item-wrap { width: 456px; height: 134px; margin: 0; }

.slide-section.right .item-wrap .item { padding: 20px 0 20px 112px; background-size: 74px auto; }

.slide-section.right .item-wrap .item p { color: #464f4c; letter-spacing: 1px; }

.slide-section.right .item-wrap + .item-wrap { margin-top: 6px; }

.item-wrap { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -ms-flex-pack: distribute; justify-content: space-around; width: 50%; height: 420px; padding-left: 22px; border-radius: 15px; border: 1px solid #617766; }

.item-wrap + .item-wrap { margin-left: 10px; }

.item-wrap .item { padding: 4px 0 4px 64px; text-align: left; }

.item-wrap .item.item01 { background: url(../img/item01.png) no-repeat left center; background-size: 50px auto; }

.item-wrap .item.item02 { background: url(../img/item02.png) no-repeat left center; background-size: 50px auto; }

.item-wrap .item.item03 { background: url(../img/item03.png) no-repeat left center; background-size: 50px auto; }

.item-wrap .item.item04 { background: url(../img/item04.png) no-repeat left center; background-size: 50px auto; }

.item-wrap .item.item05 { background: url(../img/item05.png) no-repeat left center; background-size: 50px auto; }

.item-wrap .item.item06 { background: url(../img/item06.png) no-repeat left center; background-size: 50px auto; }

.item-wrap .item.item07 { background: url(../img/item07.png) no-repeat left center; background-size: 50px auto; }

.item-wrap .item.item08 { background: url(../img/item08.png) no-repeat left center; background-size: 50px auto; }

.item-wrap .item p { font-size: 16px; line-height: 20px; font-weight: 800; color: #4b4b49; }

.item-wrap .item p strong { color: #e95318; font-weight: 800; }

.item-wrap .item span { display: inline-block; font-size: 16px; line-height: 18px; letter-spacing: -1px; opacity: .6; }
/*# sourceMappingURL=style.css.map */