.box_event .text_cont .button .btn {
  width: 460px;
}

.section01 {
  background-color: #f4f5f7;
}

.section02 {
  background-color: #e7f4ff;
}

.section02 .box_event .slide_cont .slide {
  padding: 0;
  overflow: hidden;
}

.section02 .box_event .slide_cont .slide .img .box_ani {
  padding-top: 114.2%;
}

.textCheck li {
  margin-top: 40px;
}

.textCheck li strong {
  display: inline-block;
  padding-left: 36px;
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 18px;
  color: #0046ff;
  background: url(../../img/common//icon_check.png) no-repeat left center;
}

.textCheck li p {
  font-size: 16px;
  line-height: 26px;
  color: #444444;
  font-family: 'SUIT';
  font-weight: 400;
}

@media (max-width: 1023px) {
  .box_event .text_cont .button {
    width: 100%;
  }

  .box_event .text_cont .button .btn {
    width: 300px;
    height: 60px;
    line-height: 60px;
  }

  .textCheck li {
    margin-top: 20px;
  }

  .textCheck li strong {
    padding-left: 20px;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 32px;
    background-size: 16px;
  }

  .textCheck li p {
    font-size: 14px;
    line-height: 20px;
  }
}

@media (max-width: 767px) {

  .box_event .slide_cont .slide .txt h2 {
    letter-spacing: -0.3vw;
  }

  .box_event .slide_cont .slide .txt .notice p {
    font-size: 3.3vw;
  }

  footer .inner>div .box ul li.red {
    letter-spacing: -0.07em;
  }

  .textCheck li:first-child {
    margin-top: 0;
  }

  .textCheck {
    padding-bottom: 12vw;
  }

  .textCheck li strong {
    padding-left: 5vw;
    margin-bottom: 2.7vw;
    font-size: 4.5vw;
    line-height: 1;
    background-size: 3.3vw;
    letter-spacing: -0.025em;
  }

  .textCheck li p {
    font-size: 3.3vw;
    line-height: 1.5;
  }
}