/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
    font-family:'Apple SD Gothic Neo' ,'Noto Sans KR';
    font-weight: 400;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
img{
	vertical-align: top;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a[href^="tel"]{
	color:inherit;
	font-size: inherit;
	font-weight: inherit;
	text-decoration: none;
}
em {
    font-style: italic;
}

@font-face {
    font-family: 'Apple SD Gothic Neo';
    font-style: normal;
    font-weight: 100;
    src: local('Apple SD Gothic Neo Thin'),
        url('../fonts/100_AppleSDGothicNeo-Thin.woff2') format('woff2'),
        url('../fonts/100_AppleSDGothicNeo-Thin.eot') format('eot'),
        url('../fonts/100_AppleSDGothicNeo-Thin.otf') format('opentype');
}

@font-face {
    font-family: 'Apple SD Gothic Neo';
    font-style: normal;
    font-weight: 200;
    src: local('Apple SD Gothic Neo UltraLight'),
        url('../fonts/200_AppleSDGothicNeo-UltraLight.woff2') format('woff2'),
        url('../fonts/200_AppleSDGothicNeo-UltraLight.eot') format('eot'),
        url('../fonts/200_AppleSDGothicNeo-UltraLight.otf') format('opentype');
}

@font-face {
    font-family: 'Apple SD Gothic Neo';
    font-style: normal;
    font-weight: 300;
    src: local('Apple SD Gothic Neo Light'),
        url('../fonts/300_AppleSDGothicNeo-Light.woff2') format('woff2'),
        url('../fonts/300_AppleSDGothicNeo-Light.eot') format('eot'),
        url('../fonts/300_AppleSDGothicNeo-Light.otf') format('opentype');
}

@font-face {
    font-family: 'Apple SD Gothic Neo';
    font-style: normal;
    font-weight: 400;
    src: local('Apple SD Gothic Neo Medium'),
        url('../fonts/400_AppleSDGothicNeo-Medium.woff2') format('woff2'),
        url('../fonts/400_AppleSDGothicNeo-Medium.eot') format('eot'),
        url('../fonts/400_AppleSDGothicNeo-Medium.otf') format('opentype');
}

@font-face {
    font-family: 'Apple SD Gothic Neo';
    font-style: normal;
    font-weight: 500;
    src: local('Apple SD Gothic Neo Regular'),
        url('../fonts/500_AppleSDGothicNeo-Regular.woff2') format('woff2'),
        url('../fonts/500_AppleSDGothicNeo-Regular.eot') format('eot'),
        url('../fonts/500_AppleSDGothicNeo-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Apple SD Gothic Neo';
    font-style: normal;
    font-weight: 600;
    src: local('Apple SD Gothic Neo SemiBold'),
        url('../fonts/600_AppleSDGothicNeo-SemiBold.woff2') format('woff2'),
        url('../fonts/600_AppleSDGothicNeo-SemiBold.eot') format('eot'),
        url('../fonts/600_AppleSDGothicNeo-SemiBold.otf') format('opentype');
}

@font-face {
    font-family: 'Apple SD Gothic Neo';
    font-style: normal;
    font-weight: 700;
    src: local('Apple SD Gothic Neo Bold'),
        url('../fonts/700_AppleSDGothicNeo-Bold.woff2') format('woff2'),
        url('../fonts/700_AppleSDGothicNeo-Bold.eot') format('eot'),
        url('../fonts/700_AppleSDGothicNeo-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'Apple SD Gothic Neo';
    font-style: normal;
    font-weight: 800;
    src: local('Apple SD Gothic Neo ExtraBold'),
        url('../fonts/800_AppleSDGothicNeo-ExtraBold.woff2') format('woff2'),
        url('../fonts/800_AppleSDGothicNeo-ExtraBold.eot') format('eot'),
        url('../fonts/800_AppleSDGothicNeo-ExtraBold.otf') format('opentype');
}

@font-face {
    font-family: 'Apple SD Gothic Neo';
    font-style: normal;
    font-weight: 900;
    src: local('Apple SD Gothic Neo Heavy'),
        url('../fonts/900_AppleSDGothicNeo-Heavy.woff2') format('woff2'),
        url('../fonts/900_AppleSDGothicNeo-Heavy.eot') format('eot'),
        url('../fonts/900_AppleSDGothicNeo-Heavy.otf') format('opentype');
}