$green : #057a44;
$white: #fff;
html {
    font-size: 10px;
}
.header {
    position: absolute;
    left:0;
    top:0;
    width:100%;
    z-index: 1;
    .logo {
        display: block;
        width:100%;
        height:100%;
    }
}
.footer {
    background-color: #f4f4f4;
    .inner {
        width:1200px;
        margin:0 auto;
        padding:50px 0;
    }
    .title {
        display: inline-block;
        padding-bottom:4px;
        line-height: 30px;
        font-size: 22px;
        margin-bottom:20px;
        color:#505258;
        padding-left:32px;
        background:url(../img/icon_dot.png) no-repeat left center;
        font-family: 'Noto Sans KR';
        font-weight: 800;
    }
    .dot {
        position: relative;
        color:#64666c;
        font-size: 16px;
        line-height: 23px;
        padding-left:8px;
        font-weight: 500;
        letter-spacing: -0.5px;
        font-family: 'Noto Sans KR';
        font-weight: 400;
        &::after {
            position: absolute;
            left:0;
            top:10px;
            width:3px;
            height:3px;
            content: "";
            display:block;
            background-color: #64666c;
        }
    }
    .top {
        display: flex;
        span {
            margin-left: auto;
            font-size: 16px;
            color:#64666c;
            font-family: 'Noto Sans KR';
            font-weight: 500;
        }
    }
    .bottom {
        padding-top:60px;
       > strong {
            font-size: 22px;
            color:#555;
            font-family: 'Noto Sans KR';
            font-weight: 800;
        }
        p{
            margin-top:8px;
            font-size: 18px;
            line-height: 20px;
            color:#808080;
            font-family: 'Noto Sans KR';
            font-weight: 400;
        }
        .text-list{
            margin-top:24px;
            span {
                display: inline-block;
                font-size: 17px;
                color:#808080;
                font-family: 'Noto Sans KR';
                font-weight: 400;
                &.bold {
                    font-weight: 600;
                }
                + span {
                    margin-left:50px;
                }
            }
        }
    }
}

.section01 {
    position: relative;
    overflow: hidden;
    >.inner {
        position: relative;
        width:1200px;
        margin:0 auto;
    }
    .visual {
        position: relative;
        left:50%;
        width:1920px;
        transform: translateX(-50%);
    }
    .text-wrap {
        position: absolute;
        right:0;
        top:130px;
        text-align: right;
    }
    .title {
        display:inline-block;
        margin-bottom:68px;
        font-size:80px;
        line-height:82px;
        color:$green;
        font-weight: 800;
    }
}
.section02 {
    display: flex;
    max-width: 1200px;
    margin:0 auto;
    padding-bottom:60px;
}
.box-wrap {
    display:flex;
    .text-box {
        position: relative;
        width:320px;
        height:310px;
        padding:10px;
        border-radius: 20px;
        text-align: center;
        background-color: #098664;
        box-shadow: 5px 2px 6px 3px #97d8c4;
        border:1px solid #098664;
        + .text-box {
            margin-left:28px;
        }
        .hover-box {
            position: absolute;
            left:0;
            top:0;
            width:100%;
            height:100%;
            padding:68px 28px 28px;
            background:url(../img/icon_s_car.png) no-repeat left 20px top 20px;
            opacity: 0;
            transition: all .2s ease-in-out;
            &.bike {
                background:url(../img/icon_s_bike.png) no-repeat left 20px top 20px;
            }
            .desc {
                font-size: 20px;
                line-height:25px;
                color:#495a55;
                text-align: left;
                strong {
                    font-weight: 800;
                }
                span {
                    display:inline-block;
                    margin-top:4px;
                    font-size: 29px;
                    line-height: 30px;
                    font-weight: 800;
                    color:#098664;
                }
                + .desc {
                    margin-top:20px;
                }
            }
        }
        .inner {
            width:100%;
            height:100%;
            padding:26px 10px 20px 10px;
            border-radius: 20px;
            border:1px solid #0cb389;
            .desc {
                margin-top:16px;
                margin-bottom: 25px;
                font-size:18px;
                line-height:22px;
                color:$white;
                span {
                    font-weight: 700;
                }
            }
        }
        .icon {
            display: inline-block;
            width:100px;
            height:100px;
            border-radius: 100%;
            
            box-shadow: 0px 0px 2px 3px #bfdfd6;
            &.car {
                background:url('../img/icon_car.png') no-repeat center $white;
            }
            &.bike {
                background:url('../img/icon_bike.png') no-repeat center $white;;
            }
        }
        .link {
            position: absolute;
            left:20px;
            bottom:30px;
            display: flex;
            align-items: center;
            justify-content: center;
            width:calc(100% - 40px);
            padding:16px 0 12px 0;
            font-size: 27px;
            line-height:28px;
            color:$white;
            font-weight: 800;
            text-decoration: none;
            text-shadow: 1px 2px 1px rgba(0,0,0, .2);
            border-radius: 10px;
            background: $white;
            background: #098664;
            z-index: 10;
            span {
                display: inline-block;
                padding-right:30px;
                font-size: 27px;
                line-height:28px;
                color:$white;
                font-weight: 800;
                background:url(../img/arrow-right.png) no-repeat right  top 2px;
            }
            
        }
        &:hover {
            background-color:$white;
            .inner {
                opacity: 0;
                .icon,
                .desc {
                    display:none;
                }
            }
            .link {
                box-shadow: 1px 2px 1px rgba(0,0,0, .2);
            }
            .hover-box {
                opacity: 1;
            }
        }
    }
}
.left-text {
    padding-top:52px;
    span {
        display: inline-block;
        margin-bottom: 10px;
        font-size: 30px;
        line-height: 32px;
        color:#535353;
    }
    p {
        font-size: 45px;
        line-height:50px;
        color:#424f4c;
        font-weight: 700;
        strong {
            color:#098664;
            font-weight: 800;
        }
    }
    a {
        display: flex;
        align-items: center;
        width:328px;
        margin-top:68px;
        padding:20px 0 16px 32px;
        font-size: 27px;
        line-height:28px;
        color:$white;
        font-weight: 800;
        text-decoration: none;
        text-shadow: 1px 2px 1px rgba(0,0,0, .2);
        border-radius: 10px;
        background:url(../img/arrow-right.png) no-repeat right 20px  center #098664;
    }
}
.right-text {
    padding-top:34px;
    margin-left:auto;
}
.icon-list {
    display:flex;
    max-width: 760px;
    flex-wrap: wrap;
    margin-top:-30px;
    li {
        width:25%;
        margin-top:30px;
        padding-top:60px;
        text-align: center;
        @each $obj in item01,item02,item03,item04,item05,item06,item07,item08 {
            &.#{$obj}{
                background: url(../img/#{$obj}.png) no-repeat center top;
            }
        }
        p {
            font-size:18px;
            line-height: 22px;
            color:#535353;
            strong {
                font-weight: 600;
            }
            .point {
                display: inline-block;
                margin-left: 6px;
                font-weight: 800;
                color:#098664;
            }
            .sub {
                display: inline-block;
                width:100%;
                margin-top:8px;
                font-size: 15px;
                color:#8d8d8d;
                line-height:18px;
                font-weight: 400;
            }
        }
    }
}