$blue : #0084d4;
$black : #000;
$white : #fff;

.wrapper {
    min-width: 800px;
    margin:0 auto;
}

.header-wrap {
    position: absolute;
    left:0;
    top:0;
    width:100%;
    .header {
        display: flex;
        max-width: 1040px;
        align-items: center;
        margin: 0 auto;
        .shingan-img {
            margin-left:auto;
        }
    }
}
.footer {
    padding:40px 0;
    background-color: #9f9f9f;
    p {
        max-width: 800px;
        margin:0 auto;
        font-size:14px;
        line-height:22px;
        color:#fff;
        white-space: pre-line;
        font-family: 'AppleSDGothicNeo', 'Noto Sans KR', sans-serif;
    }
}

.content-wrap {
    background:#fdecd4;
    .content-inner {
        position: relative;
        padding-top:142px;
        margin:0 auto;
        &::after {
            display: inline-block;
            position: absolute;
            bottom: 264px;
            left:-268px;
            width:420px;
            height:420px;
            content: "";
            background: url(../img/img_sun.png) no-repeat center;
            
        }
        .title {
            text-align: center;
            strong {
                font-size:65px;
                line-height: 80px;
                font-family: "OneShinhanBold";
                color:#512810;
                letter-spacing: -1px;
            }
            span {
                color:#fb682d;
                font-family: "OneShinhanBold";
                i {
                    position: relative;
                    font-family: "OneShinhanMedium";
                    &::after {
                        display:block;
                        position: absolute;
                        left:50%;
                        transform: translateX(-50%);
                        top:-6px;
                        width:8px;
                        height: 8px;
                        background-color: #f9f307;
                        content: "";
                        border-radius: 100%;
                    }
                }
            }
        }
    }
}
.product-info {
    position: relative;
    display: flex;
    margin-top:40px;
    max-width: 800px;
    margin: 40px auto 0 auto;
    padding-bottom: 84px;
    z-index: 10;
    .tit {
        position: absolute;
        left:0;
        top:0;
        width:100%;
        color:#fff;
        z-index: 10;
        text-align: center;
        border-radius: 15px 15px 0 0 ;
        background-color: #d7ac86;
        strong {
            display: inline-block;
            padding:10px 54px;
            font-size:32px;
            line-height:48px;
            font-family: "OneShinhanBold";
            background: url(../img/img_tit_sun.png) no-repeat left center;
        }
    }
    .box {
        position: relative;
        width:100%;
        .inner {
            text-align: center;
            padding:94px 0 24px 0;
            background-color: $white;
            border-radius: 15px 15px;
            box-shadow: 1px 5px 0px -1px #d6d6d6;
            .tit-text {
                display: inline-block;
                margin-bottom: 30px;
                padding-bottom: 5px;
                font-size:35px;
                line-height:44px;
                font-family:"OneShinhanBold";
                border-bottom: 2px solid;
            }
            ul {
                display:flex;
                li {
                    width:33.33%;
                    p {
                        padding-top:94px;
                        font-size:27px;
                        line-height: 22px;
                        color:#333;
                        font-family: 'GmarketSansBold';
                        span {
                            display: inline-block;
                            font-size: 13px;
                            line-height: 18px;
                            font-family: 'GmarketSansMedium';
                            color:#818181;
                        }
                    }
                    + li {
                        position: relative;
                        &::after{
                            position: absolute;
                            left:0;
                            top:26px;
                            width:2px;
                            height:86px;
                            content: "";
                            background-color:#eaeaea ;
                        }
                    }
                    @each $obj in icon01, icon02,icon03 {
                        &.#{$obj}{
                            p {
                                background: url(../img/#{$obj}.png) no-repeat center top;
                            }
                        }
                    }
                }
            }
        }
    }
    .link-wrap {
        display: flex;
        margin-top:36px;
        .link {
            display: inline-block;
            padding:18px 0 16px 0;
            width:50%;
            text-align: center;
            font-size: 28px;
            line-height: 34px;
            text-decoration: none;
            border-radius: 20px;
            font-family: 'GmarketSansMedium';
            color:#fff;
            background: url(../img/img_left_arrow.png) no-repeat right 30px center #fb682d;
            strong {
                font-size:38px;
                line-height: 40px;
                font-family: 'GmarketSansBold';
                font-weight: bold;
            }
            + .link {
                margin-left:16px;
                background: url(../img/img_right_arrow.png) no-repeat right 30px center #fd9e08;
            }
        }
    }
}
.notice-wrap {
    padding:84px 0 88px 0;
    background-color: #f2f2f2;
    .inner-box {
        display: flex;
        flex-wrap: wrap;
        max-width: 800px;
        margin: 0 auto;
        background-color: #fff;
        border-radius: 20px;
        > .box {
            width:100%;
            padding:44px 36px 54px 36px;
            text-align: center;
            > strong {
                display: inline-block;
                margin-bottom: 32px;
                padding-bottom: 4px;
                font-size:32px;
                font-family: "OneShinhanBold";
                border-bottom: 2px solid;
                color:#f65c1f;
                border-color:#f65c1f;
                font-weight: bold;
            }
        }
        .text-box {
            font-size:16px;
            line-height: 24px;
            color: #000;
            white-space: pre-line;
            text-align: left;
            font-family: 'AppleSDGothicNeo', 'Noto Sans KR', sans-serif;
            transform: skew(-0.1deg);
            .desc {
                font-size: 16px;
                line-height:26px;
                font-family: 'AppleSDGothicNeo', 'Noto Sans KR', sans-serif;
                transform: skew(-0.1deg);
                letter-spacing: -2.5px;
            }
            span {
                font-family: 'AppleSDGothicNeo', 'Noto Sans KR', sans-serif;
            }
            strong {
                display: inline-block;
                margin-bottom: 6px;
                font-family: 'AppleSDGothicNeo', 'Noto Sans KR', sans-serif;
                transform: skew(-0.1deg);
                width: 100%;
                font-size: 16px;
                line-height:26px;
                color:#f65c1f;
                font-weight: bold;
            }
        }
        .bottom {
            position: relative;
            width: 100%;
            padding:50px 0 50px 36px;
            strong {
                display: inline-block;
                margin-bottom: 6px;
                font-family: 'AppleSDGothicNeo', 'Noto Sans KR', sans-serif;
                width: 100%;
                font-size: 16px;
                line-height:26px;
                color:#000;
                font-weight: bold;
            }
            p {
                position: relative;
                padding-left: 8px;
                font-size: 16px;
                line-height: 24px;
                color:#000;
                white-space: pre-line;
                font-family: 'AppleSDGothicNeo', 'Noto Sans KR', sans-serif;
                &::after {
                    display:block;
                    position: absolute;
                    left:0;
                    top:0px;
                    content: "·";
                    font-size: 16px;
                    line-height: 24px;
                    color:#000;
                    font-family: 'AppleSDGothicNeo', 'Noto Sans KR', sans-serif;
                }
            }
            &::after {
                display:block;
                position: absolute;
                left:36px;
                top:0px;
                width:calc(100% - 72px);
                height:1px;
                content: "";
                background-color: #b2b2b2;
            }
            .num {
                margin-top:50px;
                &::after{
                    display: none;
                }
            }
        }
    }
}