<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/reset.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <title>소녀배틀 사전예약</title>
</head>
<body>
    <div class="wrap">
        <header class="header">
            <div class="inner">
                <h1 class="logo">
                    <a href="/wsfd/static/main.html">
                        <img src="/wsfd/static/images/img_logo.png" alt="소녀배틀">
                    </a>
                </h1>
                <div class="gnb">
                    <ul>
                        <li>
                            <a href="/wsfd/static/reserve.html">사전예약</a>
                        </li>
                        <li>
                            <a href="/wsfd/static/birth.html">탄생 is</a>
                        </li>
                        <li>
                            <a href="/wsfd/static/anima.html">아니마 is</a>
                        </li>
                        <li>
                            <a href="/wsfd/static/cafe.html">공식카페</a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
        <!-- :: end header-->
        <div class="contents">
            <div class="content-img">
                <img src="/wsfd/static/images/img_cafe.jpg" class="bg_img" alt="아니마들의 달콤살벌한 전투가시작된다!">
                <a href="reserve.html" class="btn_reserve">
                    사전예약
                    <img src="/wsfd/static/images/btn_cafe.png" alt="공식카페 바로가기">
                </a>
            </div>
        </div>
        <!-- :: end contents-->
        <footer class="footer">
            <div class="inner">
                ©2021 ITOXI, INC. 모든 권리는 ㈜아이톡시에 있습니다.
            </div>
        </footer>
        <!-- :: end footer-->
    </div>
</body>
</html>