<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta property="og:image" content="/wsfd/static/images/thumbnail.jpg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="/wsfd/static/css/reset.css" rel="stylesheet">
    <link href="/wsfd/static/css/style.css" rel="stylesheet">
    <link href="/wsfd/static/css/swiper.css" rel="stylesheet">
    <link href="/wsfd/static/css/jquery.fullPage.css" rel="stylesheet">
    <link href="/wsfd/static/css/aos.css" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="16x16" href="/wsfd/static/images/favicon-16x16.png">
    <!-- Global site tag (gtag.js) - Google Ads: 10807641461 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-10807641461"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'AW-10807641461');
    </script>
    <script>
        gtag('event', 'page_view', {
            'send_to': 'AW-10807641461',
            'value': 'replace with value',
            'items': [{
                'id': 'replace with value',
                'location_id': 'replace with value',
                'google_business_vertical': 'custom'
            }]
        });
    </script>
    <script>
        function gtag_report_conversion(url) {
            var callback = function () {
                if (typeof(url) != 'undefined') {
                window.location = url;
                }
            };
            gtag('event', 'conversion', {
                'send_to': 'AW-10807641461/mQ9UCO6lhIMDEPWKvqEo',
                'value': 1.0,
                'currency': 'KRW',
                'event_callback': callback
            });
            return false;
            }
    </script>
    <!-- Event snippet for 예약 conversion page -->
    <script>
        gtag('event', 'conversion', {
            'send_to': 'AW-10807641461/mQ9UCO6lhIMDEPWKvqEo',
            'value': 1.0,
            'currency': 'KRW'
        });
    </script>
    <script type="text/javascript" src="//image.cauly.co.kr/script/conv/caulytracker.js"></script>
    <!-- Facebook Pixel Code -->
    <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window, document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '258995936263193');
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=258995936263193&ev=PageView&noscript=1"/></noscript>
        <!-- End Facebook Pixel Code -->
        
    <title>소녀배틀:스위트 하트</title>
</head>
<style>
    @media (max-width: 764px) { 
        #section0 .title { left:6%}
        .mobile-menu a.menu2 {top:38%}
        .mobile-menu a.menu3 {top:48%}
        .mobile-menu a.menu4 {top:58%}
    }
</style>
<body>
    <div class="wrap">
        <header class="header">
            <button type="button" class="btn_menu is_mobile">
                <img src="/wsfd/static/images/btn_menu.png" alt="">
            </button>
            <div class="mobile-menu is_mobile">
                <img src="/wsfd/static/images/img_mobile_menu2.png" alt="">
                <button type="button" class="close_menu"></button>
                <a href="#3rdPage" class="menu2">탄생 is</a>
                <a href="#4thpage" class="menu3">아니마 is</a>
                <a href="#5thpage" class="menu4">공식카페</a>
            </div>
            <div class="inner">
                <h1 class="logo">
                    <a href="#firstPage">
                        <img src="/wsfd/static/images/img_logo.png" alt="소녀배틀">
                    </a>
                </h1>
                <div class="gnb" id="menu">
                    <ul>
                        <li data-menuanchor="3rdPage">
                            <a href="#3rdPage">
                                <img src="/wsfd/static/images/img_menu02.png" alt="탄생is">
                                <img src="/wsfd/static/images/img_menu02_on.png"  class="on"alt="탄생is">
                            </a>
                        </li>
                        <li data-menuanchor="4thpage">
                            <a href="#4thpage">
                                <img src="/wsfd/static/images/img_menu03.png" alt="아니마is">
                                <img src="/wsfd/static/images/img_menu03_on.png" class="on" alt="아니마is">
                            </a>
                        </li>
                        <li data-menuanchor="5thpage">
                            <a  href="#5thpage">
                                <img src="/wsfd/static/images/img_menu04.png" alt="공식카페">
                                <img src="/wsfd/static/images/img_menu04_on.png" class="on" alt="공식카페">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
        <!-- :: end header-->
        <div id="fullpage">
            <div class="section" id="section0" name="section0">
                <div class="contents">
                    <img src="/wsfd/static/images/img_section01_bg.png" class="bg_img is_pc" alt="아니마들의 달콤살벌한 전투가시작된다!">
                    <img src="/wsfd/static/images/img_reserve_m.jpg" class="bg_img is_mobile" alt="아니마들의 달콤살벌한 전투가시작된다!">
                    <div class="content-img">
                        <a href="https://apps.apple.com/kr/app/id1593198586" class="link01 link"></a>
                        <a href="https://play.google.com/store/apps/details?id=com.itoxi.girlsbattle" class="link02 link"></a>
                        <a href="http://onesto.re/0000759075" class="link03 link"></a>
                        <div class="is_pc inner">
                            <img src="/wsfd/static/images/img_section01_title2.png" data-aos="fade-right" data-aos-duration="2000" alt="" class="title">
                            <img src="/wsfd/static/images/img_section01_visual.png" data-aos="fade-left" data-aos-duration="2000" alt="" class="visual">
                        </div>
                        <div class="is_mobile inner">
                            <img src="/wsfd/static/images/img_section01_visual_m.png" data-aos="fade-left" data-aos-duration="2000" alt="" class="visual">
                            <img src="/wsfd/static/images/img_section01_logo_m.png"  class="logo" alt="logo"/>
                            <img src="/wsfd/static/images/img_section01_title2_m.png" data-aos="fade-right" data-aos-duration="2000" alt="" class="title">
                            <img src="/wsfd/static/images/img_sns_m.png" data-aos="fade-right" data-aos-duration="2000" alt="" class="sns">
                        </div>
                    </div>
                </div>
            </div>
            <div class="section" id="section2" name="section2">
                <div class="contents">
                    <img src="/wsfd/static/images/img_section03_bg_m.png" class="bg_img is_mobile" alt="아니마들의 달콤살벌한 전투가시작된다!">
                    <img src="/wsfd/static/images/img_section03_bg.png" class="bg_img is_pc" alt="아니마들의 달콤살벌한 전투가시작된다!">
                    <div class="content-img">
                        <div class="inner-content">
                            <strong class="title-img" data-aos="fade-right" data-aos-duration="2000">
                                <img src="/wsfd/static/images/img_section03_title.png" alt="" data-aos="fade-left" data-aos-duration="2000">
                            </strong>
                            <img src="/wsfd/static/images/img_section03_text.png" class="text is_pc" alt="" data-aos="fade-left" data-aos-duration="2000">
                            <img src="/wsfd/static/images/img_section03_text.png" class="text is_mobile" alt="" data-aos="fade-left" data-aos-duration="2000">
                            <img src="/wsfd/static/images/img_section03_visual.png" class="visual" alt=""data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" data-aos-duration="3000">
                        </div>
                    </div>
                </div>
            </div>
            <div class="section" id="section3" name="section3">
                <div class="contents">
                    <img src="/wsfd/static/images/img_anima.jpg" class="bg_img is_pc" alt="아니마들의 달콤살벌한 전투가시작된다!">
                    <img src="/wsfd/static/images/img_anima_m.jpg" class="bg_img is_mobile" alt="아니마들의 달콤살벌한 전투가시작된다!">
                    <div class="content-img">
                        <div class="inner-content">
                            <strong class="title-img" data-aos="fade-right" data-aos-duration="2000">
                                <img src="/wsfd/static/images/img_title_slide.png" alt="" data-aos="fade-left" data-aos-duration="2000">
                            </strong>
                            <div class="slider-section" data-aos="fade-right" data-aos-duration="2000">
                                <div class="swiper-container slide-wrap">
                                    <ul class="swiper-wrapper">
                                        <li class="swiper-slide">
                                            <img src="/wsfd/static/images/img_slide01.png" alt="">
                                        </li>
                                        <li class="swiper-slide">
                                            <img src="/wsfd/static/images/img_slide02.png" alt="">
                                        </li>
                                        <li class="swiper-slide">
                                            <img src="/wsfd/static/images/img_slide03.png" alt="">
                                        </li>
                                        <li class="swiper-slide">
                                            <img src="/wsfd/static/images/img_slide04.png" alt="">
                                        </li>
                                        <li class="swiper-slide">
                                            <img src="/wsfd/static/images/img_slide05.png" alt="">
                                        </li>
                                        <li class="swiper-slide">
                                            <img src="/wsfd/static/images/img_slide06.png" alt="">
                                        </li>
                                        <li class="swiper-slide">
                                            <img src="/wsfd/static/images/img_slide07.png" alt="">
                                        </li>
                                        <li class="swiper-slide">
                                            <img src="/wsfd/static/images/img_slide08.png" alt="">
                                        </li>
                                    </ul>
                                    <button type="button" class="button-next">
                                        <img src="/wsfd/static/images/next.png" alt="slide next">
                                    </button>
                                    <button type="button" class="button-prev">
                                        <img src="/wsfd/static/images/prev.png" alt="slide prev">
                                    </button>
                                </div>
                            </div>
                            <div class="paginatin-wrap" data-aos="zoom-out-left" data-aos-duration="2000">
                                <img src="/wsfd/static/images/img_page.png" class="is_pc" alt="">
                                <img src="/wsfd/static/images/img_page_m.png" class="is_mobile" alt="">
                                <div class="pagination">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section" id="section4" name="section4">
                <div class="contents">
                    <img src="/wsfd/static/images/img_cafe2.jpg" class="bg_img is_pc" alt="아니마들의 달콤살벌한 전투가시작된다!">
                    <img src="/wsfd/static/images/img_cafe_m2.jpg" class="bg_img is_mobile" alt="아니마들의 달콤살벌한 전투가시작된다!">
                    <div class="content-img">
                        <a href="https://www.facebook.com/girlsbattleM/" class="btn_reserve">
                            공식페이스북
                            <img src="/wsfd/static/images/btn_cafe.png" class="is_pc" alt="공식카페 바로가기">
                            <img src="/wsfd/static/images/btn_cafe_m.png" class="is_mobile" alt="공식카페 바로가기">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- :: end contents-->
        <a href="#firstPage" class="top-btn is_mobile">
            <img src="/wsfd/static/images/btn_top.png" alt="">
        </a>
        <footer class="footer">
            <div class="inner">
                Copyright ⓒ ITOXI 2021. ALL RIGHTS RESERVED
            </div>
        </footer>
        <!-- :: end footer-->
    </div>
</body>
<script src="/wsfd/static/js/jQuery.js"></script>
<script src="/wsfd/static/js/swiper.js"></script>
<script src="/wsfd/static/js/jquery.fullPage.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="/wsfd/static/js/common.js"></script>
<script>
        $('#fullpage').fullpage({
            anchors: ['firstPage', '3rdPage', '4thpage','5thpage'],
            menu: '#menu',
            lazyLoad: true
          });
</script>
</html>

