<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta property="og:image" content="/static/images/thumbnail.jpg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="/static/css/reset.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="/static/css/swiper.css" rel="stylesheet">
    <link href="/static/css/jquery.fullPage.css" rel="stylesheet">
    <link href="/static/css/aos.css" rel="stylesheet">
    <!-- Global site tag (gtag.js) - Google Ads: 10807641461 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-10807641461"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'AW-10807641461');
    </script>
    <script>
        gtag('event', 'page_view', {
            'send_to': 'AW-10807641461',
            'value': 'replace with value',
            'items': [{
                'id': 'replace with value',
                'location_id': 'replace with value',
                'google_business_vertical': 'custom'
            }]
        });
    </script>
    <script>
        function gtag_report_conversion(url) {
            var callback = function () {
                if (typeof(url) != 'undefined') {
                window.location = url;
                }
            };
            gtag('event', 'conversion', {
                'send_to': 'AW-10807641461/mQ9UCO6lhIMDEPWKvqEo',
                'value': 1.0,
                'currency': 'KRW',
                'event_callback': callback
            });
            return false;
            }
    </script>
    <!-- Event snippet for 예약 conversion page -->
    <script>
        gtag('event', 'conversion', {
            'send_to': 'AW-10807641461/mQ9UCO6lhIMDEPWKvqEo',
            'value': 1.0,
            'currency': 'KRW'
        });
    </script>
    <script type="text/javascript" src="//image.cauly.co.kr/script/conv/caulytracker.js"></script>
    <!-- Facebook Pixel Code -->
    <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window, document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '258995936263193');
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=258995936263193&ev=PageView&noscript=1"/></noscript>
        <!-- End Facebook Pixel Code -->
        
    <title>소녀배틀 사전예약</title>
</head>
<body>
    <div class="wrap">
        <header class="header">
            <button type="button" class="btn_menu is_mobile">
                <img src="/static/images/btn_menu.png" alt="">
            </button>
            <div class="mobile-menu is_mobile">
                <img src="/static/images/img_mobile_menu.png" alt="">
                <button type="button" class="close_menu"></button>
                <a href="#secondPage" class="menu1">사전예약</a>
                <a href="#3rdPage" class="menu2">탄생 is</a>
                <a href="#4thpage" class="menu3">아니마 is</a>
                <a href="#5thpage" class="menu4">공식카페</a>
            </div>
            <div class="inner">
                <h1 class="logo">
                    <a href="/static/index.html">
                        <img src="/static/images/img_logo.png" alt="소녀배틀">
                    </a>
                </h1>
                <div class="gnb" id="menu">
                    <ul>
                        <li data-menuanchor="secondPage">
                            <a href="#secondPage">
                                <img src="/static/images/img_menu01.png" alt="사전예약">
                                <img src="/static/images/img_menu01_on.png" class="on" alt="사전예약">
                            </a>
                        </li>
                        <li data-menuanchor="3rdPage">
                            <a href="#3rdPage">
                                <img src="/static/images/img_menu02.png" alt="탄생is">
                                <img src="/static/images/img_menu02_on.png"  class="on"alt="탄생is">
                            </a>
                        </li>
                        <li data-menuanchor="4thpage">
                            <a href="#4thpage">
                                <img src="/static/images/img_menu03.png" alt="아니마is">
                                <img src="/static/images/img_menu03_on.png" class="on" alt="아니마is">
                            </a>
                        </li>
                        <li data-menuanchor="5thpage">
                            <a  href="#5thpage">
                                <img src="/static/images/img_menu04.png" alt="공식카페">
                                <img src="/static/images/img_menu04_on.png" class="on" alt="공식카페">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
        <!-- :: end header-->
        <div id="fullpage">
            <div class="section" id="section0" name="section0">
                <div class="contents">
                    <img src="/static/images/img_section01_bg.png" class="bg_img is_pc" alt="아니마들의 달콤살벌한 전투가시작된다!">
                    <img src="/static/images/img_reserve_m.jpg" class="bg_img is_mobile" alt="아니마들의 달콤살벌한 전투가시작된다!">
                    <div class="content-img">
                        <img src="/static/images/img_section01_title.png" data-aos="fade-right" data-aos-duration="2000" alt="" class="title">
                        <div class="is_pc inner">
                            <img src="/static/images/img_section01_visual.png" data-aos="fade-left" data-aos-duration="2000" alt="" class="visual">
                        </div>
                        <div class="is_mobile inner">
                            <img src="/static/images/img_section01_visual_m.png" data-aos="fade-left" data-aos-duration="2000" alt="" class="visual">
                            <img src="/static/images/img_section01_logo_m.png"  class="logo" alt="logo"/>
                        </div>
                        <a href="#secondPage" class="btn_reserve is_pc">
                            사전예약
                            <img src="/static/images/btn_reserve.png" alt="사전예약 바로가기">
                        </a>
                        <a href="#secondPage" class="btn_reserve is_mobile">
                            사전예약
                            <img src="/static/images/btn_reserve_m.png" alt="사전예약 바로가기">
                        </a>
                    </div>
                </div>
            </div>
            <div class="section" id="section1" name="section1">
                <div class="contents">
                    <img  class="bg_img is_pc" src="/static/images/img_reserve2.jpg" alt="">
                    <img  class="bg_img is_mobile" src="/static/images/img_reserve2_m.jpg" alt="">
                    <div class="content-img">
                        <div class="inner-content">
                            <strong class="title-img" data-aos="fade-right" data-aos-duration="2000">
                                <img src="/static/images/img_title_reserve.png" alt="">
                            </strong>
                            <div class="input-section" data-aos="fade-left" data-aos-duration="2000">
                                <form action="" id="form">
                                    <img src="/static/images/bg_reserve_m.png" alt="" class="is_mobile">
                                    <div class="input-set">
                                        <input type="tel" id="phoneNumber" name="phoneNumber" maxlength="11" placeholder="- 없이 휴대폰 번호 입력">
                                        <button type="button" class="btn_result" onclick="dataValidation()">예약완료</button>
                                    </div>
                                    <div class="bottom-wrap">
                                        <div class="platform">
                                            <span class="box">
                                                <input type="radio" name="platform" value="1">
                                                <span><i><img src="/static/images/icon_apple.png" alt=""></i>IOS</span>
                                            </span>
                                            <span class="box">
                                                <input type="radio"  name="platform"  value="0">
                                                <span><i><img src="/static/images/icon_android.png" alt=""></i>ANDROID</span>
                                            </span>
                                        </div>
                                        <div class="agree-wrap">
                                            <div class="box">
                                                <p class="checkbox">
                                                    <input type="checkbox" id="privacyAgree" name="privacyAgree" value="1">
                                                    <label for="privacyAgree">
                                                        <span>개인정보 수집 및 이용동의</span>
                                                    </label>
                                                </p>
                                                <button type="button" onclick="popUtils.show('privacy')">▶ 자세히보기 ◀</button>
                                            </div>
                                            <div class="box">
                                                <p class="checkbox">
                                                    <input type="checkbox" id="noticeAgree" name="noticeAgree" value="1">
                                                    <label for="noticeAgree">
                                                        <span>이벤트 프로모션 알림 수신동의</span>
                                                    </label>
                                                </p>
                                                <button type="button" onclick=" popUtils.show('event')">▶ 자세히보기 ◀</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="pack-wrap" data-aos="fade-right" data-aos-duration="2000">
                                <img src="/static/images/img_pack.png" alt="사전예약 pack">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section" id="section2" name="section2">
                <div class="contents">
                    <img src="/static/images/img_section03_bg_m.png" class="bg_img is_mobile" alt="아니마들의 달콤살벌한 전투가시작된다!">
                    <img src="/static/images/img_section03_bg.png" class="bg_img is_pc" alt="아니마들의 달콤살벌한 전투가시작된다!">
                    <div class="content-img">
                        <div class="inner-content">
                            <strong class="title-img" data-aos="fade-right" data-aos-duration="2000">
                                <img src="/static/images/img_section03_title.png" alt="" data-aos="fade-left" data-aos-duration="2000">
                            </strong>
                            <img src="/static/images/img_section03_text.png" class="text is_pc" alt="" data-aos="fade-left" data-aos-duration="2000">
                            <img src="/static/images/img_section03_text.png" class="text is_mobile" alt="" data-aos="fade-left" data-aos-duration="2000">
                            <img src="/static/images/img_section03_visual.png" class="visual" alt=""data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" data-aos-duration="3000">
                        </div>
                    </div>
                </div>
            </div>
            <div class="section" id="section3" name="section3">
                <div class="contents">
                    <img src="/static/images/img_anima.jpg" class="bg_img is_pc" alt="아니마들의 달콤살벌한 전투가시작된다!">
                    <img src="/static/images/img_anima_m.jpg" class="bg_img is_mobile" alt="아니마들의 달콤살벌한 전투가시작된다!">
                    <div class="content-img">
                        <div class="inner-content">
                            <strong class="title-img" data-aos="fade-right" data-aos-duration="2000">
                                <img src="/static/images/img_title_slide.png" alt="" data-aos="fade-left" data-aos-duration="2000">
                            </strong>
                            <div class="slider-section" data-aos="fade-right" data-aos-duration="2000">
                                <div class="swiper-container slide-wrap">
                                    <ul class="swiper-wrapper">
                                        <li class="swiper-slide">
                                            <img src="/static/images/img_slide01.png" alt="">
                                        </li>
                                        <li class="swiper-slide">
                                            <img src="/static/images/img_slide02.png" alt="">
                                        </li>
                                        <li class="swiper-slide">
                                            <img src="/static/images/img_slide03.png" alt="">
                                        </li>
                                        <li class="swiper-slide">
                                            <img src="/static/images/img_slide04.png" alt="">
                                        </li>
                                        <li class="swiper-slide">
                                            <img src="/static/images/img_slide05.png" alt="">
                                        </li>
                                        <li class="swiper-slide">
                                            <img src="/static/images/img_slide06.png" alt="">
                                        </li>
                                        <li class="swiper-slide">
                                            <img src="/static/images/img_slide07.png" alt="">
                                        </li>
                                        <li class="swiper-slide">
                                            <img src="/static/images/img_slide08.png" alt="">
                                        </li>
                                    </ul>
                                    <button type="button" class="button-next">
                                        <img src="/static/images/next.png" alt="slide next">
                                    </button>
                                    <button type="button" class="button-prev">
                                        <img src="/static/images/prev.png" alt="slide prev">
                                    </button>
                                </div>
                            </div>
                            <div class="paginatin-wrap" data-aos="zoom-out-left" data-aos-duration="2000">
                                <img src="/static/images/img_page.png" class="is_pc" alt="">
                                <img src="/static/images/img_page_m.png" class="is_mobile" alt="">
                                <div class="pagination">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section" id="section4" name="section4">
                <div class="contents">
                    <img src="/static/images/img_cafe.jpg" class="bg_img is_pc" alt="아니마들의 달콤살벌한 전투가시작된다!">
                    <img src="/static/images/img_cafe_m.jpg" class="bg_img is_mobile" alt="아니마들의 달콤살벌한 전투가시작된다!">
                    <div class="content-img">
                        <a href="https://www.facebook.com/girlsbattleM/" class="btn_reserve">
                            공식페이스북
                            <img src="/static/images/btn_cafe.png" class="is_pc" alt="공식카페 바로가기">
                            <img src="/static/images/btn_cafe_m.png" class="is_mobile" alt="공식카페 바로가기">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- :: end contents-->
        <div class="pop-wrap">
            <div data-os>
                <img src="/static/images/img_pop_os.png" alt="">
                <button type="button" class="pop_close">닫기버튼</button>
            </div>
            <div data-phone>
                <img src="/static/images/img_pop_phone.png" alt="">
                <button type="button" class="pop_close">닫기버튼</button>
            </div>
            <div data-agree>
                <img src="/static/images/img_pop_agree.png" alt="">
                <button type="button" class="pop_close">닫기버튼</button>
            </div>
            <div data-result>
                <img src="/static/images/img_pop_result.png" alt="">
                <button type="button" class="pop_close result">닫기버튼</button>
                <a href="https://apps.apple.com/app/id1593198586" class="link link01"></a>
                <a href="https://play.google.com/store/apps/details?id=com.itoxi.girlsbattle" class="link link02"></a>
                <a href="http://onesto.re/0000759170" class="link link03"></a>
            </div>
            <div data-privacy>
                <img src="/static/images/img_pop_privacy.png" alt="">
                <button type="button" class="pop_close privacy">닫기버튼</button>
            </div>
            <div data-event>
                <img src="/static/images/img_pop_event.png" alt="">
                <button type="button" class="pop_close event">닫기버튼</button>
            </div>
        </div>
        <a href="#firstPage" class="top-btn is_mobile">
            <img src="/static/images/btn_top.png" alt="">
        </a>
        <footer class="footer">
            <div class="inner">
                ©2021 ITOXI, INC. 모든 권리는 ㈜아이톡시에 있습니다.
            </div>
        </footer>
        <!-- :: end footer-->
    </div>
</body>
<script src="/static/js/jQuery.js"></script>
<script src="/static/js/swiper.js"></script>
<script src="/static/js/jquery.fullPage.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="/static/js/common.js"></script>
</html>

