$blue : #0084d4;
$black : #000;
$white : #fff;

.wrapper {
    margin:0 auto;
    overflow: hidden;
}

.header-wrap {
    position: absolute;
    left:0;
    top:0;
    width:100%;
    .header {
        display: flex;
        max-width: 1040px;
        align-items: center;
        margin: 0 auto;
        .shingan-img {
            margin-left:auto;
        }
    }
}
.footer {
    padding:40px 0;
    background-color: #9f9f9f;
    p {
        max-width: 800px;
        margin:0 auto;
        font-size:14px;
        line-height:22px;
        color:#fff;
        white-space: pre-line;
        font-weight: bold;
    }
}

.content-wrap {
    background: linear-gradient(to bottom, #004a8f, #08062a);
    .content-inner {
        max-width: 800px;
        padding-top:142px;
        margin:0 auto;
        .title {
            text-align: center;
            strong {
                font-size:60px;
                line-height: 80px;
                font-family: "OneShinhanMedium";
                color:$white;
            }
            span {
                color:#f9f307;
                font-family: "OneShinhanMedium";
                i {
                    position: relative;
                    font-family: "OneShinhanMedium";
                    &::after {
                        display:block;
                        position: absolute;
                        left:50%;
                        transform: translateX(-50%);
                        top:-6px;
                        width:8px;
                        height: 8px;
                        background-color: #f9f307;
                        content: "";
                        border-radius: 100%;
                    }
                }
            }
        }
    }
}
.product-info {
    position: relative;
    display: flex;
    margin-top:68px;
    padding-bottom: 84px;
    .tit {
        position: absolute;
        left:50%;
        top:-20px;
        transform: translateX(-50%);
        width:134px;
        padding: 10px 0 6px 0;
        font-size:22px;
        line-height:24px;
        font-family: 'GmarketSansMedium';
        color:#fff;
        border-radius:24px;
        background-color: #027fff;
        text-align: center;
        box-shadow: 5px 5px 5px rgba(0 ,0 ,0 ,.3);
        z-index: 10;

    }
    .box {
        width: 50%;
        .inner {
            text-align: center;
            padding:20px 0 28px 0;
            background-color: $white;
            .tit-text {
                display: inline-block;
                margin-bottom: 30px;
                padding-bottom: 5px;
                font-size:42px;
                line-height:44px;
                font-family:"OneShinhanBold";
                border-bottom: 2px solid;
            }
            ul {
                display:flex;
                li {
                    width:33.33%;
                    p {
                        padding-top:62px;
                        font-size:12px;
                        line-height: 18px;
                        color:#818181;
                        font-family: 'GmarketSansMedium';
                        strong {
                            display: inline-block;
                            width: 100%;
                            margin-top:4px;
                            font-family: "GmarketSansBold";
                            font-size:19px;
                            line-height: 22px;
                            white-space: pre-line;
                        }
                    }
                }
            }
        }
    }
    .left-box {
        position: relative;
        &::after {
            display: block;
            position: absolute;
            right:-4px;
            top:50px;
            width:8px;
            height: 170px;
            border-radius: 20px;
            background-color: #112369;
            content: "";
        }
        .inner {
            border-radius: 20px 0 0 20px;
            .tit-text {
                color:#027fff;
                border-color: #027fff;
            }
            li {
                @each $obj in left01, left02,left03 {
                    &.#{$obj}{
                        p {
                            background: url(../img/icon_#{$obj}.png) no-repeat center top;
                        }
                    }
                }
                strong {
                    color:#027fff;
                }
            }

        }
    }
    .right-box {
        .inner {
            border-radius: 0 20px 20px 0;
            .tit-text {
                color:#112369;
                border-color: #112369;
            }
            li {
                @each $obj in right01, right02,right03 {
                    &.#{$obj}{
                        p {
                            background: url(../img/icon_#{$obj}.png) no-repeat center top;
                        }
                    }
                }
                strong {
                    color:#112369;
                }
            }
        }
        .link {
            margin-left: 10px;
            color:#112369;
            background: url(../img/img_right_arrow.png) no-repeat right 30px center #f9f307;
        }
    }
    .link {
        display: inline-block;
        padding:18px 0 16px 0;
        margin-top:35px;
        width:calc(100% - 10px);
        text-align: center;
        font-size: 28px;
        line-height: 34px;
        text-decoration: none;
        border-radius: 20px;
        font-family: 'GmarketSansMedium';
        color:#fff;
        background: url(../img/img_left_arrow.png) no-repeat right 30px center #106ddf;
        strong {
            font-weight: bold;
            font-size:38px;
            line-height: 40px;
            font-family: 'GmarketSansMedium';
        }
    }
}
.notice-wrap {
    padding:84px 0 88px 0;
    background-color: #f2f2f2;
    .inner-box {
        display: flex;
        flex-wrap: wrap;
        max-width: 800px;
        margin: 0 auto;
        background-color: #fff;
        border-radius: 20px;
        > .box {
            width:50%;
            padding:44px 0 54px 36px;
            > strong {
                display: inline-block;
                margin-bottom: 32px;
                padding-bottom: 4px;
                font-size:32px;
                font-family: "OneShinhanMedium";
                border-bottom: 2px solid;
                color:#027fff;
                border-color:#027fff;
                font-weight: bold;
            }
            &.right {
                position: relative;
                >strong {
                    color:#112369;
                    border-color:#112369;
                }
                &::after {
                    display:block;
                    position: absolute;
                    left:0;
                    top:36px;
                    width:1px;
                    height:calc(100% - 72px);
                    content: "";
                    background-color: #b2b2b2;
                }
            }
        }
        .text-box {
            font-size:16px;
            line-height: 24px;
            color: #000;
            white-space: pre-line;
            font-family: 'AppleSDGothicNeo', 'Noto Sans KR', sans-serif;
            transform: skew(-0.1deg);
            strong {
                display: inline-block;
                margin-bottom: 6px;
                font-family: 'AppleSDGothicNeo', 'Noto Sans KR', sans-serif;
                transform: skew(-0.1deg);
                width: 100%;
                font-size: 16px;
                line-height:26px;
                color:#000;
                font-weight: bold;
            }
            p {
                font-size:14px;
                line-height:20px;
                font-family: 'AppleSDGothicNeo', 'Noto Sans KR', sans-serif;
                transform: skew(-0.1deg);
            }
        }
        .bottom {
            position: relative;
            width: 100%;
            padding:50px 0 50px 36px;
            strong {
                display: inline-block;
                margin-bottom: 6px;
                font-family: 'AppleSDGothicNeo', 'Noto Sans KR', sans-serif;
                width: 100%;
                font-size: 16px;
                line-height:26px;
                color:#000;
                font-weight: bold;
            }
            p {
                position: relative;
                padding-left: 8px;
                font-size: 16px;
                line-height: 24px;
                color:#000;
                white-space: pre-line;
                font-family: 'AppleSDGothicNeo', 'Noto Sans KR', sans-serif;
                &::after {
                    display:block;
                    position: absolute;
                    left:0;
                    top:0px;
                    content: "·";
                    font-size: 16px;
                    line-height: 24px;
                    color:#000;
                    font-family: 'AppleSDGothicNeo', 'Noto Sans KR', sans-serif;
                }
            }
            &::after {
                display:block;
                position: absolute;
                left:36px;
                top:0px;
                width:calc(100% - 72px);
                height:1px;
                content: "";
                background-color: #b2b2b2;
            }
            .num {
                margin-top:50px;
                &::after{
                    display: none;
                }
            }
        }
    }
}