$blue : #0050b2;
$black : #000;
$white : #fff;
html {
    font-size: 10px;
}

.wrapper {
    margin:0 auto;
    max-width:768px;
    overflow: hidden;
}
.section01 {
    position: relative;
    a {
        position: absolute;
        left: 8%;
        bottom: 5%;
        width: 84%;
        height: 11%;
    }
}
.section02 {
    padding:8rem 6rem;
    background-color: $white;
    .title {
        margin-bottom:5rem;
        font-size:3.8rem;
        line-height:4rem;
        color:#222;
        font-family:OneShinhanLight;
        strong {
            font-family: OneShinhanBold;
            color:$blue;
        }
    }
    .desc {
        position: relative;
        padding-left:20rem;
        strong{
            display:inline-block;
            position: absolute;
            left:0;
            top:0;
            font-size:2.8rem;
            line-height:3.6rem;
            color:#222;
            font-weight: bold;
        }
        p{
            font-size:2.8rem;
            line-height:3.6rem;
            white-space: pre-line;
            color:#444;

        }
        + .desc {
            margin-top:3.8rem;
        }
    }
    .sub-text {
        margin-top:5rem;
        p{
            font-size:2.3rem;
            line-height:3rem;
            white-space: pre-line;
            color:#444;
        }
    }
}
.section03 {
    padding:8rem 0 3rem 6rem;
    background-color: #f0f0f0;
    strong {
        display:inline-block ;
        margin-bottom:3.2rem;
        font-size:3rem;
        color:#222;
        font-weight: bold;
    }
    p {
        position: relative;
        padding-left:1rem;
        font-size:2.2rem;
        line-height: 3rem;
        white-space: pre-line;
        &::after {
            display:block;
            position: absolute;
            left:0;
            top: 1.4rem;
            content: "";
            width:.3rem;
            height: .3rem;
            background-color: #333;
            line-height:3rem;
        }
        + p {
            margin-top:3.4rem;
        }
        + strong {
            margin-top:6rem;
        }
    }
    .num {
        margin-top:7rem;
        font-size:1.6rem;
        line-height:2.2rem;
        color:#666;
    }
}
.footer {
    padding:6rem 0 5rem 6rem;
    background-color: #222;
    p {
        font-size:2rem;
        line-height: 3.3rem;
        color:#999;
        white-space: pre-line;
    }
    strong{
        display:inline-block;
        margin-bottom:2.6rem;
        color:#999;
        font-size:3rem;
        line-height: 3.2rem;
        font-weight: bold;
    }
    .copy {
        margin-top:4.4rem;
        font-size:2rem;
        line-height: 3.3rem;
        color:#999;
    }

}
@media screen and (max-width: 768px) {
    html {
        font-size:10px;
    }
}
@media screen and (max-width: 726px) {
    html {
        font-size:9px;
    }
}
@media screen and (max-width: 680px) {
    html {
        font-size:8.5px;
    }
}
@media screen and (max-width: 615px) {
    html {
        font-size:8px;
    }
}
@media screen and (max-width: 580px) {
    html {
        font-size:7.5px;
    }
}
@media screen and (max-width: 540px) {
    html {
        font-size:7px;
    }
}
@media screen and (max-width: 500px) {
    html {
        font-size:6.5px;
    }
}
@media screen and (max-width: 470px) {
    html {
        font-size:6.3px;
    }
}
@media screen and (max-width: 450px) {
    html {
        font-size:6px;
    }
}
@media screen and (max-width: 430px) {
    html {
        font-size:5.5px;
    }
}
@media screen and (max-width: 400px) {
    html {
        font-size:5.3px;
    }
}
@media screen and (max-width: 380px) {
    html {
        font-size:5px;
    }
}
@media screen and (max-width: 360px) {
    html {
        font-size:4.6px;
    }
}




