@charset "utf-8";
/* fonts */
@font-face{
  font-family:'Noto Sans KR';
  font-style:normal;
  font-weight:300;
  src:url(../fonts/NotoSansKR-Light.woff2) format('woff2'),
       url(../fonts/NotoSansKR-Light.woff) format('woff'),
       url(../fonts/NotoSansKR-Light.otf) format('opentype');
}
@font-face{
   font-family:'Noto Sans KR';
   font-style:normal;
   font-weight:400;
   src:url(../fonts/NotoSansKR-Regular.woff2) format('woff2'),
        url(../fonts/NotoSansKR-Regular.woff) format('woff'),
        url(../fonts/NotoSansKR-Regular.otf) format('opentype');
}
@font-face{
   font-family:'Noto Sans KR';
   font-style:normal;
   font-weight:500;
   src:url(../fonts/NotoSansKR-Bold.woff2) format('woff2'),
        url(../fonts/NotoSansKR-Bold.woff) format('woff'),
        url(../fonts/NotoSansKR-Bold.otf) format('opentype');
}
/* reset */
html, body {width:100%;height:100%;}
body {padding:0;min-width:1200px;max-width:1920px;margin:0 auto;letter-spacing:-1px;font-weight:400;font-size:16px;line-height:1.2;color:#595959;font-family:"Noto Sans KR", "맑은 고딕", "Apple SD Gothic Neo", sans-serif;}
div {position:static;margin:0;padding:0}
h1,h2,h3,dl,dt,dd,p{margin:0;padding:0;}
ul,ol,li{list-style:none;margin:0;padding:0}
em{font-style:normal}
.logo {position:static;margin:0px;padding:0px;}
.main_visual {position:static;margin:0px;padding:0px;}
.button {position:static;margin:0px;padding:0px;background:none;border:0;cursor:pointer;font-family:"Noto Sans KR", "맑은 고딕", "Apple SD Gothic Neo", sans-serif;}
.product {position:static;margin:0px;padding:0px;}
.tel {position:static;margin:0px;padding:0px;}
.footer {position:static;margin:0px;padding:0px;}
.inner_wrap{position:relative;width:1200px;margin:auto;box-sizing:border-box;}

/* header */ 
.header{position:relative;z-index:3;}
.header .logo{position:absolute;top:58px;left:10px;}
.header .tel{position:absolute;top:58px;right:10px;font-size:17px;letter-spacing:-0.05em;color:#fff;}
.header .tel:before{content:'';display:inline-block;width:17px;height:17px;vertical-align:-2px;margin-right:12px;background:url(../images/pc/ico_phone.png) center/contain no-repeat;}

/* section */
.visual_area{position:relative;width:100%;z-index:2;overflow:hidden;}
.visual_slider{position:relative;min-height:1020px;background-color:#373737;z-index:1;}
.visual_slider .slider{min-height:1020px;background-position:center 0;background-size:cover;background-repeat:no-repeat;}
.visual_slider .slider:nth-child(1){background-image:url(../images/pc/bg_visual1.jpg)}
.visual_slider .slider:nth-child(2){background-image:url(../images/pc/bg_visual2.jpg)}
.visual_slider .slider:nth-child(3){background-image:url(../images/pc/bg_visual3.jpg)}
.visual_slider .txt_slide{position:absolute;left:50%;margin: 260px 0 0 -580px;}
.visual_slider .slick-dots {position:absolute;top:486px;left:50%;margin-left:-575px;z-index:999;}
.visual_slider .slick-dots li{display:inline-block;margin-right:10px;}
.visual_slider .slick-dots li button{display:block;width:10px;height:10px;padding:0;font-size:0;line-height:0;background:#fff;border:0 none;border-radius:50%;opacity:0.5}
.visual_slider .slick-dots .slick-active button{opacity:1}
.visual_info{position:absolute;top:240px;left:50%;margin-left:190px;z-index:2;}
.visual_info .visual_info_btn .button{display:block;position:relative;width:403px;height:102px;margin-bottom:18px;padding:0 40px 0 90px;font-size:18px;font-weight:bold;line-height:30px;letter-spacing:-0.05em;box-shadow: 3px 4px 6px #000;border-radius: 10px;text-align:left;box-sizing:border-box;}
.visual_info .visual_info_btn .button:before{position:absolute;top:25px;left:30px;}
.visual_info .visual_info_btn .button:after{content:'';position:absolute;top:0;bottom:0;right:30px;width:12px;height:12px;margin:auto;border-top:2px solid #fff;border-right:2px solid #fff;transform:rotate(45deg)}
.visual_info .visual_info_btn .button span{font-size:28px;letter-spacing:-0.08em;}
.visual_info .visual_info_btn .btn_limit{color:#fff;background:url(../images/pc/btn_limit.png) center/contain no-repeat;}
.visual_info .visual_info_btn .btn_limit:before{content:url(../images/pc/ico_limit.png)}
.visual_info .visual_info_btn .btn_apply{color:#000;background:url(../images/pc/btn_apply.png) center/contain no-repeat;}
.visual_info .visual_info_btn .btn_apply:before{content:url(../images/pc/ico_apply.png)}
.visual_info .visual_info_btn .btn_apply:after{border-color:#000;}
.visual_info .visual_info_txt{margin-top:45px;}
.visual_info_txt ul{width:400px;border-top:2px solid #fff;overflow:hidden;line-height:70px;color:#fff;}
.visual_info_txt em{width:100px;float:left;clear:both;padding-left:20px;font-size:24px;border-bottom:1px solid #999;}
.visual_info_txt p{width:260px;float:left;padding-right:20px;text-align:right;font-size:40px;font-weight:bold;border-bottom:1px solid #999;}
.visual_area:after{content:'';position:absolute;bottom:0;left:-75px;right:-75px;bottom:-260px;height:280px;background:#fff;box-shadow:0 -80px 60px rgba(255,255,255,1);z-index:2}

.info_area{width:1100px;margin:auto;padding-bottom:85px;}
.info_area h2{padding-top:65.5px;text-align:center;}
.info_area h2:before{content:'';display:block;width:30px;height:3px;margin:auto;background:#E2284A;margin-bottom:20px;}
.info_prd .product_info_prd{margin-top:38px;overflow:hidden;}
.info_prd li{position:relative;float:left;width:532px;height:176px;margin:8px;padding:32px 0 0 40px;border:1px solid #d7d7d7;border-radius:10px;box-sizing:border-box;}
.info_prd li:after{content:'';position:absolute;right:40px;top:0;bottom:0;margin:auto;}
.info_prd li:nth-child(1):after{height:97px;content:url(../images/pc/ico_info1.png);}
.info_prd li:nth-child(2):after{height:81px;content:url(../images/pc/ico_info2.png);}
.info_prd li:nth-child(3):after{height:88px;content:url(../images/pc/ico_info3.png);}
.info_prd li:nth-child(4):after{height:88px;content:url(../images/pc/ico_info4.png);}

.info_prd li strong{color:#BC3F34;font-size:28px;letter-spacing:-0.07em;}
.info_prd li p{margin-top:10px;color:#595959;font-size:22px;letter-spacing:-0.05em;line-height:34px;}
.info_prd li .desc{font-size:20px;}

.info_etc h2{padding-top:90px;}
.info_etc .product_info_etc{margin-top:50px;}
.info_etc li{overflow:hidden;font-size:0;border-bottom:1px solid #BC3F34;}
.info_etc li:last-child{border-width:2px;}
.info_etc strong{display:inline-block;width:230px;padding:20px 0 0 15px;font-size:28px;vertical-align:top;color:#BC3F34;line-height:34px;}
.info_etc p{display:inline-block;width:855px;padding:20px 0;font-size:22px;vertical-align:top;line-height:34px;}

.notice_area{background-color:#F6F6F6;}
.notice{width:1100px;margin:auto;padding-bottom:40px;}
.notice strong{display:block;padding-top:50px;color:#BC3F34;font-size:28px;}
.notice ul{padding-top:22px;}
.notice li{margin-left:16px;font-size:22px;line-height:38px;text-indent:-16px;}
.notice li:before{content:'·';margin-right:10px;}
.notice .deli{margin-left:16px;padding-top:20px;}
.notice p{font-size:22px;line-height:38px;}

/* footer */
.footer{background-color:#4c4c4c;}
.footer .inner_wrap{color:#fff;padding:60px 0 50px;}
.footer strong{position:absolute;left:10px;top:75px;}
.footer address,.footer .copy{margin-left:400px;padding:0;font-size:18px;color:#fff;opacity:0.8;font-style:normal;line-height:30px;letter-spacing:-0.05em;font-weight:300}
