html, body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
}

.content {
  padding-bottom: 80px;
}

.full-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
}

.full-page .map {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  padding: 10px 0;
  border-bottom: 1px solid #cccccc;
}

.header .logo img {
  width: 94px;
  height: auto;
}

.header .right {
  position: absolute;
  right: 10px;
  top: 50%;
}

.header .right button {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 15.5px;
  height: 15.5px;
  background: url(../img/icon_search2.png) no-repeat center/cover;
}

.header .right button.close {
  position: relative;
  background: none;
}

.header .right button.close::after {
  display: block;
  position: absolute;
  left: 6px;
  top: -6px;
  width: 2px;
  height: 100%;
  background-color: #8ecdc5;
  content: "";
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}

.header .right button.close::before {
  display: block;
  position: absolute;
  left: 6px;
  top: -6px;
  width: 2px;
  height: 100%;
  background-color: #8ecdc5;
  content: "";
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
}

.header .left {
  position: absolute;
  left: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header .left button {
  position: relative;
}

.header .left button span {
  display: block;
  width: 22px;
  height: 2px;
  background-color: #8ecdc5;
}

.header .left button span + span {
  margin-top: 4px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 16px 42px 24px 0;
  background: #8ecdc5;
}

.footer a {
  width: 20%;
  padding-top: 26px;
  font-size: 12px;
  line-height: 14px;
  color: #fff;
  text-align: center;
}

.footer a.home {
  background: url(../img/icon_home.png) no-repeat top center;
  background-size: auto 22px;
}

.footer a.deal {
  background: url(../img/icon_deal.png) no-repeat top center;
  background-size: auto 22px;
}

.footer a.sale {
  background: url(../img/icon_sale.png) no-repeat top center;
  background-size: auto 22px;
}

.footer a.youtube {
  background: url(../img/icon_youtube.png) no-repeat top center;
  background-size: auto 22px;
}

.footer a.like {
  background: url(../img/icon_like.png) no-repeat top center;
  background-size: auto 22px;
}

.footer .more {
  position: absolute;
  right: 13px;
  top: 20px;
  width: 6px;
  height: 28px;
  background: url(../img/bg_more.png) no-repeat center/cover;
}

.navi {
  position: fixed;
  left: -100%;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.navi .dim {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.33);
}

.navi .inner {
  position: relative;
  background: #fff;
  width: calc(100% - 100px);
  height: 100%;
  z-index: 10;
}

.navi .email {
  position: relative;
  padding: 16px 50px 16px 10px;
  font-size: 14px;
  line-height: 16px;
  background: #f1f1f1;
}

.navi .email button {
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background: url(../img/icon_setting.png) no-repeat center/cover;
}

.navi .title {
  padding: 12px 20px;
  border-bottom: 1px solid #cacaca;
}

.navi .title span {
  display: inline-block;
  padding-left: 28px;
  font-size: 18px;
  line-height: 22px;
  color: #000;
  font-weight: 700;
  background: url(../img/icon_naviTit.png) no-repeat left center;
  background-size: auto 20px;
}

.navi .depth-list > li {
  border-bottom: 1px solid #cacaca;
}

.navi .depth-list > li > a {
  display: inline-block;
  width: 100%;
  padding: 15px;
  font-size: 18px;
  line-height: 20px;
  color: #000;
}

.navi .depth-list .depth > a {
  background: url(../img/arrow_down.png) no-repeat center right 15px;
  background-size: auto 11px;
}

.navi .depth-list .depth > a.active {
  background: url(../img/arrow_top.png) no-repeat center right 15px;
  background-size: auto 11px;
}

.navi .depth-list .depth ul {
  display: none;
  padding: 26px 23px;
}

.navi .depth-list .depth ul li a {
  font-size: 12px;
  line-height: 14px;
  color: #000;
}

.navi .depth-list .depth ul li + li {
  margin-top: 15px;
}

.navi.active {
  left: 0;
}

.splash-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  padding-bottom: 200px;
  background-color: #8ecdc5;
}

.splash-wrap img {
  width: 50px;
  opacity: 0;
}

.splash-wrap.active img {
  width: 270px;
  opacity: 1;
  -webkit-transition: all .8s;
  transition: all .8s;
}

.main {
  background: #bdebe7;
  padding: 0 16px 30px 16px;
}

.main .top-logo {
  padding: 40px 0;
  text-align: center;
}

.main .top-logo h1 img {
  width: 180px;
}

.search-wrap {
  position: relative;
  margin-bottom: 50px;
  background: #fff;
  border-radius: 24px;
  padding: 15px 50px 15px 20px;
  -webkit-box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.33);
          box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.33);
}

.search-wrap input {
  width: 100%;
  outline: none;
  font-size: 15px;
  font-weight: 700;
  line-height: 16px;
  color: #000;
}

.search-wrap button {
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 24px;
  height: 24px;
  background: url(../img/icon_search.png) no-repeat center/cover;
}

.menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -16px 0 0 -25px;
}

.menu-list li {
  width: calc(50% - 25px);
  margin: 16px 0 0 25px;
  border-radius: 22px;
  padding: 42px 0 42px 85px;
  -webkit-box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.33);
          box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.33);
}

.menu-list li a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.menu-list li a strong {
  font-size: 18px;
  line-height: 24px;
  color: #000;
  font-weight: 700;
}

.menu-list li.menu01 {
  background: url(../img/icon_menu01.png) no-repeat center left 18px #fff;
  background-size: 0;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.menu-list li.active {
  background-size: 62px auto;
}

.menu-list li.menu02 {
  background: url(../img/icon_menu02.png) no-repeat center left 18px #fff;
  background-size: 0;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.menu-list li.active {
  background-size: 62px auto;
}

.menu-list li.menu03 {
  background: url(../img/icon_menu03.png) no-repeat center left 18px #fff;
  background-size: 0;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.menu-list li.active {
  background-size: 62px auto;
}

.menu-list li.menu04 {
  background: url(../img/icon_menu04.png) no-repeat center left 18px #fff;
  background-size: 0;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.menu-list li.active {
  background-size: 62px auto;
}

.menu-list li.menu05 {
  background: url(../img/icon_menu05.png) no-repeat center left 18px #fff;
  background-size: 0;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.menu-list li.active {
  background-size: 62px auto;
}

.menu-list li.menu06 {
  background: url(../img/icon_menu06.png) no-repeat center left 18px #fff;
  background-size: 0;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.menu-list li.active {
  background-size: 62px auto;
}

.fixed-menu {
  position: absolute;
  right: 18px;
  top: 15px;
}

.fixed-menu a {
  display: block;
  width: 50px;
  padding: 22px 0 8px 0;
  border-radius: 15px;
  -webkit-box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.33);
          box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.33);
  font-size: 10px;
  line-height: 14px;
  color: #5e5e5e;
  text-align: center;
}

.fixed-menu a + a {
  margin-top: 12px;
}

.fixed-menu a.menu01 {
  background: url(../img/map_menu01.png) no-repeat center top 5px #fff;
  background-size: auto 15px;
}

.fixed-menu a.menu02 {
  background: url(../img/map_menu02.png) no-repeat center top 5px #fff;
  background-size: auto 15px;
}

.fixed-menu a.menu03 {
  background: url(../img/map_menu03.png) no-repeat center top 5px #fff;
  background-size: auto 15px;
}

.fixed-menu a.menu04 {
  background: url(../img/map_menu04.png) no-repeat center top 5px #fff;
  background-size: auto 15px;
}

.fixed-menu a.menu05 {
  background: url(../img/map_menu05.png) no-repeat center top 5px #fff;
  background-size: auto 15px;
}

.total-box {
  position: relative;
  padding-right: 36px;
}

.total-box p {
  position: relative;
  padding: 11px 8px;
  font-size: 12px;
  line-height: 14px;
  color: #989898;
  font-weight: 300;
}

.total-box p span {
  font-weight: 900;
  color: #8ecdc5;
}

.total-box .bg {
  position: absolute;
  right: 0;
  top: 0;
  width: 36px;
  height: 36px;
  background: url(../img/icon_satellite.png) no-repeat center #000;
  background-size: 16.5px auto;
}

.filter {
  padding: 8px 15px;
  background-color: #8ecdc5;
}

.filter .inner-box {
  padding: 8px 52px 8px 8px;
  text-align: center;
  font-size: 12px;
  line-height: 14px;
  color: #989898;
  background: url(../img/bg_filter.png) no-repeat right 2px center #fff;
  background-size: auto 28px;
}

.section {
  padding-bottom: 30px;
}

.section .title {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 16px;
  color: #000;
  font-weight: 800;
}

.section .check-tit {
  font-weight: 800;
}

.section + .monthly {
  display: none;
}

.section + .monthly.active {
  display: block;
}

.section + .section {
  position: relative;
  padding-top: 40px;
}

.section + .section::after {
  display: block;
  position: absolute;
  left: -10px;
  top: 0;
  width: calc(100% + 20px);
  height: 8px;
  background-color: #dbdbdb;
  content: "";
}

.filter-section {
  position: fixed;
  right: -100%;
  top: 54px;
  width: 100%;
  height: calc(100% - 54px);
  padding: 20px 10px 0 10px;
  background-color: #fff;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.filter-section .search-wrap {
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 0 30px 0 0;
  margin-bottom: 26px;
}

.filter-section .search-wrap input {
  padding: 0 10px;
  height: 30px;
  border: 2px solid #8ecdc5;
  font-size: 12px;
}

.filter-section .search-wrap button {
  right: 0;
  top: 0;
  width: 30px;
  height: 30px;
  -webkit-transform: none;
          transform: none;
  background: url(../img/icon_filter_search.png) no-repeat center/cover;
}

.filter-section.active {
  right: 0;
}

.input-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.input-wrap .input-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}

.input-wrap .input-set input {
  width: 100%;
  height: 30px;
  padding: 0 10px;
  font-size: 14px;
  line-height: 16px;
  color: #000;
  border: 1px solid #939393;
}

.input-wrap .input-set span {
  display: inline-block;
  margin-left: 4px;
  font-size: 12px;
  line-height: 14px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  color: #000;
}

.input-wrap .dash {
  display: inline-block;
  margin: 0 10px;
  font-size: 12px;
  line-height: 30px;
  color: #000;
}

.check-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #cacaca;
}

.check-wrap .checkbox {
  position: relative;
  width: 50%;
}

.check-wrap .checkbox input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.check-wrap .checkbox input:checked + span {
  background-color: #000;
  color: #fff;
}

.check-wrap .checkbox span {
  display: inline-block;
  width: 100%;
  padding: 12px 0;
  font-size: 14px;
  line-height: 16px;
  font-weight: 800;
  color: #000;
  text-align: center;
}

.tab_cont {
  display: none;
}

.tab_cont.active {
  display: block;
}
/*# sourceMappingURL=style.css.map */