html, body { height: 100%; }

html { font-size: 10px; min-height: 100%; }

.wrapper { overflow: hidden; position: relative; padding-top: 106%; }

.header { padding: 8px 0; text-align: center; background-color: #fff; -webkit-box-shadow: 1px 1px 3px #cddad0; box-shadow: 1px 1px 3px #cddad0; }

.header a img { width: 118px; }

.footer { background-color: #f5f5f5; }

.footer .inner { padding: 6% 3%; }

.footer .title { padding-left: 20px; display: inline-block; font-size: 4vw; margin-bottom: 2%; color: #333; font-family: 'Noto Sans KR'; font-weight: 800; background: url(../img/img_dot.png) no-repeat left center/15px auto; }

.footer .dot { position: relative; color: #64666c; font-size: 3vw; line-height: 5vw; padding-left: 4px; font-weight: 500; color: #666; font-family: 'Noto Sans KR'; font-weight: 400; }

.footer .dot::after { position: absolute; left: 0; top: 10px; width: 2px; height: 2px; content: ""; display: block; background-color: #666; }

.footer .top { display: -webkit-box; display: -ms-flexbox; display: flex; }

.footer .top span { margin-left: auto; font-size: 1.5vw; line-height: 4vw; color: #64666c; font-family: 'Noto Sans KR'; font-weight: 500; }

.footer .bottom { padding-top: 35px; }

.footer .bottom > strong { font-size: 3.5vw; color: #555; font-family: 'Noto Sans KR'; font-weight: 800; }

.footer .bottom p { margin-top: 6px; font-size: 3vw; line-height: 4.5vw; color: #808080; font-family: 'Noto Sans KR'; font-weight: 400; }

.footer .bottom .text-list { margin-top: 12px; }

.footer .bottom .text-list span { display: inline-block; font-size: 3vw; line-height: 3.5vw; color: #808080; font-family: 'Noto Sans KR'; font-weight: 400; }

.footer .bottom .text-list span.bold { font-weight: 600; }

.footer .bottom .text-list span + span { margin-left: 2vw; }

.footer .bottom .text-list span:last-child { margin: 0; }

.wrapper.active { padding-top: 80%; }

.section { position: fixed; left: 0; top: 0; z-index: 100; }

.section img { width: 100%; }

.section .top { padding: 5% 0 6% 0; background-color: #26bc89; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.section .wrap { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding-top: 45%; position: relative; }

.section .wrap.active { width: 77%; padding: 6% 0; }

.section .wrap.active .inner { position: relative; padding-left: 25%; }

.section .wrap.active .title { width: 100%; margin: 0 0 0 3%; }

.section .wrap.active .visual { left: 0; top: 50%; -webkit-transform: translateX(0) translateY(-50%); transform: translateX(0) translateY(-50%); width: 29.5%; max-width: 72px; }

.section .inner { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.section .visual { position: absolute; left: 50%; top: 0; -webkit-transform: translateX(-50%); transform: translateX(-50%); width: 39.5%; margin-bottom: 5%; -webkit-transition: top,left, width .1s; transition: top,left, width .1s; }

.section .title { display: block; width: 59%; margin-bottom: 6%; -webkit-transition: all .5s; transition: all .5s; }

.section a { width: 77%; }
/*# sourceMappingURL=style.css.map */